[2017-12-25 04:06] eliangcs commented on #568
I also vote not to rename. Even though applications can break if two apps depend on different versions of prompt_toolkit, users are able to fix it by creating two separate virtualenvs. People using these apps are developers, they should be able to do that without too much effort.

[2017-12-25 07:03] meeuw commented on #568
@Fale I believe you're the Red Hat / Fedora package maintainer for prompt_toolkit, could you please give your opinion about this?

[2017-12-25 11:05] Carreau commented on #568
No I was not suggesting renaming the old version. I was suggesting re-releasing prompt_toolkit version 1 under another name, so that packages that packages that do not want to spend time upgrading can just require this new version and a do a search an replace.

Same a [readline](https://pypi.python.org/pypi/readline) which is also available a [gnureadline](https://pypi.python.org/pypi/gnureadline)

[2017-12-25 12:12] return42 commented on #568
I was interested in reading all the the contributions to this topic. But now I can't hold on ;)

Using [Semantic Versioning](https://semver.org/) scheme, changed APIs are released with major versions. This is what PT v2.0.0 means [(see here).](http://the-hitchhikers-guide-to-packaging.readthedocs.io/en/latest/specification.html#sequence-based-scheme). If a project needs API from major release v1.m

[2017-12-30 18:56] jonathanslenders commented on #568
@return42: it is possible that certain bug fixes will still be applied to the 1.0 branch, but I'd like to move as much as possible to the 2.0 branch. Maintaining two branches takes a lot of time.

[2017-12-30 19:35] Carreau commented on #568
If you need/want to backport, I can enable the Jupyter bot on your repo.
When an appropriately milestoned pr is merged in master, it autogenerate
the pr with the backport.

On Dec 30, 2017 19:56, "Jonathan Slenders" <notifications@github.com> wrote:

[2018-01-04 06:12] randy3k opened #570 "cursor position reset after scrolling screening when using 2.0 branch"
I have been using prompt-toolkit to develop a console for the R language: https://github.com/randy3k/Rice

Recently, I was told that the cursor position is automatically reset when a user tries to scroll screen via a terminal emulator: https://github.com/randy3k/rice/issues/31

The following is a screenshot of the demonstration of the issue
![jan-04-2018 00-59-52](https://user-images.githubusercon

[2018-01-06 09:55] RobertoPrevato opened #571 "Examples seem to be out of date"
Hi,
I am trying to use examples in the documentation, but many of them seem to be out of date. For example:

[code]

causes exception: "AttributeError: type object 'Style' has no attribute 'from_dict'". I had issues with most of the examples I tried so far, but had satisfaction following this article: [4 Python libraries for building great command-line user interfaces](https://opensource.com/artic

[2018-01-06 11:02] RobertoPrevato commented on #571
For people who may end up on this page, I just noticed that here there is a different example of the same feature, here: [https://python-prompt-toolkit.readthedocs.io/en/master/pages/building_prompts.html#](https://python-prompt-toolkit.readthedocs.io/en/master/pages/building_prompts.html#)

[2018-01-06 15:04] jonathanslenders commented on #571
Hi @RobertoPrevato,

The examples that you see are coming from the 2.0 branch. This is the newest prompt_toolkit which has not yet been released. Check out the examples on the master branch for the current version.

[2018-01-06 15:11] RobertoPrevato commented on #571
Hi @jonathanslenders,
Thanks for the quick reply, I didn't understand that the version 2.0 was not public, yet. Everything is clear now. The work you did with prompt toolkit is amazing!

Kind Regards,
Roberto

[2018-01-06 15:11] #571 closed

[2018-01-06 18:50] RobertoPrevato commented on #571
Maybe it would be best to mention this in the README. For example, explaining that, to try the latest examples before the release one can use this command to install the package:

[code]

Instead of:
[code]

[2018-01-07 17:05] rovitotv opened #572 "print_formatted_text example from documentation doesn’t work for html"
I am new to python-prompt-toolkit so I am carefully reading the documentation and have discovered that the example in the “stable” manual for version 1.0.15 that ships with Anaconda for both Python 3.6.4 and Python 2.7

[link to manual on read the docs](http://python-prompt-toolkit.readthedocs.io/en/stable/pages/printing_text.html)

produce this traceback when you fun them.

[code]

I have a suspi

[2018-01-07 17:28] jonathanslenders commented on #572
Hi @rovitotv,

Thanks for pointing out!
It looks like readthedocs uses the default branch for the documentation. This is the documentation for the 2.0 branch, which has not yet been released. (It will be released in the next couple of months).
Either you have to install the 2.0 branch manually (it's not yet on Pypi), or look for the documentation in the master branch. I'll see whether it's not too

[2018-01-20 13:18] windelbouwman commented on #568
Stick with the current name. Package managers should deal with this issue by setting a proper version range.

[2018-01-20 22:33] windelbouwman opened #575 "Thanks"
Hello Jonathan,

Thanks for creating this cool thing! I just used it to create the ppci_explorer: https://bitbucket.org/windel/ppci/src/6fca01e39219559f521bda4434e1e050ab6a53e2/tools/ppci_explorer.py?at=default&fileviewer=file-view-default

When will version 2.0 be released with improved fullscreen app support?

Regards,
Windel

[2018-01-21 20:56] jonathanslenders commented on #575
Hi Windel,

That looks good. Version 2.0 should be released somewhere in the next couple of months, when its stable. I hope at least before PyCon US. I'm in the progress of converting a couple of tools to 2.0, like pyvim and pymux, and while doing so, I can test the stability of the 2.0 release.

Jonathan

[2018-01-21 23:35] asmeurer commented on #575
Do you have any plans to put out an alpha release? I don't want to spend the time converting my code until it's stable, but I would also like to be able to have any potential issues in 2.0 in a released version.

[2018-01-23 21:57] #570 closed

[2018-01-24 12:46] sander76 opened #578 "pip install prompt_toolkit does not install version 2?"
`pip install prompt_toolkit` does install version 1.0.15.
I could have missed something, but the latest is version 2 isn't it ?

[2018-01-24 12:55] sander76 commented on #578
Cloned the github repo and installed from there. I am on 2 now !

[2018-01-24 12:55] #578 closed

[2018-01-27 04:39] kovidgoyal commented on #192
And here is code you can add to your ipython_config.py to avoid needing to patch prompt_toolkit

[code]

[2018-01-27 04:42] kovidgoyal commented on #192
@jonathanslenders The vast majority of terminals support the escape code of the form `<ESC>[<number><space>q` for changing cursor shapes (the most glaring exception I know of on linux is konsole). The ones that dont should really be fixed to support it. It is documented here: http://invisible-island.net/xterm/ctlseqs/ctlseqs.html (see the q CSI escape code)

[2018-01-27 05:16] kovidgoyal commented on #192
And here is modified code for ipython_config.py that also allows mapping of jj to exit insert mode:

[code]

[2018-01-27 06:07] sassanh commented on #192
The only thing that remains for me is preserving the input mode, currently new prompt line always comes in insert mode, but I want it to preserve the input mode from last line. Do you have any idea for that?

[2018-01-27 06:29] kovidgoyal commented on #192
No idea, as I dont need this, I have not spent the time to look, but probably this belongs in ipython not prompt_toolkit as presumably state between consecutive prompts is not stored in prompt toolkit but in whatever program is calling it.

[2018-01-27 13:22] jonathanslenders commented on #575
Hi @asmeurer,
You can install it as follows:
[code]
I hope to push a release soon.

[2018-01-28 00:42] xmijo commented on #575
Discovered prompt-toolkit today and I'm loving it, thanks for making this. Came here to check on progress of the new version with improved fullscreen app support and delighted to see it's in the works. Hoping the new version will also come with documentation for methods of integrating fullscreen apps with asyncio, that would be much appreciated as well. Thanks again

[2018-01-29 18:44] randy3k commented on #568
I'd vote for renaming it. As a large number of users are ipython users which do not know how to install two versions of a package. Restricting themselves to 1.0 means that they will not be able to install tools which uses prompt-toolkit 2.0.

[2018-01-29 18:48] takluyver commented on #568
Ipython will probably upgrade to pt version 2 when it's available.

On 29 Jan 2018 6:44 p.m., "Randy Lai" <notifications@github.com> wrote:

I'd vote for renaming it. As a large number of users are ipython users
which do not know how to install two versions of a package. Restricting
themselves to 1.0 means that they will not be able to install tools which
uses prompt-toolkit 2.0.

—
You are receiv

[2018-01-30 19:30] windelbouwman commented on #568
Maybe a third option might be to create a deprecated adapter for the version 1 style API. When user use this API, a deprecation warning is given.

[2018-01-31 07:41] jonathanslenders opened #581 "Render issue on powershell because of wrong code page"
See: https://github.com/dbcli/mssql-cli/issues/111

[2018-02-01 17:30] skywind3000 opened #582 "examples/text_editor.py exception on windows (prompt-toolkit 2.0)"
command:
[code]

result:
[code]

[2018-02-02 16:15] ahundt commented on #568
How difficult would it be to just add legacy API adaptors which include a warning and a transition date a year from release?

Then there is no breakage, no rename. :-)

A great example of this is in Keras https://github.com/keras-team/keras/tree/master/keras/legacy

[2018-02-07 12:28] imomaliev opened #584 "Add "ptrepl - Run command as REPL" to README"
Hi, I would like to add my project https://github.com/imomaliev/ptrepl to README.

It is still WIP, but already ready to use.

[2018-02-07 13:29] sander76 opened #585 "No input in Win10 Asyncio"
See code below.
I get the prompt. But I cannot enter any test into it...

[code]

[2018-02-07 18:17] jonathanslenders commented on #584
Sure, can you make a pull request?

[2018-02-07 18:20] jonathanslenders commented on #585
Thanks for noticing this! The code looks fine and I can reproduce this issue. I'll have a look.

[2018-02-07 18:26] jonathanslenders commented on #582
Hi @skywind3000,

I'm not able to reproduce this. Can you make sure that you have the latest prompt_toolkit (the 2.0  branch)? If this still raises an exception,  then it would be great if you could print the values of the assertion which fails.

Thanks!

[2018-02-08 02:30] imomaliev commented on #584
@jonathanslenders Sure, #586

[2018-02-08 05:57] imomaliev commented on #584
@jonathanslenders Btw, I wanted to thank you for this awesome project! And also ask, do you know any python libraries for bash like history manipulation, and PS1 parsing, because currently for my project I had to write them myself.

[2018-02-08 06:43] jonathanslenders commented on #584
Hi @imomaliev, thanks!

For PS1 prompt parsing, check either Pyte or this function: https://github.com/jonathanslenders/python-prompt-toolkit/blob/2.0/prompt_toolkit/formatted_text.py#L293
It's not really easy, because a PS1 prompt can be any sequence of VT100 escapes.

For bash like history completion, I'm not exactly sure what you mean.

[2018-02-08 06:49] imomaliev commented on #584
@jonathanslenders I meant history expansion http://structure.usc.edu/bash/bashref_9.html#SEC115.
Also I think you would be interested to know about this project - https://github.com/xonsh/py-bash-completion python interface for bash completion which is used in xonsh.

[2018-02-08 11:17] sander76 opened #587 "multiline toolbar"
Not really an issue. But is there a possibility to have a bottom toolbar consisting of two lines ?
adding "\n" to the string did not work...

[2018-02-08 17:46] windelbouwman commented on #568
Another example is in the django project where api's are deprecated for several versions.

[2018-02-10 11:05] jonathanslenders commented on #587
Hi @sander76, thanks for creating the issue.
I think it should have been solved in this commit: https://github.com/jonathanslenders/python-prompt-toolkit/commit/b9f6f0f74bc31e35004b553d39db9e275a091cb0
Could you try this?

[2018-02-10 11:09] jonathanslenders commented on #585
Hi @sander76,

The problem here was that prompt_toolkit didn't know it had to use the asyncio event loop. It was still using the internal loop which wasn't running.

Try calling ``use_asyncio_event_loop()`` at the start of your application, like here:
https://github.com/jonathanslenders/python-prompt-toolkit/blob/2.0/examples/prompts/asyncio-prompt.py#L61

Does that work?

[2018-02-13 00:42] klydream opened #589 "how to install prompt-toolkit-2.0.0?"
Even i clone from github, and build, install and I got the version is still 1.0.9

[2018-02-13 07:44] jonathanslenders commented on #589
Hi @klydream,
Can you try to make sure you have the 2.0 branch checked out? ``git checkout 2.0``.
Then run ``python setup.py install``.

[2018-02-13 07:46] jonathanslenders commented on #584
Hi @imomaliev,
History expension like Bash is not supported by prompt_toolkit yet. However, it can probably build on top by creating a custom Completer object. Thanks for the link to Xonsh.

[2018-02-13 10:29] imomaliev commented on #584
@jonathanslenders Understood, thanks!

[2018-02-13 10:29] #584 closed

[2018-02-15 06:24] sander76 commented on #587
Works!

[2018-02-15 06:24] #587 closed

[2018-02-15 12:33] samisalkosuo opened #591 "Add clipwdmgr to "Projects using prompt_toolkit""
[Command Line Password Manager](https://github.com/samisalkosuo/clipasswordmgr) (clipwdmgr) is using prompt_toolkit.

Please add to "Projects using prompt_toolkit".

Thanks! :-)

[2018-02-15 19:38] jonathanslenders commented on #591
Hi @samisalkosuo, nice project! Could you create a pull request for this?

[2018-02-16 05:55] samisalkosuo commented on #591
Done :-)

[2018-02-16 05:55] #591 closed

[2018-02-16 07:42] sander76 commented on #585
👍

[2018-02-16 07:42] #585 closed

[2018-02-16 18:23] jonathanslenders commented on #559
Fixed here: https://github.com/jonathanslenders/python-prompt-toolkit/commit/6fbe54116b90eb2559b00c427d89b593cb836d41

[2018-02-18 17:37] c-bata opened #593 "Add "go-prompt" on README"
Hi @jonathanslenders !
First of all, thanks for this awesome library.

I develop an interactive prompt library in Go which is inspired by python-prompt-tolkit.
https://github.com/c-bata/go-prompt

I know this doesn't match a project using python-prompt-toolkit, but I'd like to ask for your consideration.

Thanks.

[2018-02-19 07:40] tatsujin1 opened #595 ""end" completion if unique"
How can I achieve this behavior? Probably this only applies for `complete_while_typing=True`.

Usually, while the completion is not unique the list of completions is shown. If I type something more that list is updated to show the now matching completions.

This is all great.  :)

However, if what I've typed (so far) has only a single completion (i.e. it's unique) - and I press TAB - I want that c

[2018-02-19 18:49] hargoniX opened #596 "Example not working"
https://github.com/jonathanslenders/python-prompt-toolkit/blob/2.0/examples/dialogs/input_dialog.py

This example is not working for me. Just did a fresh install, some other examples did but this one throws
[code]

[2018-02-19 20:36] asmeurer commented on #596
That file is from the 2.0 branch, which has several API changes, but master and the latest release are pre-2.0.

[2018-02-19 20:49] asmeurer commented on #595
I don't know about 2.0, but this is already how completions work for me, at least for complete_while_typing=False.

For the space, I think you just need to add a space to the end of the item in the completion list, so that it gets inserted along with the rest of the text.

[2018-02-20 07:32] tatsujin1 commented on #595
Yes, but it seems the trick here is to achieve this behavior also for `complete_while_typing=True`. With it `False` the completion list is hidden for each typed key, so when enough is typed for it to be unique there isn't a completion list to begin with.

All the PT examples I've tried (with it set to `True`) has the same behavior (thankfully); for completion to end, a space (or something) must be

[2018-02-20 16:42] markfink opened #597 "prompt, Prompt, Application, ... inconsistency"
prompt docstring states: "Display the prompt. All the arguments are the same as for the
        :class:`~.Prompt` class.".
... but what happened to **input**, and **output**? Or am I doing something wrong?

I was expecting prompt to properly **assemble** and then **run** an application.

but somehow prompt does something interesting :) but difficult to grasp:

[code]

I liked "create_prompt_applic

[2018-02-20 21:36] markfink commented on #597
thank you for the explanation.
prompt.prompt does not have input / output. I am quite sure since I got an exception. My understanding from the docstring was that you want to have them consistent. A testcase could help to make sure of it

[2018-02-21 07:15] markfink opened #598 "question: a more useful version of DummyOutput() for testing"
with prompt_toolkit v1.0 I used PtyProcess for testing and a regex to remove the ansi escapes from the output. the result was pretty straight forward and I could use it for testing.
with prompt_toolkit v2.0 my results following this approach are not usable any more. I assume that has to do somehow with PT2 using ansi escapes differently in output. I am now thinking of a special version of DummyOut

[2018-02-22 16:24] tatsujin1 opened #599 "open_in_editor deletes the file before opening editor"
For me -  running in synch mode, i.e.not asynch :) - the parameter `enable_open_in_editor` works the first time. But the second time it's invoked. The temp file is deleted before the editor is launched.

[buffer.py#L1348](https://github.com/jonathanslenders/python-prompt-toolkit/blob/2.0/prompt_toolkit/buffer.py#L1348)

I added some logging around the above line, and it seems that the second time

[2018-02-23 19:08] jonathanslenders commented on #597
Fixed in: https://github.com/jonathanslenders/python-prompt-toolkit/commit/cdf6790752cb114b09b7c04adf7f6c9365b69cec
Thanks for pointing out, @markfink !

[2018-02-23 21:31] jonathanslenders commented on #598
Hi @markfink,

I'm not sure what changed that makes using PtyProcess now impossible. Could you share the code which doesn't work anymore?  (I don't recall any changes to the renderer.)
You could inherit from ``DummyOutput`` and override the ``write`` and ``write_raw`` functions.
However, remember, that without having full vt100 emulation in your unit test, a test that relies on the order of write

[2018-02-23 21:53] jonathanslenders commented on #599
Hi @tatsujin1,

That looks like a bug indeed. Thanks a lot for reporting!
I could not reproduce it, but noticed that this code wasn't running in an executor. This is fixed here: https://github.com/jonathanslenders/python-prompt-toolkit/commit/c33281e3d1f288e2dc7771962e14bdaa0b517b4a
Could you try again?

(Internally, prompt toolkit is completely async, even if you call it through synchronous APIs.

[2018-02-25 08:05] markfink commented on #598
instead of a unit-test my tests are more of a E2E type of test. So you are right that this depends on prompt-toolkit. I am in the middle of porting to PT2, so I can only show you the working v 1.0 version:

https://github.com/finklabs/whaaaaat/blob/fb628b5be8d3ff94c26509432995a497cfaeb41a/tests/helpers.py#L246

sample how I used this so far:
https://github.com/finklabs/whaaaaat/blob/develop/tests/

[2018-02-25 14:08] markfink commented on #598
I understand that you do not test your examples (at least you do not automate this). It would be great (and at least very helpful to me) if you could outline how you would go about it in case you wanted to make sure examples work.
besides the approach above I tried two other methods (i) using pexpect.ANSI; ii) using pyte.screen). both do not work because of the cursor positioning requests (I think

[2018-02-25 18:14] markfink commented on #597
I think you have to use .pop instead of .get:

[code]

[2018-02-25 19:33] markfink opened #600 "rendering trouble... [including testcase to reproduce the issue]"
prompt-toolkit gave me some headaches during testing (https://github.com/jonathanslenders/python-prompt-toolkit/issues/598, https://github.com/jonathanslenders/python-prompt-toolkit/issues/597) so I analysed and found out that indeed it is doing things differently (at least different to bash).

Both testcases use a virtual screen so we can "see" what is going on.

simple_prompt.bash:
[code]

simpl

[2018-02-26 07:25] tatsujin1 commented on #599
Yep, that fixed it! Thanks!

[2018-03-01 09:38] serv-inc commented on #390
Hi, is there any update on this? Even a regexp for emacs to ignore the control characters might work...

[2018-03-02 09:04] hiberabyss opened #602 "[Bug] a bug in mycli which may involve prompt toolkit"
As suggested by developer of mycli, a [bug](https://github.com/dbcli/mycli/issues/579) of mycli may be related with prompt toolkit.

Thanks!

[2018-03-06 06:41] fake-name commented on #602
This also occurs in `pgcli`. See https://github.com/dbcli/pgcli/issues/845

[2018-03-11 16:23] dhellmann commented on #589
Is there a roadmap I can follow for the 2.0 release? It seems like at least some of the published documentation now only works with 2.0, so it's a bit confusing to us newcomers. For example, the simplest full-screen app demo is the first thing I tried and the full_screen argument isn't understood by 1.0.15.

[2018-03-14 00:40] williexu opened #603 "Some hex colors don't seem to work."
[code]
![image](https://user-images.githubusercontent.com/8580552/37377276-20748526-26e6-11e8-8961-ba3b38cde8a2.png)

#EECD86, which is a yellow seems to work, while #C3C3E5, a light purple does not.

Any idea why? Tried this on both Unix and windows terminals.

I've also noticed some very different colors (such as #884444), when using in windows vs unix.

[2018-03-16 20:25] rioujin-sou opened #604 "TypeError: 'unicode' object is not callable in document methods"
Python 2.7.14
prompt_toolkit 1.0.15

When I try to use the methods **current_line** or **current_line_before_cursor** of the document class to get the text in the current line of the prompt the error TypeError: 'unicode' object is not callable in document methods. However if I use the method **get_word_before_cursor** it works perfectly.

    def get_completions(self, document, complete_event):

[2018-03-16 22:04] jonathanslenders commented on #604
Hi @rioujin-sou, ``current_line`` is a property, it doesn't need parenthesis to be called.

[code]

[2018-03-16 22:13] jonathanslenders commented on #603
Hi @williexu,

These colors are mapped to 256 colors on unix terminals by default, and to the 16 available colors on a Windows terminal. The closest color is always used, which could be the reason why you're getting different colors.

Prompt_toolkit 2.0 does some refactoring regarding this. It supports any color depth on Windows consoles, and makes it easier to configure by setting the ``PROMPT_TO

[2018-03-17 02:48] MechaLynx commented on #589
I used this and it worked (make sure the python version is correct and privileges are correct for your case):

[code]

[2018-03-19 15:40] rioujin-sou commented on #604
Thank you very much for your prompt reply. Now it works perfectly.

Regards.

Ivan Reyes
Nokia Packet Core Consultant

From: Jonathan Slenders [mailto:notifications@github.com]
Sent: Friday, March 16, 2018 18:05
To: jonathanslenders/python-prompt-toolkit <python-prompt-toolkit@noreply.github.com>
Cc: rioujin-sou <rioujin@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [jonathanslen

[2018-03-21 21:32] 0x123451 opened #606 "error in telnet-chat example : 'CompletionState' object has no attribute 'current_completions' PYTHON 3.6.3 / RHEL"
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/site-packages/prompt_toolkit/contrib/telnet/server.py", line 167, in run
    yield From(obj)
  File "/usr/local/lib/python3.6/site-packages/prompt_toolkit/eventloop/coroutine.py", line 90, in step_next
    new_f = coroutine.throw(exc)
  File "chat-app.py", line 42, in interact
    name = yield From(prompt(message='Type your name:

[2018-03-22 19:24] jonathanslenders commented on #606
My mistake, I removed a little too much in a previous commit. Fixed here: https://github.com/jonathanslenders/python-prompt-toolkit/commit/6371de5c6ee5ce60a82a3886dbe334fddccdf970

Thanks for reporting again!

[2018-03-22 19:47] jonathanslenders commented on #593
Hi @c-bata, this looks really nice!

Added here: https://github.com/jonathanslenders/python-prompt-toolkit/commit/6805c0756b6285969a0dc55226025d32688e5109

[2018-03-22 20:38] 0x123451 commented on #606
thanx a lot! only one example from telent not starting hello_wold.py :
/usr/src/python-prompt-toolkit/examples/telnet# python3.5 hello-world.py
Traceback (most recent call last):
  File "hello-world.py", line 13, in <module>
    from prompt_toolkit import prompt, clear
ImportError: cannot import name 'clear'
------------------------------------------------------------

[2018-03-22 21:02] jonathanslenders commented on #606
And that one is now fixed as well ;) https://github.com/jonathanslenders/python-prompt-toolkit/commit/b895332a3345821dd84d4f8ec84901b25202e856
Thanks!

[2018-03-23 01:59] c-bata commented on #593
I'm honored that go-prompt is on python-prompt-toolkit's README.
Thanks!

[2018-03-23 01:59] #593 closed

[2018-03-27 16:30] swapniljariwala commented on #305
Even I want something like this for one of my side project. I'll share the code if I complete this piece.

[2018-03-27 16:39] johnbendi opened #607 "Paredit style bracket matching feature"
Would it be possible to get parenthesis matching or auto completion? If it also works for string quoting that will be awesome as well!

[2018-03-27 20:43] jonathanslenders commented on #607
Hi @johnbendi,

This is something I've been thinking about as well. @nicolewhite implemented this feature in Cycli. See: https://github.com/nicolewhite/cycli/blob/master/cycli/binder.py

I'm not yet sure how to integrate this in prompt_toolkit itself, because it is something very application dependent, but you can already have a look at Cycli for now.

[2018-03-27 20:44] #606 closed

[2018-03-27 20:48] jonathanslenders commented on #305
@swapniljariwala, if you want to try. Start from the prompt_toolkit 2.0 branch. (that should be easier and will be released soon.) I think you have to implement a custom FormattedTextControl with custom key bindings. The scrolling can be done by wrapping it in a Window.

[2018-04-05 09:55] ConsoleTVs opened #609 "Docs version?"
if version 2, there's no way to edit the readthedocs page. There's a misstake in the fullscreen example, here's the correct version (missing an import):

[code]

[2018-04-05 19:53] asmeurer opened #610 "Better way to send input to a prompt programatically"
I've been using a queue, as described at https://github.com/jonathanslenders/python-prompt-toolkit/issues/519#issuecomment-318978114, to make it so that I can send text to a prompt programatically. For instance, I have a `-c` startup flag that allows to run a command as the first prompt. I also use this in the bracketed paste handler, as described in that issue.

The way I've done this is to pass

[2018-04-12 02:24] kovidgoyal commented on #192
And here is an updated set_input_mode() function for recent changes to prompt toolkit:

[code]

[2018-04-22 00:28] randy3k opened #613 "search highlight is not clear after hitting enter"
I am on the current `2.0` branch. When I use `ctrl+r` or `ctrl+s` to search history, the matching highlight is not clear after hitting enter. Moreover, it persists if I navigate through history.

See the following screencast.

![apr-21-2018 20-27-30](https://user-images.githubusercontent.com/1690993/39090071-7e9eb9c0-45a2-11e8-8811-992151704ce9.gif)

[2018-04-22 03:24] #535 closed

[2018-04-24 16:36] meeas opened #614 "Attaching a history to a full screen application widget"
I think I'm missing something simple here.  I haven't been able to figure out how to attach a history to a Buffer in the full screen application.  I'm using a TextArea widget for the input, and it doesn't seem to support passing of a history to it, which BTW would be a wonderful feature request.  I've also tried to create my own widget based on the TextArea class where I've added a history to the

[2018-04-27 15:08] randy3k commented on #613
it turns out it is caused by my own code. sorry for the noise.

[2018-04-27 15:08] #613 closed

[2018-04-27 17:35] jonathanslenders commented on #613
No problem, @randy3k!

[2018-04-28 20:06] Halcyonations commented on #589
@MechaLynx so if I wanted it as a dependency I would do
`python
install_requires= ["-e git+https://github.com/jonathanslenders/python-prompt-toolkit@2.0#egg=prompt_toolkit"]` ?

Thanks in advance

[2018-04-28 20:29] MechaLynx commented on #589
@Halcyonations I'm not sure about that but looking at [this answer on SO](https://stackoverflow.com/a/29524177/2838033) it seems that it would?

The tarball link is on the main repo page somewhere.

[2018-04-28 20:31] Halcyonations commented on #589
@MechaLynx Im at a Hackathon (Massey Hacks IV) and you just saved my life, Thanks a bunch!

[2018-04-28 20:31] MechaLynx commented on #589
@Halcyonations lol np dawg :P

[2018-04-28 20:38] Halcyonations commented on #589
@jonathanslenders  @MechaLynx Its not working, I noticed that the main branch is now defaulted to 2.0. would making a tar of the master work. When I do the downloaded tar has the name jonathanslenders-python-prompt-toolkit-1.0.14-8-g4476b3c.tar. is 1.0.14-8 a typo?

[2018-04-28 20:43] MechaLynx commented on #589
@Halcyonations That looks like a tarball of version 1.0.14

I think this link might work `https://api.github.com/repos/jonathanslenders/python-prompt-toolkit/tarball/2.0`

[2018-04-28 20:54] Halcyonations commented on #589
@MechaLynx Wroks! THANKS AGAIN!

[2018-04-30 13:30] rajaravivarma-r opened #616 "Question: Displaying ANSI colored text in TextArea/Widgets"
Is there a way to display ANSI colored text in TextArea or any other *output* widget? All the examples I am able to see are for displaying colored text in Prompt, but not in TextArea or in any other widget.

All the colored-text related example uses `print_formatted_text`, but not shows how to display ANSI escaped strings in any of the widgets.

I have been trying to create something like *fzf* bu

[2018-04-30 20:16] jonathanslenders commented on #616
Hi @rajaravivarma-r,

I'm not entirely sure whether this question is about prompt_toolkit 1.0 (the version on Pypi) or 2.0 (master branch). For what you're building I think in any case, 2.0 works better.

Colored text can be displayed in any widget that uses a ``FormattedTextControl`` underneath.
``TextArea`` on the other hand, derives from ``BufferControl``, which displays an input text. In order

[2018-04-30 20:27] jonathanslenders commented on #610
Hi @asmeurer,

I forgot to reply to this one.
The use case makes sense indeed. I'll consider adding an argument to the ``Prompt.prompt`` function for accepting the input right away. If the purpose is to actually render the prompt to the output for feedback, then this does make sense. (Just give me some time for this. I'm preparing the 2.0 release and don't want to push too many new features right

[2018-04-30 20:31] jonathanslenders commented on #609
Hi @ConsoleTVs,

Thanks a lot for this feedback!
Is it possible that this was fixed by @pythonpsql in https://github.com/jonathanslenders/python-prompt-toolkit/commit/a306d41c90b2a67fe72ab781355f549e656f76d2#diff-f4a0fa4b98cb834cf047c187ce976ddb

If so, I'll close this issue.

[2018-04-30 20:36] jonathanslenders commented on #597
Fixed the pop/get issue: https://github.com/jonathanslenders/python-prompt-toolkit/commit/897b0965a261268416609ee1d71a26a8c79a88f2

[2018-04-30 20:44] asmeurer commented on #610
Great. Actually I figured out that the overabundance of CPR codes printed to my terminal is mostly coming from me using PipeInput. The stdout Output class basically implicitly assumes that the corresponding Input class is a stdin class. I'm still working on transferring to 2.0, so I can't say yet if this is fixed there. The separation of the two classes does still exist there, as far as I know. To

[2018-04-30 20:55] asmeurer commented on #456
As far as I can tell this is fixed in 2.0. I think somewhere between the new typeahead code and the better CPR handling it got fixed (I can bisect if you are interested).

I think I figured out the issue with PipeInput specifically (see https://github.com/jonathanslenders/python-prompt-toolkit/issues/610#issuecomment-385522974). Basically the stdout Output class assumes the input can respond to a

[2018-04-30 21:41] jonathanslenders commented on #456
The disconnect between input and output is indeed annoying. I wish there was a nicer solution, but it's the way it is. Output and input following different flows. For instance, if we consider Windows, then the output can be either VT100 escape sequences or Windows console API calls, while the input is coming through a separate path in the event loop. Then there is also this weirdness that CPR is s

[2018-04-30 22:37] ConsoleTVs commented on #609
I guess ^^

[2018-04-30 22:37] #609 closed

[2018-05-02 01:30] asmeurer opened #617 "Buggy behavior with completions in 2.0 (possibly related to CPR requests)"
In the 2.0 branch I am seeing very buggy behavior with tab completion.

If the prompt is at the bottom of the terminal, the completion columns do not appear. It acts as if they are below the visible screen.

If the prompt is above the bottom (like if I Ctrl-L), then all input is extremely laggy, taking 10-20 seconds before any input appears. It causes my terminal (iTerm2) to beachball, so it's qui

[2018-05-02 06:55] rajaravivarma-r commented on #616
@jonathanslenders Thanks. I was talking about version 2.0 indeed.

I will check the *pypager* implementation and see if I can work it out from there.

Also, is there any place in the documentation which tells you what widgets use *FormattedTextControl* and what widgets use *BufferControl*? Or should I look for `Widget` classes inheriting from `FormattedTextControl`.

Thanks again.

[2018-05-02 19:51] jonathanslenders commented on #617
All the useless ``\x1b[0m`` escapes are now removed with this small optimization: https://github.com/jonathanslenders/python-prompt-toolkit/commit/c13572e135037da11ca2de9ea477d1cbf34777b2

When the screen is cleared, all lines are rendered again. The current in memory screen is then compared with the previous screen (for only outputting the diff). When going through the new screen, the style is co

[2018-05-02 20:44] jonathanslenders commented on #617
Apparently, after applying this patch: https://github.com/jonathanslenders/python-prompt-toolkit/commit/c13572e135037da11ca2de9ea477d1cbf34777b2 on your branch, it seems to work much better. At least here I don't get the spinning wheel anymore half of the time. It surprises me. I think it should be a bug in iTerm2, but that terminal is known for prioritizing UI fanciness above performance.

The co

[2018-05-02 21:02] jonathanslenders commented on #616
Anything that requires text input (with all editing functionality) uses a ``BufferControl``. It can also be used for read-only text that still requires navigation key bindings like cursor movement and page up/down.

Any text that is static, not focusable, uses typically ``FormattedTextControl``.

The highlighting works different. In the first case, this is done by a lexer. In the second case, you

[2018-05-03 05:35] asmeurer commented on #617
You have to enable double width emoji in some setting (still not sure why this isn't the default).

Well I did open the upstream issue. So we'll see if things improve.

Ah, I should have guessed as much. I've fixed it.

Well the main thing I need is the ability to set my own buffer. You can see that not only do I use my own [Buffer subclass](https://github.com/asmeurer/mypython/blob/2.0/mypython/m

[2018-05-03 07:27] rajaravivarma-r commented on #616
Great, it will make more sense now when reading the source. Thank you.

[2018-05-03 07:27] #616 closed

[2018-05-10 03:50] asmeurer commented on #617
This is working better now performance-wise, and the other issue I guess was in my own code. Closing this.

[2018-05-10 03:50] #617 closed

[2018-05-10 03:51] asmeurer commented on #324
Since this is somewhat of a backwards incompatible change, should this be considered for 2.0?

[2018-05-10 03:54] asmeurer commented on #610
How exactly would you do this? I would implement this myself, but I'm completely stumped on how it would be done. Maybe I'm missing something obvious. The eventloop code is still pretty opaque to me.

[2018-05-10 13:35] jonathanslenders commented on #324
I think this should fix it: https://github.com/jonathanslenders/python-prompt-toolkit/pull/619
Would you mind trying that fix?

[2018-05-10 17:07] asmeurer commented on #610
That looks like it works. The `self.default_buffer.text` part is unnecessary (just use the `default` argument to set the text). Something like

[code]

[2018-05-10 17:12] asmeurer commented on #610
Except the accept_handler is not called. If I try adding `self.default_buffer.validate_and_handle()` I get

[code]

[2018-05-10 21:41] asmeurer commented on #610
Yeah I figured that I misspelled it :) That's probably a sign that the flag should be called something else.

[2018-05-10 22:00] asmeurer commented on #610
Hmm, well validate_and_handle isn't actually what you want, because that adds a pre_run callable to reset the buffer, which would then clear the text when the app is actually run.

I'm trying to wrap my mind around the control flow here and what the right way to do this is.

[2018-05-10 22:12] asmeurer commented on #610
To clarify, it's because `_pre_run` calls `pre_run` then the `pre_run_callables`: https://github.com/jonathanslenders/python-prompt-toolkit/blob/f255927556353e6a0a2339947cceb8bf4d31f30e/prompt_toolkit/application/application.py#L480-L488

This patch "fixes it", but I don't think it's a necessarily a good one.

[code]

[2018-05-13 12:54] y2kbugger commented on #56
At pycon wondering if this works yet?

[2018-05-13 15:30] jonathanslenders commented on #56
Some work has been done in this direction, but my focus has been elsewhere for a long time.
However, I'd still like to make this work some day. (First, release of 2.0 ;) )

[2018-05-14 02:38] asmeurer commented on #497
The new async completer in 2.0 is awesome. It makes my dir completer actually useful, as it always gives completions instantly, and I can either wait for Jedi or keep going.

Some way to tell in the UI if the completions are all in, and to differentiate between a slow completer and no completions would be nice. I suppose I could work around it by yielding some kind of null completion at the end of

[2018-05-14 02:40] asmeurer commented on #497
I see there's an example that uses the bottom toolbar to show a loading indicator. So that's not hard to do apparently. Though I would add it to the completions popup, not in a bottom toolbar.

[2018-05-14 15:00] jonathanslenders commented on #497
Yes, agreed that it would be nice to show it in the popup. I'm not sure I want to add it for this release, but it definitely makes sense. Regarding that example, I'm also not 100% sure that this implementation is actually correct, probably I bit more testing needs to be done here.

[2018-05-14 15:03] randy3k commented on #497
@asmeurer Ya, I have also switched to v2.0, it's awesome. Thank @jonathanslenders for the amazing work.

[2018-05-14 16:16] jonathanslenders commented on #603
Closing this issue. Please feel free to open again if you have any further questions.

[2018-05-14 16:16] #603 closed

[2018-05-14 16:16] jonathanslenders commented on #596
Closing this issue. Please feel free to open again if you have any further questions.

[2018-05-14 16:16] #596 closed

[2018-05-14 16:25] jonathanslenders commented on #324
This fix has been merged: https://github.com/jonathanslenders/python-prompt-toolkit/pull/619
I think it should be fine now. Please let me know if I miss something.
It doesn't do the whole kill-ring thing yet, but that's a different issue.

[2018-05-14 21:52] jonathanslenders commented on #202
@scopatz: Async loading of history, implemented in https://github.com/jonathanslenders/python-prompt-toolkit/pull/621
It is as simple as wrapping the history in ``ThreadedHistory``.

[2018-05-14 22:29] jakirkham opened #622 "Missing tag for 1.0.15"
There doesn't appear to be a Git tag for 1.0.15. Would be nice to have one.

[2018-05-15 03:29] #559 closed

[2018-05-15 03:32] jonathanslenders commented on #560
Closing this, given that it's implemented. Both ``timeoutlen`` and ``ttimeoutlen`` are now attributes of the ``Application`` object.

[2018-05-15 03:32] #560 closed

[2018-05-15 03:34] jonathanslenders commented on #551
Closing this. Feel free to open again if winpty doesn't work.

[2018-05-15 03:34] #551 closed

[2018-05-15 03:42] jonathanslenders commented on #450
Closing this one as prompt_toolkit 2.0 does support ansi in the prompt by using the ANSI wrapper in the formatted_text module. Feel free to open again if needed.

[2018-05-15 03:42] #450 closed

[2018-05-15 03:43] jonathanslenders commented on #420
This has been fixed in 2.0, so I'm closing this issue.

[2018-05-15 03:43] #420 closed

[2018-05-15 03:44] jonathanslenders commented on #358
This has been fixed, so I'm closing this issue. Feel free to open again if needed.

[2018-05-15 03:44] #358 closed

[2018-05-15 03:51] jonathanslenders commented on #161
More documentation has been written. So, closing this. But it'll still improve in the future.

[2018-05-15 03:51] #161 closed

[2018-05-15 03:56] jonathanslenders commented on #500
(sorry for the late reply.) This is not feasible, and won't be added. Sorry about that. An assignment of the ``text`` attribute could actually be a deletion, or a whole sequence of modifications. The buffer has no idea of what operations are done because of that assignment. This needs to be triggered in a custom key binding if needed.
What would you do with this hook?

[2018-05-15 03:57] #546 closed

[2018-05-15 03:58] jonathanslenders commented on #556
Closing this, assuming it's possible by replacing the tabs with spaces. Let me know if that doesn't work.

[2018-05-15 03:58] #556 closed

[2018-05-15 04:00] jonathanslenders commented on #597
Closing this. I think all issues have been fixed here. Let me know if not.

[2018-05-15 04:00] #597 closed

[2018-05-15 04:06] jonathanslenders commented on #422
Closing this. prompt_toolkit  should work on any vt100 emulator. So, if Kivy doesn't have that, it probably needs to be implemented as part of the Kivy project.

[2018-05-15 04:06] #422 closed

[2018-05-15 04:07] jonathanslenders commented on #416
Closing this, given that it's implemented. Feel free to open again, if something is missing.

[2018-05-15 04:07] #416 closed

[2018-05-15 04:11] jonathanslenders commented on #147
This has been implemented for 2.0, so I'm closing this issue. Feel free to open again if it still doesn't work.

[2018-05-15 04:11] #147 closed

[2018-05-15 04:14] #115 closed

[2018-05-15 04:15] #455 closed

[2018-05-15 04:16] #498 closed

[2018-05-15 06:03] asmeurer commented on #500
I would use it to reset my (customized) history search. It looks like I achieved the effect I wanted by overriding `delete_before_cursor` in my custom `Buffer` subclass.

[2018-05-15 14:17] jonathanslenders commented on #622
Done. Thanks for reminding me!

[2018-05-15 14:17] #622 closed

[2018-05-15 14:37] jonathanslenders commented on #479
Implemented in https://github.com/jonathanslenders/python-prompt-toolkit/commit/70dc3769e2da8daa54cebd2db24307527962700e

[2018-05-15 14:40] #479 closed

[2018-05-15 14:47] jonathanslenders commented on #500
Okay. That would probably be the way to go, if you want certain customization. Closing this, given that this doesn't need to be part of prompt_toolkit itself.

(The main problem is that if I added on_text_deleted, people would start relying on that, which is bad, because we can't guarantee it will be called for every delete operation.)

[2018-05-15 14:47] #500 closed

[2018-05-15 14:51] #18 closed

[2018-05-15 14:54] jonathanslenders commented on #298
Closing this. Many optimizations have been done. Let's open a new issue if there are still some performance issues in the code.

[2018-05-15 14:54] #298 closed

[2018-05-15 14:58] jonathanslenders commented on #392
Closing this now. In prompt_toolkit 2.0, calling ``get_app().exit()`` should close the current application. This can be done in any key binding, and works asynchronously. Please open again or create a new issue if this still doesn't work.

[2018-05-15 14:58] #392 closed

[2018-05-15 15:01] jonathanslenders commented on #357
This is an example of how custom text objects can be added to any prompt_toolkit application in 2.0: https://github.com/jonathanslenders/python-prompt-toolkit/blob/70dc3769e2da8daa54cebd2db24307527962700e/examples/prompts/custom-vi-operator-and-text-object.py

I don't plan on adding non standard text objects to prompt toolkit, so I hope you don't mind I close this issue.

[2018-05-15 15:01] #357 closed

[2018-05-15 15:03] jonathanslenders commented on #537
Implemented in https://github.com/jonathanslenders/python-prompt-toolkit/commit/70dc3769e2da8daa54cebd2db24307527962700e
Duplicate of https://github.com/jonathanslenders/python-prompt-toolkit/issues/479

[2018-05-15 15:32] asmeurer commented on #537
Was it also implemented for kill line?

[2018-05-15 16:09] mgalgs commented on #416
For any future searchers, here's how you can remove IPython's Control-O handler so that you can get this Control-O goodness:

`~/.ipython/profile_default/startup/20-keyboard.py`:

[code]

[2018-05-18 18:20] timtylin opened #624 "progress_bar and Python 2: not intended to work together?"
I'm having a lot of trouble getting the `progress_bar` construct to work under Python 2 (I'm using Python 2.7.14 on macOS 10.13), so much so that I'm thinking it was never tested with Python 2 in mind. Is that the case?

For example, if I try out the first progress bar example `a-lot-of-parallel-tasks.py`, I immediately get the following error:

[code]

Which makes sense, as you can't use `inspect

[2018-05-19 15:41] randy3k commented on #416
@mgalgs
excellent tips!!

[2018-05-19 15:55] randy3k commented on #416
By the way, in iPython 6, I need
[code]

[2018-05-19 16:51] #548 closed

[2018-05-19 17:42] jonathanslenders commented on #624
This sounds like a bug. Everything is supposed to run on Python 2 as well.
(In the future, at some point we'll drop Python 2 support, but not yet.)

Thanks for reporting!

[2018-05-19 20:12] jonathanslenders commented on #624
This should be fixed now: https://github.com/jonathanslenders/python-prompt-toolkit/commit/a317e7d526c3e0b502e3352bcfc29fceb9c68911
If you have some time, could you test again?

[2018-05-20 16:54] jonathanslenders commented on #476
The following works when ``validate_while_typing`` is set, but doesn't work yet for validating when enter is pressed:

[code]

``Validator.validate`` is supposed to be sync. You can't simply override it and make it suddenly async. ``get_validate_future`` should return a prompt_toolkit Future, which can be used for an async prompt. However, keep in mind that prompt_toolkit isn't native asyncio yet,

[2018-05-21 15:34] timtylin commented on #624
Works a treat now. Thanks for all the work over the past few days!

[2018-05-21 15:34] #624 closed

[2018-05-23 15:21] mgalgs commented on #416
One more iteration on @randy3k's solution (which I needed to get things working in both python2 and python3):

[code]

[2018-05-27 17:03] randy3k opened #625 "prompt doesn't show in docker image (2.0 branch)"
I was trying to run my application on a python docker container but the prompt is not shown. Here is a simple way to reproduce it.

[code]

then in the container, install prompt_toolkit
[code]

Then I wrote a simple script `test.py`
[code]

Then I run the script and enter "foo"
[code]

Note that the prompt was not shown in above.

Interestingly, it works again if I reset the terminal

[code]

[2018-05-27 19:55] jonathanslenders commented on #625
This looks like a bug. Thanks for reporting!
I can't reproduce on my Linux system, but will try later again on OS X.

[2018-05-27 21:43] randy3k commented on #625
I can reproduce the same bug on Terminal.app and my another mac. I just notice that it does not happen every time I run `python test.py`. Occasionally, the prompt is shown, but it doesn't some other times.

[2018-06-02 17:29] jonathanslenders commented on #568
Hi everyone,

I just released prompt_toolkit 2.0.1.
Check the changelog: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/CHANGELOG
and the docs: https://python-prompt-toolkit.readthedocs.io/  .

Please let me know if you have any issues upgrading your applications!

Cheers,
Jonathan

[2018-06-02 17:29] #568 closed

[2018-06-02 17:30] jonathanslenders commented on #589
Hi everyone,

I just released prompt_toolkit 2.0.1.
Check the changelog: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/CHANGELOG
and the docs: https://python-prompt-toolkit.readthedocs.io/  .

You can now do a pip-install.

[2018-06-02 17:30] #589 closed

[2018-06-02 17:32] jonathanslenders commented on #505
Hi @eric-wieser,
Can you check whether this is still the case with the 2.0.1 release?
If not, I can close this issue.
Thanks!

[2018-06-02 17:33] jonathanslenders commented on #524
Closing, because it's fixed in 2.0.

[2018-06-02 17:33] #524 closed

[2018-06-02 17:45] jonathanslenders commented on #483
Hi @craigds,
Can you check whether this is still the case with the latest iTerm2? I can't reproduce it here.
Maybe also test with prompt_toolkit 2.0, if possible (current master branch).

[2018-06-02 17:46] jonathanslenders commented on #202
Closing. Prompt_toolkit 2.0 supports async history loading.

[2018-06-02 17:46] #202 closed

[2018-06-02 17:48] jonathanslenders commented on #258
Prompt_toolkit 2.0 has now width/height arguments for both VSplit and HSplit.

[2018-06-02 17:48] #258 closed

[2018-06-02 17:49] #187 closed

[2018-06-02 17:54] jonathanslenders commented on #285
Hi @certik,

Excuse me for the late reply. Prompt_toolkit 2.0 has been released now, and as you can see it is possible to build full screen applications now. It took some time to get here, and I'm sure we need to implement more widgets. My ptterm project could be useful too for embedding a vt100 emulator as a widget in a prompt_toolkit application. It will gradually improve, but it's hard to decid

[2018-06-02 17:54] #285 closed

[2018-06-02 17:56] #541 closed

[2018-06-02 17:57] jonathanslenders commented on #575
Prompt_toolkit 2.0 has been released. Please let me know if you found any issues.

Check out the changelog: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/CHANGELOG
And documentation: https://python-prompt-toolkit.readthedocs.io/en/master/index.html

[2018-06-02 17:57] #575 closed

[2018-06-02 18:19] asmeurer commented on #610
@jonathanslenders any thoughts on this? This is the only thing keeping me from updating to 2.0.

[2018-06-02 18:22] jonathanslenders commented on #250
I'm closing this issue. It has been implement for a while now.
Also see: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/examples/prompts/finalterm-shell-integration.py  (for prompt_toolkit 2.0)
Please open a new issue if you discover any issues.

[2018-06-02 18:26] #194 closed

[2018-06-02 18:26] #290 closed

[2018-06-02 18:28] jonathanslenders commented on #148
Closing this, support for these escape sequences have been implemented more than a year ago.
See this example for how to use it in prompt_toolkit 2.0: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/examples/prompts/finalterm-shell-integration.py

[2018-06-02 18:28] #148 closed

[2018-06-02 18:29] #281 closed

[2018-06-02 18:32] jonathanslenders commented on #473
Hi @frederic-loui,

Input validation while typing is now possible. See this example: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/examples/prompts/input-validation.py

[2018-06-02 18:32] #473 closed

[2018-06-02 18:36] jonathanslenders commented on #180
I believe tests were included some time ago. See the MANIFEST.in.

[2018-06-02 18:36] #180 closed

[2018-06-02 18:37] jonathanslenders commented on #126
I believe tests were included some time ago. See the MANIFEST.in.

[2018-06-02 18:37] #126 closed

[2018-06-02 19:07] jonathanslenders commented on #250
Opening again. My mistake. Thanks @asmeurer

[2018-06-02 19:08] jonathanslenders commented on #610
Yes, this is one of the next things to do. I didn't want to postpone the 2.0 release any longer, but I'm coming back to this issue.

[2018-06-02 19:44] memeplex commented on #250
For a moment I thought I had been awaken from hibernation in 2050 and pt was installed in every remote server in the cloud.

[2018-06-02 21:11] frederic-loui commented on #473
Thanks I'll have a look at it !
Frederic

Le sam. 2 juin 2018 à 20:32, Jonathan Slenders <notifications@github.com> a
écrit :

[2018-06-02 22:41] technige opened #628 "Unhandled exception in event loop"
I'm just upgrading to 2.0.1 from 1.x and have hit a recurring loop issue that I'm not sure how to debug. This seems to occur while running in Python 3.7 but not 2.7.

The error manifests as an infinite stream of these:
[code]

I'm using a `PromptSession` with `history` and a `.prompt` call with `lexer` and `style` kwargs.

Any hints on how I can debug what's going on?

[2018-06-02 22:52] jonathanslenders commented on #628
Hi @technige, Thanks a lot for reporting this bug!

Do you know whether is happens on Python 3.6 too? Is it possible to share the code somewhere? Then I'll have a look tomorrow.

[2018-06-03 00:03] technige commented on #628
I've just fired up a Python 3.6 venv and it seems to work fine. So maybe the fact I'm running 3.7.0b3 isn't helping.

I haven't got an quick script that can reproduce this right now (and as it's 1am, I don't think my brain is still capable of producing one today). I can have a look at putting something together over the next few days.

My actual code is here in a dedicated branch for this upgrade:

[2018-06-03 00:27] asmeurer commented on #628
There is some new behavior in Python 3.7 regarding StopIteration https://docs.python.org/3.7/whatsnew/3.7.html#changes-in-python-behavior

[2018-06-03 10:42] jonathanslenders commented on #628
I can reproduce it. Thanks for reporting, @technige.
It had indeed to do with the Python 3.7 changes regarding StopIteration.

[2018-06-03 12:20] jonathanslenders commented on #628
Hi @technige, @asmeurer,

This should have been fixed in this commit: https://github.com/jonathanslenders/python-prompt-toolkit/commit/9bb8b6d9bfe28f17287b8b911495c5821194b809

Could you test again?

[2018-06-03 14:52] technige commented on #628
That was a quick turnaround! I'll try again with the patch.

[2018-06-03 14:58] technige commented on #628
I can confirm this works with the latest master and Python 3.7. Thanks very much :)

[2018-06-03 19:59] asmeurer commented on #628
You can use `from __future__ import generator_stop` (Python 3.5+ only) to enable this behavior in earlier versions as well. There are more details in the [PEP](https://www.python.org/dev/peps/pep-0479/).

[2018-06-03 20:38] jonathanslenders commented on #297
Related issue: https://github.com/jonathanslenders/pyvim/issues/107

Note for myself: first, we couldn't implement this, because it would break the alt+enter key binding which should accept the search and execute it right away. But thanks to the ``ttimeoutlen`` and ``timeoutlen`` parameters (like Vim has), we can now actually do this.

[2018-06-03 20:48] jonathanslenders commented on #297
See: https://github.com/jonathanslenders/python-prompt-toolkit/pull/629

[2018-06-04 10:30] sanga opened #630 ""metacompleter" i.e. completing from a group of completers"
In prompt toolkit 1 I had a set up where I had a metacompleter that had a list of completer instances and then get_completions method of the metacompleter basically just yielded from all the it's completers. The reason for this is basically to support completion plugins that may or may not be loaded by the user.

This doesn't appear to work in prompt toolkit 2. Or at least I haven't gotten it to w

[2018-06-05 17:55] randy3k commented on #274
See https://github.com/ipython/ipython/issues/9376#issuecomment-394802297

It seems that it doesn't work for double width chars.

<img width="545" alt="screen shot 2018-06-05 at 1 53 02 pm" src="https://user-images.githubusercontent.com/1690993/40993619-15bab500-68c8-11e8-9ce8-5ea4482fd5f4.png">

[code]

[2018-06-05 20:53] #628 closed

[2018-06-05 21:03] craigds commented on #483
Unfortunately not solved. I tried deleting my iterm profile to see if that changes things, but no dice.

With iTerm2 3.1.6 and a blank/default profile, and a fresh install of:
- ipython 6.4.0 (also tried 6.2.1)
- prompt_toolkit 1.0.15

<img width="558" alt="screen shot 2018-06-06 at 8 55 15 am" src="https://user-images.githubusercontent.com/32112/41002439-e46aa7a8-6967-11e8-8b5c-6d5a605a6b8c.png">

[2018-06-05 21:20] jonathanslenders commented on #483
Hi @craigds,

Can you try adding the appropriate escape sequences to this file: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/input/vt100_parser.py#L42
And if that works, maybe create a pull request?

[2018-06-05 21:40] craigds commented on #483
I also tried installing prompt_toolkit 2.0.2 but I wasn't able to get it working with ipython 6.4.0

[2018-06-05 22:06] craigds commented on #483
thanks for the suggestion; ^ that fixes it :)

[2018-06-06 00:14] theazureshadow opened #632 "prompt shortcut history option breaks in 2.0"
In 2.0, the `prompt` shortcut doesn't accept the `history` option, even though the [documentation implies that it should](http://python-prompt-toolkit.readthedocs.io/en/stable/pages/reference.html#prompt_toolkit.shortcuts.prompt), since `history` is an option for `PromptSession`:

Looks like the arguments are actually passed to `PromptSession.prompt` rather than `PromptSession`:

https://github.co

[2018-06-06 16:12] SolarAquarion opened #633 "bug against 1.0"
vim Exception in thread Thread-38:                              1  12:01
Traceback (most recent call last):
  File "/usr/lib/python3.6/threading.py", line 916, in _bootstrap_inner
    self.run()
  File "/usr/lib/python3.6/threading.py", line 864, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/lib/python3.6/site-packages/prompt_toolkit/interface.py", line 865, in run
    comple

[2018-06-06 19:06] jonathanslenders commented on #633
Hi @SolarAquarion,
This looks like a bug in Xonsh. Could you report it in their repository?
Thanks!

[2018-06-07 07:30] randy3k opened #634 "v2.0.2 fails at python 2 on windows"
Just
[code]

Error
[code]

It works on python 3 on windows or python 2 on macOS though.

[2018-06-07 07:54] randy3k commented on #634
It is because [10**10](https://github.com/randy3k/lineedit/blob/c11073fcd553228f4e80252f9030d2fa3277d008/lineedit/deps/prompt_toolkit/layout/menus.py#L183-L183) is long at python 2 on windows.

[2018-06-07 08:09] randy3k commented on #634
It seems there are more bugs. I still get this after fixing the `long` bug.

[code]

[2018-06-07 19:49] #634 closed

[2018-06-07 20:03] #483 closed

[2018-06-08 19:28] randy3k commented on #625
It may be related to this
[code]

Before reset, the stty size was not determined correctly. Also, the prompt in the above example would appear if I resize the terminal window.

[2018-06-08 19:30] randy3k commented on #625
I found a hacky solution from [stackoverflow](https://stackoverflow.com/a/49281526/2223504)
[code]

[2018-06-09 11:25] pbugnion opened #636 "Resizing when the application is in a background thread"
First of all, thanks for making `prompt_toolkit` available. It's been tremendously useful.

We are working on a small terminal-based full screen application. At the moment, our
app does not handle changes to the terminal size correctly. This appears (as far as I understand) to be because the prompt toolkit application runs in a background thread ([source](https://github.com/ASIDataScience/sml-sync

[2018-06-09 16:04] jonathanslenders commented on #636
Hi @pbugnion,

Applications can run perfectly in a background thread. I think the most important is that the mean thread should not try to read from stdin, while the application in the background thread is running.

As you can see in ``prompt_toolkit.shortcuts.progress_bar.base``, we are actually running the progress bar UI in the background thread, and doing exactly what you propose. I didn't enc

[2018-06-09 16:14] jonathanslenders commented on #632
Hi @theazureshadow,
That should be fixed in this commit: https://github.com/jonathanslenders/python-prompt-toolkit/commit/f17096b4393aaed07fb53af68be6ae718fc60475

[2018-06-10 06:09] pbugnion commented on #636
Thanks a lot for clarifying. We'll write something similar to `prompt_toolkit.shortcuts.progress_bar.base`.

I think I understand the rationale for not automatically handling `SIGWINCH` if the application is not running in the main thread. Maybe we could consider one of:

- adding a boolean `allow_resize` keyword argument to `Application`?
- or a note in the documentation on resizing in background

[2018-06-13 16:51] maxim-lian commented on #192
Thanks @kovidgoyal !

If you want non-blinking cursors:

[code]

[2018-06-13 17:01] maxim-lian commented on #192
There's some delay between hitting the esc key and the cursor changing - do other people see this? I don't have the same delay in my normal terminal (fish).

Is it anything to do with this variable? https://github.com/jonathanslenders/python-prompt-toolkit/blob/ed79b83d5d6a35ce6af412aacabe1f3f34409c30/prompt_toolkit/application/application.py#L197

[2018-06-13 17:13] kovidgoyal commented on #192
I dont notice a delay, but I use jj not esc. Processing solitary esc in terminal is not easy, because there is no way to distinguish between a single esc and the start of an escape sequence, until the next key is pressed.

And I use an insert mode cursor in my shell as well, so I dont care that the cursor is not restored on quit, but it should be trivial to fix that. Use atexit to wriite the shape

[2018-06-14 18:39] scopatz commented on #202
This is great news!

[2018-06-14 21:44] typon opened #640 "How to embed prompt in full screen application?"
I want a full screen application that looks like this:

`|-------------------------|
| other widgets           |
|                         |
|                         |
|                         |
|                         |
|-------------------------|
| prompt/repl             |
|_________________________| `

Is something like this possible? I can't seem to find any API calls or examples that all

[2018-06-16 17:33] jonathanslenders commented on #630
Hi @sanga,

I added a ``merge_completers`` function that can combine multiple completers into one.
See: https://github.com/jonathanslenders/python-prompt-toolkit/commit/d15d79ad6df9ea22f86b0179d04e08fbf602138d and https://github.com/jonathanslenders/python-prompt-toolkit/commit/4a431a999617683ae0cf4c7a2f2cd8e9d3a1d170 (the second commit contains an example).

Would this work for you?

[2018-06-16 17:35] jonathanslenders commented on #640
Hi @typon,
Can you have a look at this example: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/examples/full-screen/calculator.py ?
That looks similar to what you are trying to achieve.

[2018-06-16 18:02] jonathanslenders commented on #572
Hi @rovitotv,
2.0 has been released, so I'm closing this issue.

[2018-06-16 18:02] #572 closed

[2018-06-16 18:04] jonathanslenders commented on #542
Hi @benhoff,
Sorry for the late reply. Right now, if you pass ``raw=True`` to ``patch_stdout``, then it should work:
https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/patch_stdout.py#L35

[2018-06-16 18:53] asmeurer commented on #610
I'll take a look.

[2018-06-16 20:25] asmeurer opened #642 "master is non-fastforward?"
My `master` on my computer is currently at 4476b3c28add85c5a8169fbb81ded8c3b845e588, which is the tagged commit for 1.0.15. However, when I pull, it tries to do a merge (it isn't fast-forward). Was there a force push to master? I think you should do fast-forward pushes only, and enable branch protection in GitHub's settings to avoid this happening in the future. For now, you should merge the old m

[2018-06-16 20:32] jonathanslenders commented on #642
Hi @asmeurer,

The 2.0 branch has been renamed to master, and master has been renamed to 1.0. I know it's not the cleanest thing to do, but it was a one time thing only. Fast-forward was not an option, because the 1.0 branch had a couple of small fixes that didn't had to be merged in 2.0.

[2018-06-16 20:33] #632 closed

[2018-06-16 20:33] asmeurer commented on #642
You can do a merge with a strategy that only picks the 2.0 changes, so that the contents of the branch are the same, but git will still consider it to be fast-forward.

[2018-06-16 20:40] jonathanslenders commented on #642
Ok, I'll think about that next time.

[2018-06-16 20:44] sanga commented on #630
Yes, that works. Thank you. I figured out what my problem was btw. Prompt tk has always said that all strings must be unicode however apparently prompt tk 2 got more strict about this (I was passing in regular strings in a couple of places and that used to work in v1). Anyway, that merge_completers func works just fine. Cheers!

[2018-06-16 20:44] #630 closed

[2018-06-16 20:44] jonathanslenders commented on #630
Ok, good to hear!

[2018-06-16 20:46] asmeurer commented on #642
You can still do it.

[2018-06-16 20:53] jonathanslenders commented on #192
@maxim-lian, keep in mind that IPython still uses prompt_toolkit 1.0. They will upgrade in one of the following releases. The snippet that you have there is from prompt_toolkit 2.0. But as @kovidgoyal say, processing the escape key without delay is tricky.

I hope to come back to this issues soon so that we can provide a clean way in prompt_toolkit for defining cursor shapes.

[2018-06-16 21:06] jonathanslenders commented on #642
No, I'm sorry, I don't want the latest commits from the 1.0 branch to appear as a parent of the current master branch. It is a little inconvenient, I know, but it's easy enough to delete the local master branch and pull again. Next time, I'll handle it better.

[2018-06-16 21:44] asmeurer commented on #642
It's not "a little inconvenient". Everyone who cloned prompt-toolkit before you swapped the branches will be unable to pull (git gives an error). I know how to fix it because I understand what is going on, but people who aren't as adept with git will be a complete lost.

I don't understand what your concern is with the 1.0 branch. 1.0 won't be fast-forward of master if you merge an earlier commit

[2018-06-16 21:48] jonathanslenders commented on #550
Hi @melund,

Excuse me for the late reply!
This is not something of which I think it is prompt_toolkit's responsibility. This looks like a problem that all Python applications have, regardless of whether they use prompt_toolkit or not.

If hope you don't mind I close this issue. (Feel free to open again).

[2018-06-16 21:48] #550 closed

[2018-06-16 21:54] jonathanslenders commented on #340
Hi @melund,

This is implemented for prompt_toolkit 2.0. We now use ANSI sequences on Windows versions that support it. If ``PROMPT_TOOLKIT_COLOR_DEPTH=DEPTH_24_BIT`` has been set, we even support true color.

Thanks for the help!

[2018-06-16 21:54] #340 closed

[2018-06-16 22:16] jonathanslenders commented on #642
Ok. Can you explain how I merge 4476b3 into master while ignoring all these changes?

[2018-06-17 06:37] melund commented on #340
Thanks a lot @jonathanslenders. This is fantastic and it will likely to speed up things running on windows. I really hope we can soon move xonsh to PTK2.

[2018-06-17 07:03] melund commented on #550
Yes. You may be right. It may be even more fundamental than Python. Almost all Windows applications have the problem. I wonder what PowerShell does to prevent it.

That said. Does PTK2 have events (hooks) when entering and exiting idle state (i.e. waiting for user input)? With something like that I could probably make a much better implementation of the [free_cwd](http://xon.sh/xontribs.html#free-

[2018-06-17 11:06] jonathanslenders commented on #550
There are input hooks, which are used to run another event loop as long as prompt_toolkit is idle.
There is an example here: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/examples/prompts/inputhook.py  IPython is using this for integration with all the different event loops. It's basically a replacement for ``PyOS_InputHook`` of the Python API (when using readline.)

See al

[2018-06-17 12:42] jonathanslenders commented on #274
Hi @randy3k, thanks for noticing!
This commit should fix that: https://github.com/jonathanslenders/python-prompt-toolkit/commit/c6ebc96aa3278a6136d76e4ba98308044293a8a2 Can you please try again?

Notice that it still requires multiple cursor movements (left/right arrow) to move across these characters.

[2018-06-17 14:22] amonsch opened #643 "23"

[2018-06-18 12:07] beoboo opened #644 ""Default" values are shown only for the first prompt"
Hi, running

[code]

The expected result should be (hitting return twice)

[code]

while the second prompt doesn't show the default value.

[2018-06-18 21:41] asmeurer commented on #642
`git merge 4476b3 -s ours`

You can test it first in a detached HEAD if you want (`git checkout $(git rev-parse HEAD)`). I just did it myself against origin/master and `git diff origin/master` after shows no difference. And then I checked out `origin/master` again and `git merge <the merge commit hash> --ff-only` works, meaning a `pull` would work without creating a new merge commit.

[2018-06-19 06:17] jonathanslenders commented on #642
Thank you @asmeurer! I'll try it this evening or tomorrow

[2018-06-19 06:18] jonathanslenders commented on #643
@amonsch, I'm not sure what you mean by this issue...

[2018-06-19 06:28] amonsch commented on #643
@jonathanslenders sorry, i haven't noticed that i have opened this issue.

my bad

[2018-06-19 06:28] #643 closed

[2018-06-19 07:21] beoboo commented on #644
It worked perfectly, thanks!

[2018-06-19 07:21] #644 closed

[2018-06-19 21:32] jonathanslenders commented on #642
Done! Thanks for the explanation @asmeurer.

[2018-06-20 14:29] Arrowbox opened #645 "TextArea widget parameter accept_handler does not pass buffer to callback"
The parameter `accept_handler` is used during `TextArea.__init__()` with a lambda:

[code]
I expected this to behave the same as the `accept_handler` parameter in the `Buffer` class and take the buffer as one of the arguments. However, the lambda above does not forward the buffer argument so the handler does not receive a copy of the buffer. Is this expected?

[2018-06-20 20:44] jonathanslenders commented on #645
Hi @Arrowbox,

Good point. First, the main idea of ``TextArea`` was to abstract away all the underlying details of ``Buffer/Window/BufferControl``, but I think this makes sense indeed. For consistency and because in that handler you need access to the text anyway.

Feel free to create a pull request for this. I know it's backwards-incompatible, but the ``widgets`` API is not set in stone yet, and

[2018-06-20 20:48] #642 closed

[2018-06-20 20:59] jonathanslenders commented on #493
Ok, I think I understand the issue. You don't want the ``\n`` to be rendered in the terminal, so that copy/pasting works.

Unfortunately this is still not possible, and very hard to implement right now, taking into account how the rendering engine works. We first render to an in-memory 2d canvas, then we diff that against the 2d canvas from the previous rendering, and we output the diff by doing b

[2018-06-20 21:09] asmeurer commented on #493
Are there terminals that don't do soft-wrapping that would need to be handled in the code?

It sounds like the code would need to be abstracted a bit to differentiate between visual rows and physical rows, where there may be more visual rows because of wrapping. Calculations involving the terminal size should use visual rows but calculations involving cursor movements should use physical rows.

Th

[2018-06-21 00:17] asmeurer commented on #493
OK, I might at some point. It helps to know how it works. Also, I don't think this sort of thing needs to be supported when mouse reporting is enabled. To me, that turns it into a real full-screen terminal application (even if it doesn't do a `clear`), and I have never seen a full screen application that doesn't do line wrapping (is it even possible?).

[2018-06-21 04:21] asmeurer commented on #550
But xonsh itself is a Python interpreter, meaning if you run `import os; print(os.getcwd())` it should print the same directory that you are `cd`ed into.

[2018-06-21 05:38] melund commented on #550
Yes. We couldn't just keep CWD in shadow variable in xonsh as @asmeurer point out.

That is is no problem with the [free_cwd](http://xon.sh/xontribs.html#free-cwd). It restores the correct cwd every time xonsh resumes the program flow. Only when PTK is idle and waiting at the prompt is the cwd reset to `/`. The effect is that open terminal hanging around doesn't block folders on windows.

I only w

[2018-06-21 07:38] ibeex opened #647 "create_prompt_application missing from 2.x"
[code]
ipython and lots off other apps don't work any more.

[2018-06-21 17:56] asmeurer commented on #550
What if another thread is doing something that requires the cwd?

[2018-06-21 19:49] melund commented on #550
Yes. That is a problem. And why this is a xontrib :-/ I guess this shows why this can't be more than a hack.

There really ought to be a way to prevent processes on windows from locking directories.

[2018-06-22 06:13] techtonik opened #648 "Debugging under Vim"
`prompt_toolkit` fails if run under `vim`. Example:
[code]
Output:
[code]

[2018-06-22 18:18] jonathanslenders commented on #648
Hi @techtonik,

What operating system or Linux distribution and which Vim version do you have?

When I try this, it works fine. In any case, this is not an issue with prompt_toolkit.
Vim is responsible for running that subprocess in a pty, or maybe Vim itself didn't run in a pty to begin with.

Jonathan

[2018-06-22 18:20] jonathanslenders commented on #647
Hi @ibeex,

IPython does indeed not yet run on prompt_toolkit 2.0. They're working hard on that.
See this issue: https://github.com/ipython/ipython/pull/11177

If you have some time available, it would be great if you could help them testing the latest IPython version from GitHub.

[2018-06-23 10:00] techtonik commented on #648
Fedora 28. Tilix terminal.
[code]

[2018-06-23 10:04] techtonik commented on #648
It looks that I've got `neovim` instead of `vim`, and it was not installed via standard package.
[code]
Let me reinstall it and try again.

[2018-06-24 04:29] techtonik commented on #648
Everything is okay with plain Vim 8.1.055.

[2018-06-24 04:29] #648 closed

[2018-06-24 11:00] jonathanslenders commented on #402
Closing this, as it has been fixed in Jedi.

[2018-06-24 11:00] #402 closed

[2018-06-24 11:04] jonathanslenders commented on #523
Hi @lllama,

@gpotter2 implemented search for radio lists now: https://github.com/jonathanslenders/python-prompt-toolkit/pull/627

Is this what you need?

[2018-06-24 11:05] jonathanslenders commented on #514
Hi @vdaskalov, 2.0 has been released now, so closing this issue.

[2018-06-24 11:05] #514 closed

[2018-06-24 20:47] tagej opened #649 "Rename all future versions of prompt_toolkit to prompt_toolkit2"
Hi all!
I tried to create a small script that both depends on prompt_toolkit2 and oct2py witch depends on ipython. The problem is that ipython depends on prompt_toolkit1 and prompt_toolkit2 is not backwards compatible with prompt_toolkit1. How ever, if we renamed prompt_toolkit to prompt_toolkit2 in the future, then such conflicts whould be eliminated.
Please tell me if I have misunderstood someth

[2018-06-25 10:12] tagej commented on #649
So, it is probably allready to late to rename ptk to ptk2. But that means, that all packages that not will be upgraded to ptk2, will not work any more. This is maybe not a problem, but it is trueth.

[2018-06-26 11:16] lllama commented on #523
It looks like this jumps to the entries starting with the key pressed. I was looking for a way to filter or do a more generic search but I’ve not touched that code for a long time. I believe my lost was several thousand entries long so needed full search.

[2018-06-26 16:07] Arrowbox commented on #645
I've made a PR #650 with the changes including the shortcuts and example updates.

[2018-06-27 11:45] #649 closed

[2018-06-27 12:03] tage64 opened #652 "Prompt in full screen application"
Hi!
I want to create a full screen application. Then I want to ask the user for some input at some point in my code. I want to use the prompt function. It seems to me that I can't do that. I've tried run_in_terminal, but it doesn't worked in this case.
Is it possible to do that?
Tage!

[2018-06-27 20:36] jonathanslenders commented on #652
Hi @tagej,

The ``prompt`` function is not meant to run inside the full screen layout, but ``run_coroutine_in_terminal`` can handle that. It will hide the full screen layout; display the prompt; and go back. The reason to use that instead of ``run_in_terminal`` is because there is already an event loop running that you want to use. ``run_in_terminal`` is meant for running blocking functions. Spawn

[2018-06-27 22:34] theazureshadow commented on #632
Thanks!

[2018-06-27 22:39] theazureshadow commented on #632
Do you expect to release a new patch version for this?

[2018-06-28 03:06] techtonik commented on #648
Looks like it is a [https://github.com/neovim/neovim/issues/1496#issuecomment-63691483](design decision) in hope for a better terminal-user interface/experience. A pity that it took so much time.

[2018-06-28 03:10] techtonik commented on #647
IPython merged, but is there a porting guide for all other apps?

[2018-06-28 06:31] jonathanslenders commented on #647
There is: https://python-prompt-toolkit.readthedocs.io/en/2.0/pages/upgrading.html
It's probably not complete, but let me know if you think something important is missing.

[2018-06-28 09:55] immunIT opened #653 "ImportError: WordCompleter"
Hi,

It seems that the release 2.0.X have some trouble to import the package WordCompleter. You can find below the thread showing the associated stacktrace.

https://github.com/immunIT/drupwn/issues/12

Best,

[2018-06-28 20:40] techtonik opened #654 "Disable bottom_toolbar if it returns False"
I want to add shortcut to disable bottom toolbar. Is it possible to disable it when `bottom_toolbar` returns False?
[code]
Right now this piece of code enters endless error loop on `Ctrl+B`:
[code]
Full traceback: https://pastebin.mozilla.org/9088696

[2018-06-28 20:52] jonathanslenders commented on #654
I think if you return an empty string instead of False, that should do it. Can you try that?

[2018-06-28 20:55] jonathanslenders commented on #653
As I explained in that thread, this is because ``dropwn`` is not yet upgraded to prompt_toolkit 2.0. There are more important changes then this ImportError.

Again, if you face any issues with the upgrade, let me know.
I'm closing this issue, because it's not a bug in our side.

[2018-06-28 20:55] #653 closed

[2018-06-29 00:53] techtonik commented on #654
If I return empty string, it just erases the foreground.

![image](https://user-images.githubusercontent.com/515889/42067655-7f0429d6-7b71-11e8-8e61-34a7ffee2775.png)

[2018-06-29 01:55] techtonik opened #655 "Redraw prompt when bottom_toolbar is disabled"
When I [disable toolbar](https://github.com/techtonik/notfar/blob/2000/notfar.py) for prompt with <kbd>Ctrl+B</kbd>, it leaves an empty string. How to make prompt redraw itself at the bottom?

Start:
![image](https://user-images.githubusercontent.com/515889/42067922-239153a6-7b73-11e8-9d37-a8c9d915a835.png)
<kbd>Ctrl+B</kbd> - enabled toolbar:
![image](https://user-images.githubusercontent.com/515

[2018-06-29 05:37] shyam81295 opened #656 "Exception handling inside promptSession"
**How can we handle the exception such that when any exception occurs (and it is catched), then it should not exit the promptSession?**
It is fine to come out of the current prompt which resulted in exception, but not out of whole promptSession.
Note : I am **NOT** using full-screen CLI. I am using only promptSession.

[2018-06-29 08:52] tagej commented on #652
Hi @jonathanslenders
It don't work for me. Here's what I've tested:
`from functools import partial

from prompt_toolkit import prompt
from prompt_toolkit.application import run_coroutine_in_terminal, \
        run_in_terminal
from prompt_toolkit.eventloop import run_until_complete
from prompt_toolkit.key_binding import KeyBindings
from prompt_toolkit.keys import Keys

key_bindings = KeyBindings()

[2018-06-30 14:13] benhoff commented on #542
@jonathanslenders
No worries, I got pulled off onto something else. Is there a good way to find out if this gets added/merged?
Changelog? Documentation?

I'll probably pull back onto using this in a couple of months so it's no worries, just trying to figure out the best way to re-engage.

[2018-07-01 13:10] tsvenson opened #657 "HtmlLexer moved in Pygments 2.2.0"
In: examples/full-screen/full-screen-demo.py

`from pygments.lexers import HtmlLexer`

Needs to be changed to:

`from pygments.lexers.html import HtmlLexer`

When using Pygments 2.2.0

PS: Haven't checked if this change happened in earlier version as I just installed latest version and stumbled on it.

[2018-07-01 18:11] zzl0 opened #658 "Cursor jump to the beginning of line"
## Description

If you are using `SqliteConsoleLexer` and when you start to type, text will disappear and cursor will jump to beginning of line.

## How to reproduce it?

[code]

#### steps

[code]

[2018-07-01 20:29] jonathanslenders commented on #658
@zzl0,

Thank you for reporting this issue and creating the pull request!
I consider this a bug in Pygments, but it's indeed good to log a warning. I'll have a look at the merge request ASAP.

[2018-07-01 21:07] techtonik opened #660 "Inverted style causes problems"
This doesn't work as expected:
[code]
Produces:
![image](https://user-images.githubusercontent.com/515889/42138795-63079220-7dad-11e8-8b98-b1d401b6047c.png)

I thought FormattedText should somehow validate the params.

[2018-07-01 21:32] zzl0 commented on #658
@jonathanslenders

Thanks, I agree it is a bug (not a feature) in `Pygments`. I didn't find a test file for `prompt_toolkit.lexers.pygments`, should I add a new test file and add unit test for change?

[2018-07-02 13:32] techtonik commented on #660
Looks like params are understood, but are inverted.

[2018-07-02 18:30] jonathanslenders commented on #660
Hi @techtonik,

Yes, this is because the "reverse" flag is set for the ``bottom-toolbar`` style. See: https://github.com/jonathanslenders/python-prompt-toolkit/blob/a4a010e4e4bf08755ed1efd587de34843cfe2f07/prompt_toolkit/styles/defaults.py#L129

You can override this by passing a style that doesn't use reverse here:
[code]

The reason we use reverse here is because it works well for terminals with

[2018-07-02 18:41] jonathanslenders commented on #657
@tsvenson,

I'm not sure this is correct.
Starting from a fresh docker container, it looks like this should work:

![image](https://user-images.githubusercontent.com/216638/42180628-361f2904-7e38-11e8-9e45-d386ecf36398.png)

[2018-07-02 18:44] jonathanslenders commented on #656
Hi @shyam81295,
Do you have an example of such an exception?

What do you mean by going out of a ``PromptSession``? A session can be reused any time, there is not really a concept of being in or out of a session, I think.

[2018-07-02 18:45] jonathanslenders commented on #655
@techtonik,

It is not possible to make the terminal scroll up again, so unfortunately nothing we can do about this.

[2018-07-02 18:46] jonathanslenders commented on #654
Good point, you're right. I have to think about how to handle this. Give me some time to think it through.

[2018-07-02 18:47] jonathanslenders commented on #645
Closing this,  https://github.com/jonathanslenders/python-prompt-toolkit/pull/650 has been merged.

[2018-07-02 18:47] #645 closed

[2018-07-02 22:21] mikegrobler opened #661 "prompt_toolkit on exit leaves terminal in bad state"
OnUbuntu 16.04 using Python 3.5 and prompt_toolkit 1.0.15.

Using librabry very simply in a python app:

import prompt_toolkit
...
while True:
    text = prompt_toolkit.prompt(prompt, history=FileHistory('sConsole.hst')).strip()
    ....

After the app terminates and returns to the terminal command prompt, the terminal does not echo any typing. Is there a way to force prompt_toolkit to terminate g

[2018-07-03 01:41] techtonik commented on #660
OMG. Spent so much time on this issue. But now I know this software better. =)

[2018-07-03 01:50] techtonik commented on #655
Is it possible to upgrade prompt then to a full screen application? The full screen application can then occupy one or two lines. One line is only taken at start if no toolbar is enabled. Two lines if toolbar is present (prompt on the first line) or toolbar was switched off (prompt on the second line).

[2018-07-03 06:55] shyam81295 commented on #656
Hi @jonathanslenders ,
Going out of `PromptSession` means due to exception, it terminates the program. I want to change this, it should not terminate the program, instead it should just ask again to re-enter the "prompt".

I hope I am making sense. Sorry for being total noob.

[2018-07-03 20:24] mudderman opened #663 "Can't get completer to work using dynamic list"
I have successfully made a completer in which I fetch data from internet and displays it and all that black magic.

My problem now is that I have another completer which based on a decorator gives me a list of possible commands in a class. See the example:

[code]

The @PublicCommand pushes the name of method it's decorating into a list and I try to use that list as suggestions in the completer (t

[2018-07-03 20:58] jonathanslenders commented on #656
Hi @shyam81295,

Maybe you can try using a ``try/except`` block?
Something like this:

[code]

Does that help? Otherwise, can you send me a sample of your code?

[2018-07-05 11:35] melund opened #664 "Terminal windows exists on Windows 10 build 17692"
I am having problems with prompt-toolkit 1 after getting the newest update to Windows (Insiders slow ring build 17692).

Both xonsh (#2703) and ptpython with ptk1 causes the terminal window to exit when I start the programs. No error messages or anything. The conhost terminal window just disappears.

I haven't tried to debug this yet, to see when it happens. But I will try it this weekend.

I woul

[2018-07-05 15:24] techtonik commented on #392
[code]
This make `prompt` return `None`. Not the same as pressing <kbd>Ctrl+D</kbd> which raises `EOFError`.

[2018-07-05 15:40] jonathanslenders commented on #392
[code]
should probably do it.

[2018-07-05 18:37] techtonik commented on #392
It does. Thanks. =)

[2018-07-05 22:41] mhoff opened #665 "Default value only used once"
`PromptSession` displays a default value *only* for the first call to prompt. Every subsequent prompt yields *no* default value. The session can be "reset" to yield the default value once again by a using keyboard interrupt.

**Code**
[code]
**Output**
[code]
**Version**
[code]

[2018-07-06 04:13] techtonik commented on #660
I think documented this behavior is enough to close this issue. Need to look for a place to document `bottom_toolbar` and explain that it is a widget with style and behavior that anybody can create. Maybe a tutorial how to create such bar from scratch could be useful. Then people can compare with existing.

[2018-07-06 07:01] melund commented on #664
I have just tried IPython and ptpython with PTK2 as well.

Unfortunately, the same behaviour. Terminal window just shuts down.

I guess this is most likely a bug in the console on Windows. So maybe I should also report it here: https://github.com/Microsoft/console/issues

@jonathanslenders Any pointers to how I can best help solve and debug it before we report it to the console team?

[2018-07-06 12:52] scopatz commented on #664
That is not good. Maybe that console repo is the right place to bring it up.

[2018-07-06 19:01] scopatz commented on #664
Ahh that is good to know!

[2018-07-06 19:52] melund commented on #664
@jonathanslenders Here is some more debug info.

The crash happens when the PTK1 tries to call [`_erase()`](https://github.com/jonathanslenders/python-prompt-toolkit/blob/1.0.15/prompt_toolkit/terminal/win32_output.py#L210)

The following is a close as I could debug before the terminal disapears.
[code]

I also captured the debug render info from the [`_winapi()`](https://github.com/jonathanslende

[2018-07-06 19:56] melund commented on #664
@scopatz  Yes. The best fix in xonsh is probably to upgrade to PTK 2. But I hope IPython will also follow soon. Otherwise, it will be a little annoying.

[2018-07-06 21:29] jonathanslenders commented on #664
@melund, thank you for debugging this so far!
The reason that PTK 2 doesn't crash is probably because it detects that the Windows console now supports ANSI escape sequences, and it will output that instead.

I hope to find some time this weekend to debug it.

IPython merged a patch for PTK 2 support, so I think the next (major) release will include it.

[2018-07-07 07:32] melund commented on #664
Thanks for letting us know. That is great. @scopatz timing xonsh support for ptk2 with the IPython release would probably be a good idea. Unless we plan to support both versions.

[2018-07-07 08:16] tsvenson commented on #657
The thing that confused me was that in PyCharm, without `.html` then `HtmlLexer` was underlined in red with the error "Cannot find reference 'HtmlLexer' in '__init__.py'". It was also not possible to autocomplete it until I added `.html`.

I does work without for me too though.

[2018-07-08 14:40] jonathanslenders commented on #664
I have some issues upgrading to the latest Windows 10. (see screenshot below...) If someone has some time to debug this bug above, that would be great. I'll see whether I can fix my PC in the meantime.

--

![image](https://user-images.githubusercontent.com/216638/42420924-804c2470-82cd-11e8-9dd4-5e474e9a69bc.png)

[2018-07-08 16:48] tsvenson commented on #657
Thanks for the clarification @asmeurer, will report this to Jetbrains and see if it is something that can be addressed in PyCharm then.

[2018-07-09 10:50] rolfschr opened #666 "Showing a simple message dialog in fullscreen apps - possible with simple code?"
Hi,

I would like to show a message dialog in a full screen application but I can't find anything about this in the docs. I have seen what I want in ``examples/fullscreen/text-editor.py``, specifically the 'About' dialog (I simply need something to confirm). The example contains a lot of code in order to get the dialog box appear and I was hoping to find something more simple like one or two funct

[2018-07-09 13:51] techtonik commented on #666
I also look to fix this one:
[code]

[2018-07-09 19:45] lwm commented on #652
Ah, I do see that we have https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/widgets/base.py#L87-L88 which can get me moving along for now. Sorry for the noise.

[2018-07-09 20:06] lwm commented on #652
Ah, here is an example which shows you how to build up your own widget that you can control the `BufferControl` with: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/examples/full-screen/simple-demos/autocompletion.py. You can start to piece together a prompt and so on.

[2018-07-09 21:14] lwm opened #667 "Writing to `.text` or `buffer.document` inside Frame"
This is related to full screen applications and widgets.

I have the following prompt embedded in a `FloatContainer`:

[code]

So, I can start to see the following:

![myshell](https://user-images.githubusercontent.com/1991377/42476020-d52316ca-83cc-11e8-8d14-b905b4a0e64d.png)

I then wire up a keybinding to handle hitting enter when submitting some input:

[code]

This is following the calculator

[2018-07-09 21:16] lwm commented on #640
Related to https://github.com/jonathanslenders/python-prompt-toolkit/issues/652, I think.

[2018-07-09 21:17] lwm commented on #614
Also kinda related to https://github.com/jonathanslenders/python-prompt-toolkit/issues/652.

[2018-07-09 21:48] lwm commented on #667
I've also tried to add an `accept_handler=accept_handler` to my `Buffer` but it is not running :/

[2018-07-10 11:47] techtonik commented on #660
Actually, it is documented here http://python-prompt-toolkit.readthedocs.io/en/stable/pages/asking_for_input.html#adding-a-bottom-toolbar but I missed that.

[2018-07-10 11:47] #660 closed

[2018-07-10 16:43] jonathanslenders commented on #667
These are valid remarks. I'll fix it ASAP.

[2018-07-10 16:53] lwm opened #668 "AttributeError: 'TextArea' object has no attribute 'get_children'"
I'm running the latest HEAD of python-prompt-toolkit.

The stack trace is:

[code]

Looks like this is the culprit:

https://github.com/jonathanslenders/python-prompt-toolkit/blob/c37cc6e805ff3df9ea79ae0b1bbc95995ba0e5b8/prompt_toolkit/layout/containers.py#L2110

[2018-07-10 16:57] lwm commented on #668
Removing the `focused_element=command_prompt`, I then see:

[code]

There seems to be a missing API for the `DynamicContainer` and `TextArea`?

[2018-07-10 17:08] lwm commented on #665
Heyo, I'm just passing by but I can't see any docstring or usage evidence to suggest that the `default` is supposed to appear on each subsequent call to the prompt. This seems like something that the `BeforeInput` should be doing instead?

https://github.com/jonathanslenders/python-prompt-toolkit/blob/677190f37e064bba83474cae3e277681b3970cfe/prompt_toolkit/layout/processors.py#L362-L369

[2018-07-10 17:17] lwm commented on #661
I was not able to reproduce the behaviour with your snippet that you are describing @mikegrobler.

For handling various ways of exiting gracefully, please refer to the examples:

[2018-07-10 17:19] lwm commented on #663
Hmmm, not really sure from reading this over a few times.

Have you tried dropping into the debugger and inspecting:

https://github.com/jonathanslenders/python-prompt-toolkit/blob/deb7488b7b24814ae12518639a2fbe0b67c43ec3/prompt_toolkit/completion/word_completer.py#L38

Any more information to provide for this report?

[2018-07-10 17:29] lwm commented on #557
Hi there, this seems to be an issue in pgcli and not the toolkit here.

Those assert statements are to help developers catch their programming errors.

In any case, the toolkit is way beyond that version reported in this ticket.

https://github.com/jonathanslenders/python-prompt-toolkit/releases/tag/2.0.3

[2018-07-10 17:44] lwm commented on #532
Hi @ahundt, from https://github.com/jonathanslenders/python-prompt-toolkit/pull/534#issuecomment-322538767, I can see that the idea of the change should go in, which is cool :+1:

I am not sure about your changes in https://github.com/ahundt/python-prompt-toolkit/commit/e62d188ac311695192b3fb1495f8e5d4ddd619df. It seems like the purpose of `enable_history_search` is to enable the functionality, no

[2018-07-10 17:51] lwm commented on #508
Just for now, there are already examples for how to setup an auto suggester over at:

The `ConditionalAutoSuggest` is an auto suggester that also accepts a [Filter](https://python-prompt-toolkit.readthedocs.io/en/master/pages/reference.html#module-prompt_toolkit.filters). You could just do `from prompt_toolkit.filters import has_selection` and then pass it in as the second positional argument.

[2018-07-10 19:20] lwm commented on #93
Looks like https://github.com/jonathanslenders/python-prompt-toolkit/pull/99 was for this.

[2018-07-10 20:48] lwm commented on #633
Agreed, looks to be an upstream bug. Should be closed here.

[2018-07-10 20:51] lwm commented on #625
Should this be documented as a bash oddity? Looks like it to me ...

[2018-07-10 20:56] lwm commented on #305
Would https://github.com/nirum/tableprint cover your use case?

[2018-07-10 21:02] randy3k commented on #625
I think prompt toolkit should nevertheless be able to handle the case of tty not getting the terminal size correctly.

[2018-07-11 18:41] jonathanslenders commented on #668
Hi @lwm,
What is the parent control of this TextArea?
I think the problem is that a ``TextArea`` is not a real container object itself. (It doesn't implement the ``Container`` ABC). But it has a ``__pt_container__`` method that should return the actual container. The ``to_container`` helper is supposed to do that, and I think this is missing from the parent control.

[2018-07-11 18:47] jonathanslenders commented on #667
Hi @lwm,

Did you try running using ``master`` instead of the latest Pypi release?
Some time ago I did this fix: https://github.com/jonathanslenders/python-prompt-toolkit/commit/4aee265b184b5011d6698083a3ada51323afd019
That should make the "body" attribute of a ``Frame`` object changeable.

[2018-07-11 18:49] lwm commented on #668
Aha, I see. Is this another instance of https://github.com/jonathanslenders/python-prompt-toolkit/issues/667?

[code]

Which is then passed to the application where it blows up on `run()`:

[code]

[2018-07-11 19:00] jonathanslenders commented on #666
Hi @rolfschr,

Unfortunately, there is not really a shortcut to achieve this.
The reason is that the pop-up dialog should become part of the application layout in order to be displayed. There can be only one application running, so you have to add it to your main application. (The 'dialogs' shortcuts won't do that.) Further, the dialog shortcuts start the event loop, this doesn't work in the middl

[2018-07-11 19:14] jonathanslenders commented on #668
Hi @lwm,
I just pushed this commit: https://github.com/jonathanslenders/python-prompt-toolkit/commit/1d6c25655fbf107a00cf64adf5624050cf8c5f30
Can you try again?

[2018-07-11 19:17] lwm commented on #668
Oh yes, thank you very much, that works perfectly!

[2018-07-11 19:17] #668 closed

[2018-07-11 19:19] jonathanslenders commented on #657
Hi @tsvenson,

If you create a pull request, I don't mind merging that, if you think that's better. Otherwise, we can close this issue. Personally, I think the Pygments plugin system is too dynamic.

[2018-07-11 19:28] jonathanslenders commented on #668
Well, thank you for reporting the bug!

[2018-07-11 19:35] jonathanslenders commented on #665
Hi @mhoff,

Can you check whether this is still the case with the latest master commit?
I remember that https://github.com/jonathanslenders/python-prompt-toolkit/commit/bae8e912edd6af44406ed6e9545fef75a98f6261 fixed either this or something related.

[2018-07-11 19:39] mudderman commented on #663
Hi @jonathanslenders

Having it the way I have it actually works for me.

The thing that does not work for me is that I get no list of autocomplete suggestions. :(

[2018-07-11 19:47] jonathanslenders commented on #663
I just copy/pasted the code that you shared above, and the autocompletions are working fine. (latest prompt_toolkit master here). I'm not sure I understand what's going on.

[2018-07-11 20:00] tsvenson commented on #657
Hi @jonathanslenders,

Done. Even though it does work, this is better as it avoids the confusion I experienced while using PyCharm.

[2018-07-11 20:04] techtonik commented on #640
Should be a in FAQ, or somewhere in docs.

[2018-07-11 20:10] techtonik opened #672 "Extend PromptSession to a full screen application"
Instead of trying to embed prompt into full screen app (#652 #640), is it possible to just extend PromptSession, because it is already the app that runs the event loop?

[2018-07-11 20:54] mudderman commented on #663
My standard env is latest prompt_toolkit using python 2.7.12 running in cmder on win 10. Then it won't work for me.

Just tried it on python 3.4.3 in the "Bash on Ubunbtu on Windows" and it works fine.

So maybe it's just time for me to hop on over to python 3...

Thank you.

[2018-07-11 20:54] #663 closed

[2018-07-11 21:13] mudderman commented on #663
Actually just found out how to make it work in my python 2 env.

Either i wrap the adding of the function name into the list in a unicode:

[code]

or the yield in the CommandCompleter:

[code]

\o/

[2018-07-12 07:28] techtonik opened #674 "Explain layout better"
Is it possible to color references to different layout component classes on this page:
http://python-prompt-toolkit.readthedocs.io/en/stable/pages/full_screen_apps.html#the-layout

It seems that there are three groups of layout components:
1. `Container`, `HSplit`, `VSplit`, `FloatContainer` - (light-blue lines) specify layout only (no flow direction)
2. `Window` - (red) flow and scrolling
3. `UIC

[2018-07-12 10:58] sander76 opened #675 "keybinding question"
I am trying to build a full screen app.
For a certain container I want to use class to define context (like what the content should become)
So far so good, but I am struggling how to implement keybindings. Per context I'd like to define keybindings in that class. But as I can only use decorators to add one I get errors.
For example

[code]

[2018-07-12 12:14] sander76 opened #677 "Change content of container dynamically"
Trying to figure out how to change the content of a container (filling it with a set of buttons) depending on a menu item choice.

I am going through the docs but I can't find how to do that.
I ran into `ConditionalContainer`. Is that what I should be using or there a better solution ?

Sander.

[2018-07-12 15:17] asmeurer commented on #657
I spoke to some pycharm devs here at SciPy. Apparently if pygments stubs were added to https://github.com/python/typeshed it would fix the issue (pycharm uses typeshed).

[2018-07-12 15:34] lwm commented on #677
I believe the [ConditionalContainer](https://python-prompt-toolkit.readthedocs.io/en/master/pages/reference.html#prompt_toolkit.layout.ConditionalContainer) is for conditionally hiding/showing the actual container, not configuring the contents of it. From any event handler (menu switch?), you should be able to access the properties of the container you want to change a set new values, no?

[2018-07-12 15:38] lwm opened #678 "AppVeyor failing build: ModuleNotFoundError: No module named 'termios'"
Discovered on https://github.com/jonathanslenders/python-prompt-toolkit/pull/673.

The failing build is:

The error is happening on the testing step:

[code]

[2018-07-12 15:41] decentral1se opened #679 "CI: building the documentation with sphinx"
Would you be interested in accepting a PR which builds the sphinx documentation?

We could also enable some linting there depending on how tight you want the ship to be ;)

I can pick it up if we're in agreement :+1:

[2018-07-12 17:28] vlovich opened #680 "really bad flickering when there's lots of output"
The prompt, right prompt & status bar (i.e. completion) are *really* bad (unusable) if there's a lot of output.  Attached a repro case.  Flickering of the completion can be improved by replacing erase to bottom with erase to end.  The prompt still flickers at all times even with this  (just uncomment out Vt100_Output.erase_down = flicker_fix to test it out).  The rendering probably needs to better

[2018-07-12 17:35] vlovich opened #681 "patch_stdout corrupts terminal output if lots of output"
Run this example program on OSX 10.13.5 terminal & a bunch of garbage escaped escape codes are printed to the screen.

    from prompt_toolkit.completion import WordCompleter
    from prompt_toolkit.eventloop.defaults import use_asyncio_event_loop
    from prompt_toolkit.patch_stdout import patch_stdout
    from prompt_toolkit.shortcuts import CompleteStyle
    from prompt_toolkit.shortcuts.prompt

[2018-07-12 17:35] vlovich commented on #681
One weird thing I did notice is that I CTRL-C'ed once without patch_stdout and for some reason it looked like there were a lot of threads in auto_flush_input or key_processor.py wait.

[2018-07-12 17:35] vlovich commented on #681
KeyboardInterrupt
Fatal Python error: could not acquire lock for <_io.BufferedWriter name='<stdout>'> at interpreter shutdown, possibly due to daemon threads

Thread 0x0000700009a22000 (most recent call first):
  File "/Users/vlovich/src/presto/presto/tools/cmdline/python-env/lib/python3.7/site-packages/prompt_toolkit/application/application.py", line 567 in auto_flush_input
  File "/Users/vlovich

[2018-07-12 18:11] vlovich opened #682 "patch_stdout is surprisingly slow"
patch_stdout slows down the program if there's a lot of output by ~5x which seems really large considering that what it's trying to do conceptually doesn't seem too complicated.

    from prompt_toolkit.completion import WordCompleter
    from prompt_toolkit.eventloop.defaults import use_asyncio_event_loop
    from prompt_toolkit.patch_stdout import patch_stdout
    from prompt_toolkit.shortcuts i

[2018-07-12 19:09] jonathanslenders commented on #682
This largely depends on the amount of print statements. Not so much on the text length of the output.
For every individual write to stdout, the prompt will be erased, the output is written to the real stdout, and the prompt is rendered again. Prompt rendering will probably take most of the time here.

The rendering is highly optimized, so I don't think that part can be improved. But what we could

[2018-07-12 19:14] jonathanslenders commented on #681
Thank you for reporting!
I'm marking this as a bug, because this is not supposed to happen. But it'll take some time to investigate.

A work-around for now could be to create a simple full-screen application, with a text area on top for all the output, and an input field at the bottom for the prompt. It'll take more code then this simple prompt, but that should work fine. I believe there is an exa

[2018-07-12 19:15] jonathanslenders commented on #680
See my remark here: https://github.com/jonathanslenders/python-prompt-toolkit/issues/682
I think that bundling outputs in patch_stdout with a timer should also solve this issue.

[2018-07-12 19:18] jonathanslenders commented on #678
Hi @lwm,
Yes, I noticed. Thanks for reporting!
I think the unit tests don't really need these imports, but I'm doing an experiment with a PipeInput for Windows, using real Windows pipes as well. If that works, we can use that for the unit tests on Windows.

[2018-07-12 19:18] jonathanslenders commented on #679
Hi @lwm,
What would be the advantage over having readthedocs build the documentation like it works right now?

[2018-07-12 19:25] jonathanslenders commented on #677
Hi @sander76,

There are two options here:

- Either replace the content on the parent container. Most containers support that. For instance, for a ``VSplit`` or ``HSplit``, you can manipulate the ``.children`` list. For a ``FloatContainer`` it is possible to change ``.content`` and ``.floats``. For some widgets like ``Frame`` it is also possible to change the content, by assigning to ``.body``. W

[2018-07-12 19:30] jonathanslenders commented on #672
Hi @techtonik, I'm really not sure about this, honestly. I've no idea what the APIs would look like in this case.
If somebody can make a proof-of-concept, I will definitely like to have a look at that.

I understand that combining the ideas of what ``PromptSession`` offers, with a full-screen application and pop-up dialogs, is not straightforward, right now, but I'd like to grow this slowly, and s

[2018-07-12 19:35] jonathanslenders commented on #674
Hi @techtonik,

I'm willing to accept pull requests for these pages of documentation. I've no idea what color options Sphinx offers to make it more clear.
Also, I hope to find more time in the coming year(s) to make the full-screen documentation better. There is a load of functionality in these classes, and I could probably write a book about it right now. :-)

These are very good suggestions that

[2018-07-12 22:57] vlovich commented on #682
I think even just batching it would help drastically cause right now it happens 1 line at a time (finds a line in stdout, schedules append + repaint).

[2018-07-12 23:00] vlovich commented on #681
I started originally with an application but I encountered a few stumbling blocks.

1. Couldn't figure out how to get the logs to appear in the scrollback like it does with regular prompt().  I want to keep a REPL-like UI rather than having a screen-like experience.  I tried with full_screen True & False so clearly it's more complicated than that.
2. I found reproing all the prompt() like function

[2018-07-12 23:01] vlovich commented on #680
Interesting idea.  I'll try it out.

[2018-07-13 06:57] mhoff commented on #665
@jonathanslenders yes, it does fix it. Can you give an estimate on when this commit will be part of an official release?

[2018-07-13 09:16] lwm commented on #679
I think it would just be a way to know if your documentation was going to fail on RTD before it fails on RTD and instead blows up in the pull request check. RTD still builds and deploys your documentation there. It can be useful when messing around with the sphinx configuration, when/if it happens. Perhaps also to add checks for dead links and missing modules (for the reference pages).

[2018-07-13 09:49] jonathanslenders commented on #679
Hi @lwm,
Yes, that sounds good. I remember there were still a couple of warnings when building the docs, I'm not sure whether we can fix that.

[2018-07-13 12:22] jonathanslenders commented on #678
I merged some changes that make it possible to run the unit tests on Windows now. There's a helper ``create_pipe_input`` that returns either a posix or win32 input pipe.

For Win32, I'm using a win32 Event handle which can be registered in the event loop, because doing a non-blocking read on a regular pipe appears to be tricky. This works well and is clean.

[2018-07-13 14:02] lwm commented on #678
Nice one! I can see the latest builds starting to pass:

Closing this one off :fire: :fire: :fire:

[2018-07-13 14:02] #678 closed

[2018-07-14 02:07] techtonik commented on #672
Here is how to get application object from `PromptSession`.
[code]
Now it needs some experiments - how to add/call Dialogs to/from it.

[2018-07-14 20:02] scopatz opened #684 "PKT2 - History Subclass cannot be passed to PromptSession without __bool__"
While updating xonsh to PTK v2, we discovered that a custom History subclass will fallback to the `InMemory` history backend, unless you put something to make it it `bool(hist) is True`.  For example,

[code]

Oddly this does not happen when using the `ThreadedHistory` class.

[2018-07-15 11:08] lwm commented on #672
Could you explain further your thinking about why this would be good @techtonik?

My thoughts so far:

Is it possible to de-couple the application from the `PromptSession` and keep the feature set?

From my limited understanding, right now, we need to build a `Window`/`Buffer`/`BufferControl` setup to start to approach the feature set of the `PromptSession` in full screen applications. Since a big

[2018-07-15 11:11] jonathanslenders commented on #684
Hi @scopatz,
Is it possible that your ``MyHistory`` implements a ``__len__``, which returns 0? You can completely remove this ``__len__``.

[2018-07-15 14:47] asmeurer commented on #679
Building the docs on Travis is a good idea. I also recommend adding `html: SPHINXOPTS += -W` to the Makefile so that warnings are treated as errors (sometimes when Sphinx treats something as only a warning, ends up not being readable in the compiled docs, and sometimes it just removes it entirely).

[2018-07-16 09:33] rolfschr commented on #666
Hi,

thanks a lot. I was able to get the dialog as you described. Some hints that helped me:
* The ``floatcontainer`` is actually also the object where the "main" content is placed (I first created a new FloatContainer instead of replacing my exising Window object). I checked ``examples/full-screen/simple-demos/floats.py`` and understood that stuff better than.
* I made  ``button_handler()`` conta

[2018-07-16 09:33] #666 closed

[2018-07-17 20:28] Blue9 opened #685 "PromptSession.prompt() default argument only works once"
Passing in a default value to `PromptSession.prompt` only works on the first call to `prompt`. Example code:

    import prompt_toolkit
    session = prompt_toolkit.PromptSession()
    good = session.prompt('How are you? ', default='good')  # Output: How are you? good
    bad = session.prompt('How are you? ', default='bad')  # Output: How are you?

The default text is stored in a `Document` object

[2018-07-17 20:42] jonathanslenders commented on #685
See: https://github.com/jonathanslenders/python-prompt-toolkit/issues/644

It should be fixed in the master branch. I hope to push a new release this weekend.

Thanks for taking the time to troubleshoot!

[2018-07-17 21:15] Blue9 commented on #685
Thanks!

[2018-07-17 21:15] #685 closed

[2018-07-18 13:32] Arrowbox opened #686 "Mouse scroll fails when wrap_lines=True for Window"
I've not completely nailed down what the exact issue is. But when the buffer has many lines that are longer than the width and wrap then the mouse scroll sometimes gets stuck. Using keyboard to move the cursor beyond the edges does work but mouse scroll just doesn't respond.

[2018-07-18 16:35] Arrowbox commented on #686
Okay, I've narrowed it down

[code]

When line wrap is on, the `ui_content.line_count` does not match the number of lines available to display. So in the scroll down function:

[code]

the `self.vertical_scroll` reaches the limit of the comparison before the actual end. I tried calculating the actual available height when the `RenderInfo` is initialized but that caused too much overhead.

I also r

[2018-07-18 17:41] vlovich commented on #681
So I looked into this a bit and it seems like the problem disappears if I comment out ask_cpr in vt100.py.  Still not quite sure why it's causing corruption.   Maybe it's somehow being accessed from 2 threads?

[2018-07-18 17:51] vlovich commented on #681
Nope, doesn't appear to be a threading issue.  Maybe response bytes from the CPR are being echoed somewhere for some reason?

[2018-07-18 20:06] vlovich opened #687 "Large number of threads created when run under PyCharm"
request_absolute_cursor_position keeps getting called when running a simple app which starts a new thread if the CPR state is unknown (default) to do a timeout set of NOT_SUPPORTED.  However, there's no check to enforce that only 1 such timeout thread exists.  Running in PyCharm with a debugger can easily get >100 threads created & completely bog down the debugger.

[2018-07-19 06:43] asmeurer commented on #681
@vlovich you can see the discussion at https://github.com/jonathanslenders/python-prompt-toolkit/issues/456, which was a similar issue (but already solved in 2.0). Basically, CPR requests are a bit weird with the way prompt-toolkit is designed because the input and output classes have to coordinate them. The output sends the request and it has to set the terminal to echo off while the input waits

[2018-07-19 20:44] johneke opened #689 "Is it possible to configure a TextArea to auto-scroll to the bottom?"
I'm writing an application that prints out output from running another program. It would be nice if the text area could auto scroll to the bottom when scrolling activates.

Any kind of help you can offer would be greatly appreciated

[2018-07-19 22:02] melund opened #690 "Multiple tab completions triggers traceback"
In xonsh we experience an issue where pressing tab many times for tab completions can trigger the following traceback (https://github.com/xonsh/xonsh/issues/2730):

@scopatz  can confirm that this also happens for Linux.

[code]

If I press <tab> only a few times followed by a ctrl-c I get  slightly different traceback:

[code]

We are using prompt_toolkit 2.0.3

[2018-07-19 22:05] scopatz commented on #690
Oh sorry! slight correction. I can confirm that this **does not** happen on Linux

[2018-07-19 22:07] scopatz commented on #684
Hey @jonathanslenders - Ahh yes, it does have a len that returns 0. Initially.  We wanted to use the ThreadedHistory anyway, so I suppose this isn't a big deal. Thanks!

[2018-07-19 22:07] #684 closed

[2018-07-19 22:07] melund commented on #690
Ups. Sorry. I misread it.

[2018-07-20 08:55] vlovich commented on #681
Ah.  That certainly seems like it's on the right track but I'm not sure I understand the internals enough for the explanation to make complete sense.  The spam text from the background thread to the foreground happens within run_coroutine_in_terminal & thus should happen on the main thread.  In fact, if you just change the background thread to write directly to stdout (without patch_stdout), then

[2018-07-20 08:56] vlovich commented on #682
NVM.  You're right.  Need a timeout timer here.  However, I tried adding that & it didn't seem to really help so I think there's something else going on.

[2018-07-22 16:32] melund commented on #690
I don't know. I have no way of testing it on osx, but we haven't heard from anyone having a similar problem.

[2018-07-22 16:37] melund commented on #690
@Achimh3011 reported an other problem with the newest version of xonsh recently and he was using osx.

@Achimh3011 have you experienced something like this on your setup?

[2018-07-22 16:58] Achimh3011 commented on #690
No, I don't have that problem on OS X.

I do have tracebacks specifically with tab completion for docker (`xonsh-docker-tabcomplete` package). But I have not even checked yet whether that's simply due to a misconfiguration on my machine.

[2018-07-23 02:03] techtonik commented on #672
The only reason I have is that learning curve to go from prompt tutorial to a full screen application is too steep. Mentioning how to embed `PromptSession` (or underlying object) into another layout would help. Without this, there is a lot of manipulation with invisible layouts in my head that I can not compile yet.

[2018-07-24 03:07] portantier opened #692 "habu uses prompt_toolkit!"
Hi, habu uses prompt_toolkit in the module habu.jshell (I'm planning to use prompt_toolkit in other modules).

https://github.com/portantier/habu

Regards!

[2018-07-25 17:41] #687 closed

[2018-07-25 17:41] jonathanslenders commented on #687
This should be fixed now.

[2018-07-27 06:56] 6r1d opened #695 "Prompt and history"
If I understand correctly, ptpython is using a buffer to interact with user and FileHistory is just connected to the buffer itself.

So, for instance, how should I change autocompletion.py example to make it function as a prompt and have a history, which reacts to "up" and "down" buttons?

[2018-07-27 17:44] vlovich commented on #680
Tried the timer, didn't seem to help.

[2018-07-27 17:45] vlovich commented on #661
I have this problem too.  Is there a specific example you recommend?

[2018-07-27 18:31] jonathanslenders commented on #661
@mikegrobler, @vlovich: Can you try using prompt_toolkit 2.0 instead?
I'm at least not able to reproduce it there, but not sure about 1.0.15.

[2018-07-27 18:39] jonathanslenders commented on #692
Hi @portantier,

This is very cool. I added it to the list of projects: https://github.com/jonathanslenders/python-prompt-toolkit/
I'm definitely going to try it (working for a networking company myself).

Cheers!

[2018-07-27 18:46] jonathanslenders commented on #665
A new release was pushed 5 days ago, so I'm closing this issue. (Sorry, I forgot to notify).
Feel free to open again, if needed.

[2018-07-27 18:46] #665 closed

[2018-07-27 18:47] jonathanslenders commented on #657
@tsvenson: Can we close this issue?

[2018-07-27 18:50] jonathanslenders commented on #664
So I managed to update.

While working on pymux, in certain situations, I could make the console window crash as well, but only after running my server/client experiment, detaching the pymux client, waiting until the Python process is finished, and then typing "ls" would make the console window close. Very weird. I wonder whether that's a bug in Windows, or whether I'm leaving the console in a bad

[2018-07-27 19:12] portantier commented on #692
Thanks! Please, tell me if you had any suggestion or error report for habu!

Prompt Toolkit has simplifyed a lot the development of habu.jshell, is an awesome tool! Thanks for sharing!

[2018-07-27 19:15] tsvenson commented on #657
@jonathanslenders: Of course. Thanks for letting me contribute!

[2018-07-27 19:15] #657 closed

[2018-07-28 04:30] vlovich commented on #661
I never used anything other than 2.0

[2018-07-28 04:31] vlovich commented on #661
my code is different than the original example and it's pretty complex and not shareable. Haven't tried finding a simpler repro case.

[2018-07-29 01:49] ProbonoBonobo commented on #647
For anyone needing a temporary workaround, I can confirm that reverting to v.1.x mostly resolves the errors that prevent ipython, ptpython, etc. from initializing:

[code]

You get the following error when launching ptpython if you're using the [default `config.py` template](https://github.com/jonathanslenders/ptpython/blob/master/examples/ptpython_config/config.py)...

[code]
...but it's not fata

[2018-07-29 08:42] 6r1d commented on #695
https://github.com/jonathanslenders/python-prompt-toolkit/issues/614 has an answer.
[Source](https://github.com/jonathanslenders/python-prompt-toolkit/blob/deb7488b7b24814ae12518639a2fbe0b67c43ec3/prompt_toolkit/widgets/toolbars.py) explains a lot, too:

        @handle('enter', filter=focused)
        def _(event):
            " Run system command. "
            # ...
            self.system_buff

[2018-07-29 08:42] #695 closed

[2018-07-29 09:57] 6r1d opened #697 "Buffer dimensions based on content"
I want buffer height to extend depending on the text inside, but when I tried using `Dimension` with minimum and maximum height, buffer size stayed on maximum value. Is there any better way than using a function like `get_input_height` in this example?

    from __future__ import unicode_literals
    import os
    import asyncio
    from prompt_toolkit.eventloop import use_asyncio_event_loop
    f

[2018-07-29 18:34] natezb opened #698 "Replace absolute imports with relative imports"
I'd like to use 2.0 in a project of mine, but I rely on some packages that don't yet support it, so my intent is to temporarily bundle prompt_toolkit as a subpackage until these issues clear themselves up. When trying to do this, I discovered many absolute imports that could/should be rewritten as package-relative, e.g. in [application.py](https://github.com/jonathanslenders/python-prompt-toolkit/

[2018-07-29 19:31] jonathanslenders commented on #698
Hi @natezb,
I understand your situation, but this would not be convenient for us. Very often, an import has to go several levels of directories up, which means that many imports will look like ``from ...something import ...``. That's not really readable and makes it hard in situations where code is moved around.
Have you any idea how other projects are solving this?

[2018-07-29 19:37] melund commented on #664
That is great to hear. My Windows installation just updated to build 17713.rs5, and that has solved the problem for me as well.

[2018-07-29 19:55] melund commented on #664
Unless @jonathanslenders has any objections I think I will close this issue.

[2018-07-29 19:55] #664 closed

[2018-07-29 21:16] natezb commented on #698
By "solving this" do you mean unreadable relative imports, or relying on prompt_toolkit >= 2.0? Either way I don't know.

Also, to clarify: when I wrote that I rely on packages that rely on 1.x, I meant that I *personally* rely on such packages, not that any of my project's dependencies do. For instance, I think the current version of Jupyter still uses 1.x.

I understand the readability issue, an

[2018-07-30 06:51] jonathanslenders commented on #698
I meant using relative imports everywhere. Projects like Django for instance are not doing that.

Something like this one-liner should do it, I think:
[code]
If you have to copy prompt_toolkit into your source tree, then running one additional command should be fine, I'd think? Personally, I prefer adding some documentation / scripts about vendering prompt_toolkit over enforcing an import style. W

[2018-07-31 17:24] natezb commented on #698
While I'd argue that using relative imports is the "correct" thing to do, I agree with you that it seems other large, well-established projects are getting along fine with absolute imports.

I also agree that adding docs/scripts concerning vendoring would be valuable, as I can't imagine I'm the only person who will run into this issue with the 1.0/2.0 split.

When I get the chance I can play aroun

[2018-08-01 18:40] jonathanslenders commented on #664
That's fine. Thanks! We'll open again if needed.

[2018-08-01 20:47] jonathanslenders commented on #697
Hi @6r1d,

I've found two working solutions:

1. Set ``dont_extend_height=True`` on the second control (and ``ignore_content_height=False`` as well, but that's the default). Don't set any height for the first content. This would be my preferred solution.

[code]

2. The alternative is to pass a very big preferred height to the first element. This way, it will consume all the space, except what is

[2018-08-02 10:06] JumpsPumps opened #699 "Prompt to display based on previous word."
I am using this package to create a prompt to display a certain list of words on tab press.
It works fine.
But is there something that can be done when I write a word and press tab it shows a suggested list of words based on the previous word written.
For example, the actual suggested list contains ['show', 'set', 'value', 'print']

Now, whenever in prompt I write 'show' and press tab it will only

[2018-08-02 12:20] melund opened #700 "How to handle changed ansicolor names?"
@jonathanslenders It seems that the interpretation of all the ansi-color names changed with PTK2.

Now "ansired" is the dark color (instead of `ansidarkred`) and `ansibrightred` is new key for bright red.

In xonsh (atleast on windows without VT100) going to PTK 2 changes almost all colors from bright to dark (because on windows we had a hack that only used light colors)

I like the new names much

[2018-08-02 12:34] melund commented on #700
Alternatively, we (in xonsh) could change all the ansicolor names to the new names, and add wrapper functions around the styles if people are using PTK1. Do you have any preferences about this @scopatz ?

[2018-08-02 19:16] melund commented on #700
Ahh. I see there is already partial [alias handling](https://github.com/jonathanslenders/python-prompt-toolkit/blob/deb7488b7b24814ae12518639a2fbe0b67c43ec3/prompt_toolkit/styles/base.py#L61-L72) in prompt_toolkit for the new color names. But it doesn't take into account that some names that were previously bright are now dark.

I think the best option is to change all the ansi color names in xons

[2018-08-02 20:34] jonathanslenders commented on #700
@melund,

This is correct.
IMHO, what we have in Pygments and prompt_toolkit 1.0 is a bug, and people have pointed this out.
I'm not going to change the existing behavior for PTK1 anymore, so you can create a mapping table and change the color names back if PTK1 is used.

See:  https://github.com/jonathanslenders/python-prompt-toolkit/issues/559
https://github.com/jonathanslenders/python-prompt-to

[2018-08-02 20:49] melund commented on #700
Great. I will make the necessary changes to xonsh. Closing this now.

[2018-08-02 20:49] #700 closed

[2018-08-02 20:49] jonathanslenders commented on #700
For Pygments, see: https://bitbucket.org/birkenfeld/pygments-main/issues/1463/ansi-color-names-not-correct

[2018-08-03 15:13] njalerikson opened #701 "prompt_continuation without multiline"
I want to be able to effectively say this:

[code]

Unfortunately `prompt_continuation` is not used unless `multiline` is enabled. This can been see in the src here:

https://github.com/jonathanslenders/python-prompt-toolkit/blob/b7ab3ba67df2e7dbf63463fb98f817878dfd256a/prompt_toolkit/shortcuts/prompt.py#L439-L446

Clearly I could manually maneuver around this by implementing my own "shortcut" but

[2018-08-06 11:11] alejandrogallo opened #702 "Help: scrolling in FormattedTextControl"
Hi

I am the main developer of [ papis ]( https://github.com/papis/papis ) and I
am currently developing a so-called papis using your wonderful library.

I don't seem to be able to implement a scrolling in the FormattedTextControl,
I have some html formatted text, that I then convert into HTML FormattedText
and gets fed into the FormattedTextControl, but as much as I've tried to
understand how the

[2018-08-06 14:48] alejandrogallo commented on #702
Nevermind, I already figured out, it's just implementin get_cursor_position function and it automatically
scrolls down if you surpass the displayed lines, thanks anyways!

[2018-08-06 14:48] #702 closed

[2018-08-07 06:57] dcolascione commented on #390
A well-behaved terminal program really should degrade gracefully with TERM=dumb. prompt_toolkit 2.x doesn't seem to do that. The problem of multi-line input can be solved by doing what readline does: force horizontal scrolling.

I'm also surprised that prompt_toolkit barfs if stdin or stdout isn't a PTY. A well-behaved program should fall back to very simple IO in this case, and it shouldn't be th

[2018-08-08 15:54] stloma opened #704 "RadioList won't focus"
Hi there. Thanks for this great library!

Something broke in v2.0.4 where RadioList won't take focus (I confirmed it working in v2.0.3).

An example of this not working is in: `examples/full-screen/full-screen-demo.py`. If you tab around, the radio dialog will be skipped.

[2018-08-08 18:31] jonathanslenders commented on #704
Hi @stloma,
This is indeed a bug! Thanks a lot for reporting!

I'll fix it asap. (Or if anybody find it and does a pull request, I'll also merge it.)

[2018-08-10 00:35] ahundt commented on #532
I'll defer to you on design. I think python prompt toolkit 2 has a completely different design so this PR may no longer be useful.

Please note that this is a code base I'm not familiar with, so I just tried to implement it with the fewest possible modifications.

[2018-08-10 19:19] jonathanslenders commented on #704
This should fix it: https://github.com/jonathanslenders/python-prompt-toolkit/commit/ea93753ba6eaae23f8fac7f94c91f74d587155a5
Can you try again?

[2018-08-10 19:45] stloma commented on #704
Awesome, that fixed it!

That fix makes sense too; I tried a couple things the past few days so I could submit a PR, but didn't quite get it in the time I had.

Thanks again for this project!

[2018-08-10 20:19] jonathanslenders commented on #704
You're welcome!
I'll close this. Feel free to open again if needed.

[2018-08-10 20:19] #704 closed

[2018-08-12 13:59] lostatc opened #707 "Cannot focus DynamicContainer"
I would like to have the contents of a container update based on what is focused. I figured that using a `DynamicContainer` was the best way to achieve this. However, whenever I put a normally focusable widget in a `DynamicContainer`, it seems to be impossible to focus it. Here's an example:

[code]

In this example, I can focus `regular_button` but not `dynamic_button`. If I try to focus it using

[2018-08-12 15:56] jonathanslenders commented on #707
Hi @lostatc,
I think this was solved in the following commit: ea93753ba6eaae23f8fac7f94c91f74d587155a5
Can you try to check out the master branch and try again?

[2018-08-12 19:35] lostatc commented on #707
Thanks for the quick reply!

I tried my example using the master branch, and `layout.focus(dynamic_button)` no longer raises an exception. However, it still doesn't seem to be focusing the widget. `layout.has_focus(dynamic_button)` returns `False`, and the button doesn't have the selected style.

[2018-08-13 06:46] jonathanslenders commented on #707
Hi @lostatc,

I noticed the problem is on the following line:
[code]
This creates every a different button every single time. That doesn't work because ``focus_next`` first tries to enumerate all widgets that are focusable, then checks in that list what the current widget is, and goes to the next one. By that time, this button is already gone. If we would set this specific instance as the focused

[2018-08-13 16:12] lostatc commented on #707
Thank you for clarifying that.

I think I was misunderstanding the purpose of `DynamicContainer`. I was trying to use it to dynamically update the contents of a container by creating a new container with new contents. Instead, it looks like it's actually intended for dynamically switching between existing containers.

I'm trying to change the contents of a `TextArea` based on which button is focus

[2018-08-13 18:52] jonathanslenders commented on #707
Hi @lostatc,

Right now, the ``Layout`` class doesn't define an event for ``on_focus``. You can work around that by inheriting from ``Layout`` and overriding the ``focus()`` method. However, I'd accept a pull request for this.

You can change the text of a ``TextArea`` by assigning to the ``.text`` property.

[2018-08-14 00:02] fish-face commented on #674
This is quite necessary. If you try to do anything at all that isn't in the default examples it seems that one immediately runs into problems when trying to focus elements: the layout will claim that whatever you give it is either not in the layout or is an "invalid value" (read: it cannot see the child you really care about).

I think this has something to do with the fact that while you can try

[2018-08-14 06:48] jonathanslenders commented on #674
That's fair. Like I said, any contribution to the documentation is welcome, and if you have certain questions in particular (maybe with code samples that don't work), I'm willing to have a look at that. I the meantime, the documentation will probably improve.

Anything passed to the focus() function should be something that appears in the layout.

Widgets will not be subclassed of ``Container``. I

[2018-08-14 12:10] fish-face commented on #674
So I think the problem I was experiencing was fixed in ea93753, so maybe the documentation was not really so bad :P At least at the moment I am not familiar enough to really be confident trying to make improvements myself, but maybe in the future.

As regards architecture, the way GTK does it for example is that everything is a subclass of some generic class (called 'Widget' which is not what it i

[2018-08-14 12:11] techtonik commented on #674
Looks like I will never get to Inkscape to draw, so maybe put some conceptcode for somebody who is more skilled or have experience with other layout engines.

    layout = Layout()

What is the effect of default empty layout? Does it cover the whole screen or contracts to zero-pixel?

[2018-08-14 12:18] techtonik opened #708 "Fix tests or drop Python 2.6?"
Failing tests make me uneasy/
https://travis-ci.org/jonathanslenders/python-prompt-toolkit/jobs/414685909

[2018-08-15 02:41] lostatc commented on #707
Thanks for all the help @jonathanslenders! That answers my question. I'll go ahead and close this issue.

[2018-08-15 02:41] #707 closed

[2018-08-18 23:17] randy3k opened #709 "soft line wrap by the terminal"
I notice that prompt-toolkit will soft-wrap lines in prompt which is too long. Is there any way to stop the wrap lines feature of prompt-toolkit and let the terminal emulator do the soft wrap (just like what GNU readline does)? It is make copying more seamlessly if the wrapping is done by the temrinal.

PS: `wrap_lines=False` is not what I am asking, with this settings, it not only stop the wrap b

[2018-08-19 04:39] duck57 opened #710 "split-screen.py doesn't work without modification under Python 3"
Under Python 2, the `split-screen.py` demo works just fine.  However, when changing to Python 3 (including changing to `#!/usr/bin/env python3` at the start of the file), it gives me

`ImportError: cannot import name 'KeyBindings' from 'prompt_toolkit.key_binding' (/usr/local/lib/python3.7/site-packages/prompt_toolkit/key_binding/__init__.py)`

instead of the demo.

[2018-08-22 11:35] superlevure commented on #689
Hi,

I had a similar problem and solved it by using the (protected) method `_set_cursor_position` from the Buffer class. If you set the cursor to the last character of a buffer, it will scroll down automatically.
You may have to build your textarea yourself instead of using a widget.

It is not an elegant solution as it uses a protected method, but it works

[2018-08-22 12:43] superlevure opened #711 "How to pass formatted text to a buffer ?"
Hi,

After hours of reading the doc/code I still cannot find a way to use a buffer object with formatted text, let me explain:
In a minimalistic full screen application, I have a Window which consist in a scrollable text. Its content is being updated by another thread using buffer.insert_text() method.

I've tried a lot of solutions, even using processor, but cannot achieve to print coloured text

[2018-08-22 14:48] johneke commented on #689
Thanks a lot @superlevure! I'll try that out. If it works for me then I'll subclass the TextArea, this way I'm not accessing things illegally.

Kinda sucks that I have to subclass the entire thing just to make it auto scroll to the bottom, but I guess its not the end of the world :)

Thanks again!

[2018-08-22 18:11] jonathanslenders commented on #711
Hi @superlevure,

``FormattedTextControl`` supports assigning to the ``.text`` attribute. If that doesn't work that's a bug.
``FormattedTextControl`` however doesn't implement any key bindings for navigation, and doesn't really support scrolling. So, if you want to have cursor navigation, then you need indeed a ``BufferControl``.

It is very tricky indeed right now to display formatted text into a

[2018-08-27 10:14] toolleeo commented on #710
Everything works fine - including `split-screen.py` - with `prompt_toolkit` commit `48d7fe0f` under
[code]
@duck57 : It would be better to provide more context regarding your environment.

[2018-08-27 12:43] superlevure commented on #711
Hi @jonathanslenders,

Thank you for your quick answer,
So I came up with the following code to test assigning the `.text` attribute of `FormattedTextControl`:

[code]

When you run the code, the content is not being updated unless you hit any key on the keyboard. I think there might be a bug here ?

Anyway back to my problem, I managed to pass formatted text to a buffer thank to all the info you

[2018-08-27 15:58] davidbrochart opened #713 "Ctrl-R not working"
It looks like `Ctrl-R` is broken, see https://github.com/xonsh/xonsh/issues/2793.

[2018-08-27 22:39] 1001QAdotNET opened #714 "Looking for an example to use prompt-toolkit with ssh/telnet"
Hi

I am just curious if this can be used to highlight text in the output of the commands that I am sending to a remote device via an ssh or telnet session using libraries like paramiko

Please if you know of an example I would be grateful if you can post the link in reply to this question

thanks

[2018-08-28 12:25] davidbrochart commented on #713
It appears to be a xonsh bug, closing this issue.

[2018-08-28 12:25] #713 closed

[2018-08-29 00:36] vlovich commented on #682
Found a workaround, at least when printing through logging:

    class PatchableStderrStream(object):
      def write(self, data):
        from prompt_toolkit.formatted_text import FormattedText
        app = get_app(return_none=True)
        if app and not app.is_running:
          app.print_text(FormattedText([("", data.replace("\r", ""))]))
        else:
          sys.stderr.write(data)

[2018-08-29 01:59] duck57 commented on #710
Telling pip3 to uninstall and reinstall prompt_toolkit fixed things.

— Chris
On Aug 27, 2018, 6:14 AM -0400, toolleeo <notifications@github.com>, wrote:

[2018-08-29 07:07] jonathanslenders commented on #711
Hi @superlevure,

I guess you have to tell the application to redraw itself:
[code]

Place that in the ``update_text`` loop of yours.

[2018-08-29 08:34] superlevure commented on #689
Hi @johneke,

I took a second look at the code and actually there's a setter for the cursor position, so no need to use a protected method, just set the attribute `cursor_position` and it will work

[2018-08-29 19:50] jonathanslenders commented on #709
Hi @randy3k,

This is not easy. @asmeurer asked the question before: https://github.com/jonathanslenders/python-prompt-toolkit/issues/493

It requires at least some changes to the renderer. What I think is that it can work for some applications (like very simple single line prompts), but not for others. It needs some further experimenting. Things to keep into account are how the terminal does auto

[2018-08-29 19:54] jonathanslenders commented on #714
Hi @1001QAdotNET,

prompt_toolkit is a library to create interactive applications. If you do the interaction with Paramiko, the only thing that remains to be done is printing the output to the terminal.

prompt_toolkit comes with some utilities to print "Formatted Text", but it requires some external lexer like Pygments to do syntax highlighting.
Check out the documentation about formatted text: h

[2018-08-29 19:56] jonathanslenders commented on #710
Hi @duck57,
Good to hear you were able to fix it!
I'm closing this issue for now. Feel free to open a new one if you have other questions.
Cheers,
Jonathan

[2018-08-29 19:56] #710 closed

[2018-08-29 20:02] jonathanslenders commented on #708
It looks like restarting the build worked. I guess this was a Travis issue.
Python 2.6 will still be supported for now. At some point in the future, we'll probably drop Python 2 completely, and use asyncio natively.

[2018-08-29 20:02] #708 closed

[2018-08-29 20:15] jonathanslenders commented on #701
Hi @njalerikson,

Yes, there was a reason for this. The prompt continuation creates a left margin, where every line of that margin has the same width. Even if this prompt_continuation function doesn't return anything, the same width as the first line is used. A normal prompt doesn't create a margin, but uses an "InputProcessor``, something that transforms the input of a buffer and in this case ins

[2018-08-30 12:47] superlevure commented on #711
Hi @jonathanslenders,

It works indeed, thanks for the tip I was looking for this method for another issue for quite some time now

[2018-08-30 13:52] MissingNoIOI opened #715 "input_dialog completion doesn't appear to have any effect"
I am using version 2.0.4 and it appears that currently the completion for the input_dialog doesn't have any effect.
When using code like the following:
`path = input_dialog(title="Generate report",
                                text="Please enter the output path",
                                completer=PathCompleter(expanduser=True))`
I can insert the path normally, theres no error, but no co

[2018-09-03 07:52] denizs opened #716 "HSplit: second window jumps to lower end of terminal"
Hey there,
I'm using `whaaaat`, an `inquirer.js` clone based on `prompt_toolkit` to implement an internal CLI for our company. After building a minimal PoC, I found that when using `prompt_toolkit`s `HSplit` component, the second window passed into the layout initially gets rendered correctly and then jumps to the bottom of the terminal window (see GIF). Also, this only happens when the Inquiry is

[2018-09-04 21:40] jonathanslenders commented on #701
Hi @njalerikson,
I started experimenting with this and ended up with the following pull request: https://github.com/jonathanslenders/python-prompt-toolkit/pull/717
It needs a bit more testing, and I'm not entirely sure what happens in a couple of special cases, but it seems doable. Feel free to test it. I think the code that you had should work now.

[2018-09-06 14:21] eirnym opened #718 "Customizable prompt with various tokens"
The request is to create beautiful prompts to have an ability to customize prompt string with extendable list of parameters and coloring.

For some programs like `iPython` or `ptpython` users usually don't require something very specific like `time` or `database` or `path`, but users for other applications like `mycli` or `pgcli` usually require some parameters specified in the prompt.

It's fine

[2018-09-06 18:35] jonathanslenders commented on #718
Hi @eirnym,

Actually, you can already achieve this very easily in the following way.

Using ANSI escapes
=============

1. As an application author, create a list of variables that you want to expose to the prompt.
This could be a dictionary. Let's say this is called ``params``.
[code]

2. As a user of the library, create a string for the prompt in the configuration file. Let's say it looks like

[2018-09-06 22:03] ReddyKilowatt opened #719 "Does prompt-toolkit have a version api?"
All python packages should have a version api that returns a string, as well as a tuple that returns the version and subversions numerically.

These allow logging of the package version, as well as having applications that can make decisions that are applicable for older/newer versions.

It looks like prompt-toolkit does not have either of these.

[2018-09-07 17:55] thabaptiser opened #722 "Scrolling FormattedTextController"
I just started using prompt_toolkit to make a log viewer/tailer, and tried using a Buffer to have the text scroll as it came in, but that can't display formatted text (highlighting is pretty important for logs). I also looked at the other issues/answers on Github, but those are pretty confusing for someone who doesn't have in depth knowledge of prompt_toolkit. Is there an easy snippet on how to sc

[2018-09-07 22:27] #722 closed

[2018-09-08 07:04] stonebig opened #723 "Conpty compatibility ? PTY+ utf-8 on windows10 fall 2018"
https://blogs.msdn.microsoft.com/commandline/2018/08/02/windows-command-line-introducing-the-windows-pseudo-console-conpty/

I guess it's good news  for Python-prompt.

[2018-09-08 17:58] jonathanslenders commented on #723
Hi @stonebig,

Yes, this is absolutely great news. I've been following this blog for some time.

For prompt_toolkit, I think this doesn't offer anything new. However, in prompt_toolkit 2.0, we already take advantage of Windows 10 supporting ANSI escapes sequences for the output, and we use that when possible. This means we have 24 bit color support and better rendering speeds.

Conpty however is w

[2018-09-10 07:29] jonathanslenders commented on #715
Hi @MissingNoIOI,

This is a visualization bug. I believe the tab key or ``Control-N`` should work, but it doesn't display the menu. Somewhere we still have to add the ``CompletionsMenu`` to the layout of these dialogs.

[2018-09-12 16:11] calebh commented on #672
Couldn't the layout engine operate at a lower level? For example it would directly handle multiplexing stdin/stdout, which would eliminate the need for a major refactor.

[2018-09-14 23:29] 0vert1m3 opened #725 "How to Parallel functions to change the menu ?"
How to Parallel functions to change the menu ?

[2018-09-16 18:40] dexpota commented on #404
In my case, an easy solution was to enable the "Emulate terminal in output console"  option in the **Run/Debug Configuration*.

![emulate_terminal](https://user-images.githubusercontent.com/7031675/45599705-b2ed8400-b9f0-11e8-9800-58a4806489ea.png)

[2018-09-17 11:41] boxed opened #727 "AssertionError hiding my mistake"
I accidentally returned an internal type instead of a str from my custom completer and got this exception:

[code]

The original assertion error stack trace is lost. So I fiddled with the code and made it not catch this exception and store it and then I got:

[code]

This isn't very helpful either, the original exception is still gone! So I commented out this assertion and then I got the real erro

[2018-09-17 11:43] boxed commented on #727
Actually, something seems to be wrong with that exception too, because if I return a str object in Python3 I still get that error. This seems wrong. Example code:

[code]

[2018-09-18 05:29] certik opened #728 "Switch Meta+Enter with Enter for multilne inputs"
When using [multiline inputs](https://python-prompt-toolkit.readthedocs.io/en/stable/pages/asking_for_input.html#multiline-input), one has to use Meta+Enter to submit the input. Since most of the time, I use single lines, I would like to just use Enter to submit it, and use Meta+Enter to create another line.

What is the best way to do that?

[2018-09-18 06:29] jonathanslenders commented on #728
Hi @certik,

This will only work in Emacs input mode (not for Vi mode, because escape always returns to navigation mode, from where you can't insert text).

If you want this, you can create a custom key bindings object, something like:

[code]

[2018-09-18 06:42] jonathanslenders commented on #725
Hi @0vert1m3,

Prompt_toolkit has an event loop based architecture. But because we still support Python 2, it implements a custom event loop, very similar to asyncio. If you start doing stuff like this, I recommend using the asyncio event loop.

[code]

You can start threads, but the proper asyncio way of doing that is to run this in an executor.
The most important thing to remember is that all ma

[2018-09-18 07:00] boxed commented on #727
Ah. Cool. I was using Python 2 accidentally the whole time actually.

Hmmm... that’s an interesting solution. It seems wrong to me to use the optimize flag to make the code more debuggable though :P

Yep, that was it. In Python 3 things are more sane. I just worry that to make this thing work in Python 2 I’m going to have a hard time.

What is the reason str isn’t an allowed output string type in

[2018-09-19 10:52] CITGuru opened #729 "Add PyInquirer to Python Prompt Toolkit"
Hello,
I'd glad if PyInquirer - https://github.com/CITGuru/PyInquirer/ is added to prompr-toolkit. Its a python module for Inquirer.js clone. Its built base on Inquirer.js and works the same.

[2018-09-19 17:45] certik commented on #728
@jonathanslenders I updated to 2.0 and tried your suggestion and it works! Thank you.

[2018-09-19 17:45] #728 closed

[2018-09-20 18:02] certik opened #730 "Draw Frame in non full-screen mode"
I would like to simply draw a frame, but in the non full-screen mode, so it would look roughly like this:
[code]
This was achieved with the following patch:
[code]
However, I would like to use this simply like the `print_formatted_text` function, not in a full-screen mode. I want to use the frame to visually distinguish different parts of the output from my code.

Is it possible somehow?

[2018-09-20 19:53] vlovich opened #731 "patch_stdout sometimes throws exception?"
Sometimes I get this exception when I enter input.

[code]

My input processing loop looks like this:
[code]

I'm dumping things to the screen via python logging module but AFAIK I don't have any threads going on.  Maybe there's a bug where prompt toolkit is launching threads unnecessarily?  It seems like there's a few threads doing sleeps in key_processor which seems weird (wouldn't there only be

[2018-09-20 20:04] vlovich commented on #731
Oh, the problem only really manifests (or at least easiest to reproduce) if I'm dumping a lot of logs continuously.  The logs are generated primarily through here: loop.add_reader(fd, fd_callback) which is monitoring an external pipe for messages to handle.

[2018-09-21 05:00] vlovich commented on #731
Minimum reproducible test case.  When running just hold the enter key.

[test.txt](https://github.com/jonathanslenders/python-prompt-toolkit/files/2403999/test.txt)

[2018-09-21 05:04] vlovich commented on #661
Here's a simple repro case.  Run the program & hold the enter key (at least on OSX 10.13.6).

[test.txt](https://github.com/jonathanslenders/python-prompt-toolkit/files/2404007/test.txt)

[2018-09-21 20:08] jonathanslenders commented on #731
That looks like a bug.
Thanks a lot for reporting and creating this minimum test case file. That is super useful!
Right now, I'm not yet sure what's going on.

[2018-09-21 20:13] jonathanslenders commented on #727
Yes, true, I agree it's weird. It is because of the execution order and Python2's lack of chaining the exceptions. In a future release we will drop Python 2 support and turn this into type annotations.

Str isn't allowed, because this can result in many subtle bugs. For instance, cursor movements can't be calculated correctly, because we don't know which bytes belong together in multi byte charact

[2018-09-21 20:19] jonathanslenders commented on #730
Yes, this is possible. So, you want to render the application, but just once, in a non-interactive way?

The ``PromptSession`` class has a parameter ``accept_default`` which achieves this for prompts. See: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/shortcuts/prompt.py#L721
You can do something similar for this application.

Create this function:
[code]

Th

[2018-09-21 20:30] jonathanslenders commented on #729
Hi @CITGuru, that's a nice project!
I've added it to the README: https://github.com/jonathanslenders/python-prompt-toolkit/commit/c7986732448a49ac2070752e1c636ecaeb7237ef

Feel free to create a pull request, if you prefer a different description.

[2018-09-21 21:05] CITGuru commented on #729
Great! :+1:

[2018-09-22 10:00] boxed commented on #727
Decoding str on the way in would make this nicer I think. In any case, if the idea is to drop py2 soon anyway this is all pretty irrelevant.

[2018-09-23 20:39] #729 closed

[2018-09-23 20:40] jonathanslenders commented on #727
Closing this. Feel free to open again if needed.

[2018-09-23 20:40] #727 closed

[2018-09-23 20:44] jonathanslenders commented on #719
Hi @ReddyKilowatt,

Can you point me to the Python documentation where this is specified. For the "requests" library for instance, I only find ``__version__``.

[2018-09-23 23:49] frankseide opened #734 "callback at start of prompt()?"
Hi, is there a way to have a callback function called first thing from prompt(), before any key is entered?

Specifically, I would like to pre-populate the input (like `prompt(default=...)` but position the cursor on a specific position. I couldn't find an option for this.

Thanks!

[2018-09-24 02:47] bogie5464 opened #735 "Cannot focus on items in frames"
I'm currently working on a messenger app, I have the input TextArea and the send Button in frames, but I cannot shift focus to them. If I put a checkbox in instead of Buttons or TextAreas, I can shift focus and toggle the checkbox. I'm running Windows 10.

[2018-09-24 10:35] JumpsPumps commented on #406
Hi @jonathanslenders,
I am facing this issue while running the python script from pyCharm. Not happening when directly ran from cmd.

[2018-09-24 17:20] jonathanslenders commented on #735
Hi @bogie5464,
Can you post a snippet of your code? I can't reproduce it.
Did you had a look at this example: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/examples/full-screen/buttons.py ? Even when I wrap all buttons in a frame, it still works fine.

[2018-09-24 17:27] jonathanslenders commented on #734
Hi @frankseide,
Can you have a look at this pull request: https://github.com/jonathanslenders/python-prompt-toolkit/pull/736
Does that do what you need?

[2018-09-24 21:03] bogie5464 commented on #735
Absolutely, here's some example code. If you replace the Frame(body=buttondoesntwork) with Frame(body=checkboxworks) then it allows you to shift focus just fine.

[code]

[2018-09-24 21:11] bogie5464 commented on #735
I'm starting to lean towards it being a client side issue, because I tried the example you linked, and the same issue happens, I can't tab over to the text area, but I can tab between the buttons just fine.

[2018-09-24 21:45] bogie5464 commented on #735
I just tried it on an Ubuntu 18.04 VM and had the same issue.

[2018-09-24 22:03] njalerikson opened #737 "Print layout"
Would it be possible to modify `print_formatted_text` so we can pass a `Layout`/`Container` to display?

I'm digging through the `Renderer` object and trying to decide how large of a change this would be.

[2018-09-29 20:06] asmeurer opened #740 "Cannot use Token.ZeroWidthEscape with pygments"
I had a patch at https://github.com/jonathanslenders/python-prompt-toolkit/pull/615 that fixed this, but it was never merged. Right now I have to use

[code]

and use `MyPygmentsTokens` everywhere instead of PygmentsTokens.

Questions I never got answers to:

- Why can't https://github.com/jonathanslenders/python-prompt-toolkit/pull/615/commits/33d47a1f25ec4b10dacb7fb83f7bb91512d0e2c5 be merged.

[2018-10-01 22:39] 2sn opened #741 "true_color=True, color_depth=..."
following https://python-prompt-toolkit.readthedocs.io/en/2.0.5/pages/asking_for_input.html the line
[code]
does not know about the `true_color` keyword.  Also, when I use `color_depth=24` instead, my ipython session dies.

[2018-10-01 22:44] 2sn opened #742 "doc example on to_formatted_text"
The example on https://python-prompt-toolkit.readthedocs.io/en/2.0.5/pages/printing_text.html
[code]
produces just the output

`[('class:my_html bg:#00ff00 italic class:aaa', 'Hello'), ('class:my_html bg:#00ff00 italic ', ' '), ('class:my_html bg:#00ff00 italic class:bbb', 'world'), ('class:my_html bg:#00ff00 italic ', '!')]`.

 I assume this is not what was intended?  So it is less clear what it

[2018-10-01 22:58] 2sn opened #743 "completion broken?"
following the example from https://python-prompt-toolkit.readthedocs.io/en/2.0.5/pages/asking_for_input.html

[code]

when I type `<` I get the drop-down box as shown and can go down the list using `<TAB>`, but when I also type `b` so the total is `<b`, `<TAB>` no longer does anything, let alone completion to `<body>`.  The latter is what I would have expected, but maybe I misunderstand?  This is

[2018-10-03 19:34] max-sixty commented on #456
FYI I'm getting this issues, starting a couple of days ago. That could be upgrading IPython, iTerm, or one of their dependencies. It's intermittent.

![image](https://user-images.githubusercontent.com/5635139/46434489-bb98c680-c721-11e8-8b11-8432d96535cd.png)

[2018-10-03 19:35] max-sixty commented on #456
For more info, my `ipython_config.py` consists of:

[code]

Partly from https://github.com/jonathanslenders/python-prompt-toolkit/issues/192#issuecomment-380654372

[2018-10-05 14:55] taimurrabuske opened #744 "Problems with py.test in version 2.0.X"
Hello,
I had a few simple tests that used to work in 1.0.15. When I run pytest after porting to 2.0.15, pytest fails in the "collection" phase, with:

==================================== ERRORS ====================================
____________________ ERROR collecting eda_tk/test_eda_tk.py ____________________
/opt/python3.6.5/lib/python3.6/site-packages/prompt_toolkit/eventloop/context.py:88: in

[2018-10-05 16:33] s4shyam95 opened #745 "DefaultPrompt(Processor) equivalent in prompt_toolkit v2"
There used to be a DefaultPrompt(Processor) in v1, in layout/prompt.py
Is there an equivalent or replacement for the same in v2 ?

[2018-10-06 00:30] ozancaglayan opened #746 "Integrating a key-based mode into a compute-bound script"
Hello.

I went through the tutorials and the docs but could not see a relevant example about an idea that I have in mind. So I wanted to ask whether it is possible to do this.

I already have a fairly complex python tool that when launched uses some other toolkits for training machine learning models. So my tool is a blocking process that just dumps out periodic progress logs.

Can i integrate a v

[2018-10-07 17:46] jonathanslenders commented on #701
Hi @njalerikson, this has been implemented and is part of the last release. Thanks again for the suggestion!

[2018-10-07 17:46] #701 closed

[2018-10-07 17:47] jonathanslenders commented on #719
I added ``prompt_toolkit.VERSION``, so I'm closing this issue.

[2018-10-07 17:47] #719 closed

[2018-10-07 17:51] jonathanslenders commented on #745
Hi @s4shyam95,

For prompts, it is now recommended to use the ``PromptSession`` class, as explained in the documentation. This is an easy to use high level API that is guaranteed to remain stable.

If for some reason you want to implement this yourself, have a look at how ``PromptSession`` uses a ``get_line_prefix`` function to create the prompt.

[2018-10-07 17:52] #633 closed

[2018-10-11 09:01] nickoala opened #749 "`TextArea.accept_handler` does not get called"
Hello, I was trying the `full-screen/calculator.py` example, and found that the `accept_handler` attached to a `TextArea` doesn't really work. The `accept_handler` does not seem to get called when I type `enter`, or `escape-enter`.

To confirm the issue, I simplify the example into a somewhat bare-bone program like this:

[code]

Still, nothing happens when I type `enter` or `escape-enter`.

In ca

[2018-10-11 16:40] s4shyam95 opened #750 "FormattedTextControl with default_char"
The TokenListControl used to have this default_char param which it used for padding the text if there was extra space left. Since v2 where I believe TokenListControl was renamed to FormattedTextControl, this parameter is missing.
Is it expected of the user to already pass the 'text' param which is pre-padded ? Or is there another UIControl that you would recommend to be used to show a list of toke

[2018-10-12 15:19] markf94 opened #751 "Refreshing bottom toolbar or rprompt"
I would like to display information in the `bottom_toolbar` that depends on the users input. E.g. if the user types `cherry` the bottom toolbar will query an external API and show a list of available cherry types. I've tried numerous things but I just can't find a way of achieving this behaviour. Using the `refresh_interval` argument only refreshes the `question` of the `prompt` but not the `botto

[2018-10-12 15:44] markf94 commented on #751
Solved it myself. The solution is to pass a callable to the `bottom_toolbar` argument. Here's a minimal example:

[code]

[2018-10-12 15:44] #751 closed

[2018-10-13 17:40] Alphapage opened #752 "Keep bottom_toolbar visible between prompts"
Hello,

Here is my sample code:

[code]
I want to keep the bottom_toolbar always visible, but as soon as I `print` something, then the bottom_toolbar disappears.

Is there a `print(text:str,bottom_toolbar)` function available in prompt_toolkit or maybe I can run/show/hide the bottom_toolbar without using `prompt` ?

Thank you in advance for your help.

[2018-10-14 15:38] dimyme opened #753 "solved: release 2.0.6 fixed the crash of xonsh, the py shell"
the older pyPI version used to crash xonshell right upon launch of    **xonsh**

**everything is back to working normal** with xonshell now. Thanks!  well done !

**issue resolved.** just so you know or others know that they ought to upgrade their py-pr-tk to rel. 2.0.6
if error msg from the prmpt-tk appears.

[2018-10-14 20:12] jonathanslenders commented on #749
Hi @nickoala,
Thank you for reporting this issue!
Can you try again with the latest prompt_toolkit release or with the master branch. I believe this issue was fixed recently.

When I execute your example code, it executes fine for me.

[2018-10-15 12:07] imomaliev opened #755 "[RFC] Config class and tools"
Hi, what do you think about providing some type of tools or classes to handle config files. For example to store history in https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html https://github.com/srstevenson/xdg. Or providing settings files or reading from `.env`?

[2018-10-15 14:43] nickoala commented on #749
I just tried it on prompt_toolkit 2.0.6, and it works!

Thank you for fixing it :+1:

[2018-10-15 14:43] #749 closed

[2018-10-16 14:05] ahundt commented on #532
@jonathanslenders Is this now possible to do in 2.0.x? If so, could you explain how & then this issue can likely be closed.

[2018-10-16 14:06] ahundt commented on #147
I gave this a try in 2.0 and it works well, thanks!

[2018-10-16 18:56] s4shyam95 commented on #750
Also, I don't think that TokenListControl has been renamed to FormattedTextControl as the get_tokens argument used to be a callable returning a list of tuples. How can this behavior be replicated with a FormattedTextControl ?

Thanks for your help

[2018-10-16 18:57] s4shyam95 commented on #745
I think there is a confusion, I am talking about the processor in v1 that used to enable stuff like the Ctrl+r (reverse history) search etc. That processor seems to have disappeared from v2.

Thanks, for your help.

[2018-10-16 23:40] saadmanrafat opened #756 "Having a list of choices in prompt?"
I came across RadioList but all the examples uses them in a dialog. Is there any way to incorporate in a prompt?

Thanks

[2018-10-17 15:25] s4shyam95 opened #757 "cli.run() equivalent in prompt_toolkit v2"
I have noticed the app.run() doesn't have a default accept_handler attached to it. cli.run() used to return the prompt the user typed in.
I know I could use prompt(from session) or just PromptSession, but I don't see how I would do it with a layout already in place.

Thanks for your help!

[2018-10-18 20:50] jonathanslenders commented on #755
Hi @imomaliev,
Thank you for the suggestion.
The XDG specification looks good. I've actually been thinking about using it for ptpython, pyvim and pymux.

However, providing configuration classes and tools is not really prompt_toolkit's responsibility. I'm not planning to make it part of this library. If somebody wants to use XDG, they can install it and pass the appropriate paths.

Thanks for the

[2018-10-18 20:50] #755 closed

[2018-10-19 20:31] jonathanslenders commented on #752
Hi @Alphapage,

Unfortunately, this is not possible right now, and it's hard to achieve due to the way terminals work. The bottom toolbar requires a running event loop for it to always render on the correct position, even when the window scrolls or is resized.

A workaround is to create a dummy application (with a dummy layout) with only a bottom toolbar, use the patch_stdout functionality of prom

[2018-10-19 20:37] jonathanslenders commented on #745
Hi @s4shyam95,
Reverse search has been completely refactored, because (among others) the way the focus implementation was changed.
Before, it was a ``Buffer`` that was focused. Now, it's a ``UIControl`` that is focused.
When the user starts searching and enters reverse search, it's a different ``UIControl`` and ``Buffer`` that gets focused. There is a ``prompt_toolkit.layout.processors.ReverseSear

[2018-10-19 20:39] jonathanslenders commented on #750
Hi @s4shyam95,
The ``default_char`` option has been moved to the ``char`` option of the ``Window`` class.
``FormattedTextControl`` takes formatted text. This can always be a callable that returns formatted text.
It's explained over here:
https://python-prompt-toolkit.readthedocs.io/en/master/pages/printing_text.html

[2018-10-19 20:44] jonathanslenders commented on #746
Yes, this is possible, but not easy.
You'll have to use multiple threads. One for the user interface and one for this computation thread. This can't happen in the same thread, because you can't compute and wait for input at the same time within one thread.
Then you'll have to find a way to do inter-thread communication. You can use certain objects that are shared between these threads. It's not ea

[2018-10-19 20:48] jonathanslenders commented on #743
Hi @2sn,

You'll have to pass ``WORD=True`` as an argument to ``WordCompleter``. This will ensure that it defines a "word" as a sequence of non whitespace characters, instead of ``[a-zA-Z]`` or something like that. This is required, because you have special characters as part of the words.

[2018-10-19 20:53] jonathanslenders commented on #741
Hi @2sn,

The values for color depth are coming from this enumeration:
https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/output/color_depth.py#L10

[code]

However, it's good to know that you were thinking about passing an integer. That makes sense actually, so maybe this is something we have to support.

[2018-10-19 21:01] jonathanslenders commented on #718
Hi @eirnym,

Prompt_toolkit tries to be application agnostic. While this formatting is very application specific. For hostname, for instance, in the case an an SQL client, that's not the local hostname.

Further, I think this can be perfectly developed on top of prompt_toolkit. Is this something you are willing to do? You can create a library that takes such a string, and turns it into ``Formatted

[2018-10-19 21:01] #723 closed

[2018-10-19 21:04] jonathanslenders commented on #753
Thanks @dimyme! That's great.
I'll try to test Xonsh with prompt_toolkit before pushing new releases.

[2018-10-19 21:04] #753 closed

[2018-10-19 21:05] #734 closed

[2018-10-19 21:08] jonathanslenders commented on #482
Does this still happen? Some refactoring to the CPR handling has been done in prompt_toolkit 2.0.
If not, I'd like to close this issue.

[2018-10-19 21:11] jonathanslenders commented on #342
Hi both, that worked indeed for prompt_toolkit 1.0
Now that we have 2.0 released, many more ways of styling are possible. Check the docs. ;)
Also, closing this now.

[2018-10-19 21:11] #342 closed

[2018-10-19 21:12] #431 closed

[2018-10-19 21:17] jonathanslenders commented on #504
Closing this as it's not a prompt_toolkit issue.
It is something that has to be implemented in the completer of the specific applications, like IPython, ptpython, etc...

[2018-10-19 21:17] #504 closed

[2018-10-19 21:20] jonathanslenders commented on #697
Closing this. Feel free to open again if the above answer is not sufficient.

[2018-10-19 21:20] #697 closed

[2018-10-19 21:29] eirnym commented on #718
Hi @jonathanslenders,

I gave an example to show what developers and users can achieve with this option without generating a lot of code to support it.

Actual tokens are defined by an actual application, and how to put these tokens together is defined by application and/or a end user.

The only token could be defined by prompt toolkit is date with ability to define a format string

[2018-10-19 21:30] jonathanslenders commented on #453
Closing this, as it's very unlikely that we can do something about this.

[2018-10-19 21:30] #453 closed

[2018-10-19 21:32] jonathanslenders commented on #429
This is now possible with prompt_toolkit 2.0. See for instance this example: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/examples/full-screen/calculator.py

There's possibly still room for improvement, but full screen applications are becoming much easier to build.

Closing this. Feel free to open again if needed.

[2018-10-19 21:32] #429 closed

[2018-10-20 02:39] saadmanrafat commented on #756
Thanks

[2018-10-20 02:39] #756 closed

[2018-10-20 06:50] bmerry commented on #482
Unfortunately I haven't yet ported my code to use 2.0, and not sure when I'll find time. I'm happy if you want to close this and I can reopen if I run into problems.

[2018-10-20 11:28] pronobis commented on #335
A follow up related question: inputrc allows for assigning custom terminal codes to actions, e.g.:
"\e[255;3u": kill-word

How can this be achieved in prompt-toolkit?

[2018-10-21 09:03] jonathanslenders commented on #737
Hi @njalerikson,

Excuse me for the late reply! I've addad a ``print_container`` utility. (``print_layout`` is not needed, I think, because if it's only for printing, we don't care about the focus.)

See this commit: https://github.com/jonathanslenders/python-prompt-toolkit/commit/af1cd758d4eac9a7f64cb833499b4b80ec001a89

Example usage:
[code]

See also: https://github.com/jonathanslenders/python-

[2018-10-21 09:07] jonathanslenders commented on #730
Hi @certik,

I've added a ``print_container`` utility, see: https://github.com/jonathanslenders/python-prompt-toolkit/commit/af1cd758d4eac9a7f64cb833499b4b80ec001a89

Example usage:
[code]

(Wrapping the ``Frame`` in a ``Box`` is needed to get some additional spacing on the left/right.)

[2018-10-21 09:07] #730 closed

[2018-10-21 09:07] #737 closed

[2018-10-21 09:08] #743 closed

[2018-10-21 09:09] jonathanslenders commented on #742
Thank you for reporting, @2sn!
This is a bug indeed. I have to think about it, because solving it might require some changes that could break other stuff.

[2018-10-21 09:10] #714 closed

[2018-10-21 09:12] jonathanslenders commented on #582
Closing this. Let's open it again, if either somebody can reproduce it (if it's still an issue), or if we know the actual exception.

[2018-10-21 09:12] #582 closed

[2018-10-21 09:15] jonathanslenders commented on #303
Closing this.
Right now, by the way, the full screen API is much more stable. In case, you're interested, check out the documentation and the examples.

[2018-10-21 09:15] #303 closed

[2018-10-21 09:19] jonathanslenders commented on #296
Hi @Carreau,
I'm closing this issue. I haven't heard of anyone else that had the same issue, and I don't believe I could reproduce it. Feel free to open again, if you think it's still the case.

[2018-10-21 09:19] #296 closed

[2018-10-22 12:49] petobens commented on #192
Hi @jonathanslenders! Before upgrading to 2.0 I used the following binding to exit insert mode without delay:
[code]
On 2.0 I'm now using
[code]
But I do notice a delay. Is there an equivalent of my first `vi_movement_mode` function that works (without delay) on 2.0? Thanks in advance

[2018-10-22 16:30] s4shyam95 commented on #745
HI @jonathanslenders
Thanks for your reply!
We do have a costom layout, a bunch of nested splits (we had to make our own toolbar), due to which we are using a buffer and on accept_handler running the command in a coshell.
We have also subclassed the Application class which we use to get extra information from _events of keybindings.
Is there a way to use the ReverseSearch in this particular use ca

[2018-10-22 17:18] certik commented on #730
@jonathanslenders I tested the `print_container` and it works. Thank you!

[2018-10-23 13:43] sander76 opened #759 "Fullscreen App: Async Button handler"
I guess it is not possible to add an asyncio coroutine as a handler to a `Button`.
I tried subclassing `Button` like this:

[code]

But that gives an error. Following this logic I should be creating an asyncio `KeyBindings` class shouldn't I?

Sander.

[2018-10-24 11:13] 2sn commented on #475
Is there an example on how to integrate the matplotlib event loop with prompt_toolkit, maybe with asyncio?
All my attempts so far failed, though ipython seems to be an example that it must be possible...

[2018-10-24 17:15] jonathanslenders commented on #759
Hi Sander,

This is unfortunately not yet possible that way. One of the reasons is that prompt_toolkit doesn't use asyncio futures natively. (This can change when we drop Python 2 support.)

The workaround for now looks like this:
[code]

Also don't forget to call ``prompt_toolkit.eventloop.use_asyncio_event_loop``.

Finally, keep in mind that multiple event handlers can run concurrently like this

[2018-10-25 05:01] asmeurer opened #762 "How to keep a prompt from going into the history"
The `default` flag to `PromptSession.prompt` works well, but I would also like to prevent the defaults from going into the history.

I was thinking I could just remove it from the history immediately after the `prompt` call, but there doesn't seem to be a method on `History` to remove items. A `pop` method would be useful. IMHO History should use one of the [collections ABCs](https://docs.python.o

[2018-10-25 06:34] jonathanslenders commented on #475
Yes, have a look at this example: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/examples/prompts/inputhook.py

We support inputhooks, these are functions that are called whenever the prompt_toolkit eventloop is idle. This inputhook is supposed to return whenever ``context.fileno()`` becomes ready.

[2018-10-25 08:43] sander76 commented on #759
Hi Jonathan,

Thanks! I thought of doing something like that..
I guess dropping Python2 will allow for all kinds of good stuff to happen ;-)

I am not sure what the `event.app.invalidate()` does or why it is required. In my example below it does not seem to make a difference whether I use it or not. Feel free to correct me if I am doing anything wrong here...

[code]

[2018-10-25 22:36] 2sn commented on #475
OK, so you don't know the details of how ipython/matplotlib do these.  I experimented some with their sleep function but that seems to take a lot longer than specified (0.2 s even if 1e-4 s is given) and it does not seem to be cooperating with your use of asyncio.  The stdlib `cmd` package using `readline` seems to work; they must be using some form of threading, though when I search for threads o

[2018-10-26 00:59] rofl0r opened #763 "input_dialog.py example swallows ENTER"
if you enter text, and press ENTER, the input will be deleted. if you use TAB instead to jump to the OK button, it will be preserved (same applies to password dialog example)

[2018-10-26 20:30] ahundt opened #764 "enter executes command during multi-column tab completion"
Multi-column tab completion described in https://github.com/prompt-toolkit/python-prompt-toolkit/issues/147 seems mostly working now with ptk 2.0! However there is still what might be a small issue. If you watch the video of what I'm expecting:

[![zsh tab completion](https://cloud.githubusercontent.com/assets/55744/25497561/06bfe6aa-2b53-11e7-831f-233ef80623a9.png)](https://youtu.be/ew51b7n7QOQ)

[2018-10-26 20:52] ahundt commented on #764
Turns out this already exists!

Any chance these or some even better set of automation options could be enabled by default? :-)

[2018-10-27 00:22] rofl0r opened #765 "importing pygments style raises exception (py 2.7)"
[code]

[code]
this is using the latest release 2.0.6

[2018-10-29 12:10] sblask opened #766 "Jump from 2.0.5 to 2.0.6 made completions in ipython/ptpython become unreadable"
Just have a look at the screenshots

Before:

![2 0 5](https://user-images.githubusercontent.com/681955/47648803-6a8ebd80-db7b-11e8-961a-1d541cc768a5.png)

After:

![2 0 6](https://user-images.githubusercontent.com/681955/47648806-6e224480-db7b-11e8-8873-54ffb1b9fab7.png)

You can have a look at my dotfiles https://github.com/sblask/dotfiles for details about my setup. I use xterm and tmux, the mo

[2018-10-29 18:50] jonathanslenders commented on #763
Hi @rofl0r,

Thank you for reporting. This is a new bug that was introduced. I fixed it here: https://github.com/prompt-toolkit/python-prompt-toolkit/commit/b86db4bb1852f1fd56d23fb90586e6e73209db98

I'll do a new release soon.

Jonathan

[2018-10-29 22:16] rofl0r commented on #765
meanwhile i figured that in that scenario a "class:foo" style string is expected.
however using a pygments style even crashes in the Application's constructor, because the keys of the dict are objects, not strings.
i would like to combine a pygments style with my own styles...

[code]

[2018-10-30 06:55] sblask commented on #766
Hi Jonathan,

The issue disappears when I remove the file or even just the `xterm.*.termName:       xterm-256color` line. But I need the line to get the colours to work properly in general.

[2018-10-30 12:54] jpaldis opened #767 "create_output() uses sys.__stdout__ by default not sys.stdout"
Is there a reason for this or could it be a mistake?  ptpython for example calls prompt_toolkit.output.defaults.create_output() without parameters which means it requires some hacking to make it work in my situation where I've replaced stdout and stdin.

[2018-10-30 20:53] jonathanslenders commented on #765
Hi @rofl0r,

Yes, I see how this is confusing. Probably we have to improve the documentation.

The ``style`` attributes for all container objects are style strings. This can refer to class names, but it can also contain inline styling.
The Pygments style class can be wrapped using ``prompt_toolkit.style.pygments.style_from_pygments_cls``. This turns it into a prompt_toolkit ``Style`` instance and

[2018-10-30 20:56] jonathanslenders commented on #750
Closing this. Feel free to open again, if the answer wasn't sufficient.

[2018-10-30 20:56] #750 closed

[2018-10-30 21:00] jonathanslenders commented on #735
Hi @bogie5464,

Sorry for taking so much time. I tried this again with the latest prompt_toolkit and it works fine here.
I know there was a bug regarding focusing UI controls within a frame, but that was fixed.

If it's still relevant, can you try again?

[2018-10-30 22:05] rofl0r commented on #765
hi @jonathanslenders, thanks for your reply.

here's the full example:
[code]
that one doesn't work because style_from_pygments_cls() returns a style not a dict...
[code]
and when we change it to:
[code]
this happens:
[code]
here the keys in the pygments style dict are some sort of objects...

[2018-10-30 22:45] rofl0r commented on #765
oh wow, seems i got it working..
[code]

[2018-10-30 22:45] #765 closed

[2018-10-31 16:13] s4shyam95 commented on #757
Thanks!

[2018-10-31 16:13] #757 closed

[2018-10-31 22:37] martmists opened #769 "Confused about usage of Applications"
For context, I'm working on an application that takes user input (using prompt_toolkit) and listens to a feed and prints it. This is all done using Asuncion, using a read/write socket pair.

The issue I experienced was that the print() calls sometimes filled in the text of the prompt, which I quite obviously wanted to avoid.

I looked into urwid, which I'd used before, but couldn't find a way to u

[2018-11-01 04:56] rofl0r commented on #763
thanks for the fix! closing, as the release is out already...

[2018-11-01 04:56] #763 closed

[2018-11-01 07:52] urain39 opened #770 "Autocompletion does not work on Python2.x(2.7)"
Seems like `completer` does not work on Python2.x.

[2018-11-01 09:29] sander76 commented on #769
@martmists Did you have a look at the examples ?

https://github.com/prompt-toolkit/python-prompt-toolkit/tree/master/examples/full-screen

[2018-11-01 10:07] martmists commented on #769
I did, but it was still too confusing to really understand how I'd implement my situation.

[2018-11-01 10:14] martmists commented on #769
[code]
It would look roughly like this, with only the top box scrollable and selectable, whereas clicking in the input box would cause the cursor to move to that position. Currently I do not understand how to make this layout work on any terminal size, or even add text to a textbox for that matter. There are no examples that have a scrollable event log and a static input box, hence why I made this

[2018-11-01 12:08] sander76 commented on #769
@martmists Not sure how I can help. If I can help at all. But I found checking the examples and try and solve each challenge one by one helped me out...

[2018-11-01 12:15] #759 closed

[2018-11-01 13:32] martmists commented on #769
I got it to display, but it doesn't display any text that should display, and I am unable to type anything in the input field. Additionally, I am unable to scroll through the output window.

code:
[code]

[2018-11-01 14:11] sander76 commented on #769
Remember this is a rather low-level framework.
If you want scrolling to work, you need to enable it.
If you want `Ctrl+C` to work you need to create a binding for it.

[2018-11-01 14:29] martmists commented on #769
What about not being able to enter text? The application is started with
[code]

[2018-11-01 14:51] martmists commented on #769
Adding bindings for c-c and c-q did not change anything in behavior when trying to exit.

[2018-11-01 16:30] martmists opened #772 "Support ANSI color codes"
Currently, it looks like this in prompt_toolkit:
![image](https://user-images.githubusercontent.com/16361449/47865137-b780c700-ddfb-11e8-8f21-f53fbd08e183.png)
But like this when just using `print()`:
![image](https://user-images.githubusercontent.com/16361449/47865160-c49db600-ddfb-11e8-9624-c618cd189a01.png)
Colors are received from a remote and may vary from line to line, so changing to a stand

[2018-11-01 17:19] rofl0r opened #773 "Wishlist: ScrollBarMargin control reacting to mouse-clicks"
hi @jonathanslenders

would be nice if one could click on the arrows of the ScrollBarMargin control as used in TextArea to scroll, and even better if one could drag the handle around to scroll.

my naive guess is that it could be sufficient to just add a handler argument to the spots that emit the text fragments like here:
[code]

[2018-11-01 18:05] #769 closed

[2018-11-01 19:40] martmists commented on #772
Yes, I did try to use `ANSI()` but it failed:
[code]

[2018-11-02 17:10] #772 closed

[2018-11-02 18:49] ReddyKilowatt opened #774 "Documentation error at ReadTheDocs"
[https://python-prompt-toolkit.readthedocs.io/en/stable/pages/printing_text.html#printing-text](url)
shows this code

`from prompt_toolkit.styles import Style

style = Style.from_dict({
    'pygments.keyword': 'underline',
    'pygments.literal.string': 'bg:#00ff00 #ffffff',
})
print_formatted_text(PygmentsTokens(**tokens**), style=style)`

However, tokens is not defined, resulting in "NameError:

[2018-11-02 18:52] martmists commented on #711
Any updates on this? I'll be using the workaround for now, but having BufferControl and FormattedTextControl merged would be a nice addition.

[2018-11-02 18:55] ReddyKilowatt opened #775 "HTML class - not producing the expected results, on Windows 7"
Using prompt_toolkit 2.07, with Python 3.6.6 (32-Bit) on Windows 7 Pro, 64-Bit

[https://python-prompt-toolkit.readthedocs.io/en/stable/pages/printing_text.html#html](url)

refers to this code

`from __future__ import unicode_literals, print_function
from prompt_toolkit import print_formatted_text, HTML

print_formatted_text(HTML('<b>This is bold</b>'))
print_formatted_text(HTML('<i>This is italic

[2018-11-02 18:57] ReddyKilowatt commented on #774
The issue above uses these versions: prompt_toolkit 2.07, with Python 3.6.6 (32-Bit) on Windows 7 Pro, 64-Bit

[2018-11-02 20:11] martmists commented on #774
This should not be an issue as the text just above mentions being an addition to the code block just above it, as print_formatted_text is also not defined.

[2018-11-03 00:17] martmists opened #776 "Auto-Suggest gets overwritten by previous command with default key bindings"

[2018-11-03 01:53] rofl0r opened #777 "avoid that HSplit produces gaps between children"
hi @jonathanslenders,
i'd appreciate if you could give me a hint how to produce the desired effect.

[code]

what i'd like is basically
[code]

but what i get is
[code]

[2018-11-03 02:43] blshkv opened #778 "Python 3.6 and 3.7 support"
I noticed that this software does not support (officially) modern versions of Python,
https://github.com/prompt-toolkit/python-prompt-toolkit/blob/master/setup.py#L49

Could you add it please?

Thanks

[2018-11-03 15:37] rofl0r commented on #777
cool, thanks!
is there an official way to assign a style to the "space-eater" window in the HSplit ?
what i do now is:
[code]

[2018-11-04 10:49] martmists opened #781 "Redirect mouse input to non-focused window"
I'm writing an application with a BufferControl as log, and TextArea for input. I would like to redirect scrolling to scroll the buffer, but keep the input window in focus. How would you recommend I tackle this issue?

[2018-11-04 11:29] martmists commented on #776
Solved by adding a custom key binding for tab

[2018-11-04 11:29] #776 closed

[2018-11-05 10:20] ixje opened #782 "Single enter adds 2 lines in console when debugging with PyCharm"
We've used `prompt_toolkit` since the 1.x version but since upgrading to `2.x` we run into trouble when debugging using PyCharm on OSX. Each 'enter' in the console is executed twice.

We did not have this problem when using the 1.x version and strange enough it also doesn't happen when using a regular terminal (e.g. iTerm on OSX). My dev environment didn't change, all we did was updating to `2.x`

[2018-11-05 12:55] martmists commented on #781
using the following code (with `mouse_support=True`) still does not seem to work:
[code]

[2018-11-05 21:08] jonathanslenders commented on #778
Done: https://github.com/prompt-toolkit/python-prompt-toolkit/commit/a1fef6d56e6b644e38ccfd0dd207e2ddb1804f58

Thanks for opening the issue!

[2018-11-05 21:08] #778 closed

[2018-11-05 21:47] jonathanslenders commented on #775
@ReddyKilowatt: So, for Windows 7, I think both bold and italic are not supported by the operating system.

Underline is not supported, but could work in theory using the ``COMMON_LVB_UNDERSCORE `` console attribute. However, that only works for the DBCS code page, and I don't know whether we'll support this.

See:
https://stackoverflow.com/questions/29386552/how-to-underline-text-using-printf-in-

[2018-11-05 22:17] ReddyKilowatt commented on #775
ok, I understand some features will not worked depending on the OS, it would be helpful to add this to the documentation, or remove all of the features that are not supported, for each platform.

Thanks

[2018-11-06 15:03] omribahumi opened #783 "`print_formatted_text()` messes up terminal output"
I've been developing a console application that prints logs while simultaneously prompting the user for input, similar to [patch-stdout example](https://github.com/prompt-toolkit/python-prompt-toolkit/blob/330ba727eceea98bc83dd4454d460ac4f05f86f8/examples/prompts/patch-stdout.py).

When I switched to `print_formatted_text()` instead of `print()` things messed up. I expect the prompt to stay the la

[2018-11-11 08:32] bmerry opened #787 "prompt with async_ doesn't clean up if cancelled"
I'm having some trouble with porting a REPL app ([ntsh](https://github.com/bmerry/ntsh) to prompt-toolkit 2.0. Mostly the new API is making things much simpler (thanks!), and instead of using an Application I'm now trying to use just PromptSession plus asyncio. Sometimes I want to terminate the app in response to a network event rather than user input. However, it seems that if the `prompt` future

[2018-11-11 09:56] bmerry commented on #482
I'm now working on a port to 2.0, and can confirm that I no longer need to do any workarounds to avoid CPR responses being printed on the screen or ending up in the input buffer when the app exits. Thanks!

[2018-11-12 10:08] ibeex opened #788 "Refresh prompt from custom key binding"
I am trying to oweride ctrl+d with custom command, calling command works but after presing c-d prompt and bottom toolbar are same. (commands.exit() changes prompt and bottom toolbar but) They change only if I pres enter, how can I redraw prompt and bottom toolbar from custom binding?

here is example code

[code]

[2018-11-14 15:33] zakora opened #789 "Unexpected way to handle non-breakable space \xa0"
I reported an issue against IPython recently (ipython/ipython#11490) due to a weird behavior, as can be seen on this gif:
![screencap](https://user-images.githubusercontent.com/106620/48313373-d5001e80-e5bb-11e8-9903-d26fd47c7447.gif)

**How to reproduce the bug:**
1. have a prompt managed by prompt_toolkit
2. insert the non-breakable space character (\xa0)

**What I expected:** A non-breakable sp

[2018-11-15 19:03] jonathanslenders commented on #773
This can be done. (Handling mouse clicks at least. Dragging the mouse is much more challenging.)

[2018-11-15 19:46] rofl0r commented on #773
the primary use case would be to speed up scrolling, because the mouse-wheel scrolling is way too slow (equivalent to hitting cursor-up).
like when you have a text buffer with 2000 lines, and you click on, say the 80% position so you can directly jump there without having to scroll for a minute.

[2018-11-15 20:50] jonathanslenders commented on #770
Which Python version exactly are you using?
On my system, it seems to work fine for Python 2.7.15rc1.

Could you try in new virtualenv, and maybe share a ``pip freeze``?

[2018-11-15 20:57] jonathanslenders commented on #789
Fixed here: https://github.com/prompt-toolkit/python-prompt-toolkit/commit/7db93560cb1f10c96f4a22816774da63e67e467e

By default, we now render it like Emacs does. The style can be changed by styling the ``'nbsp'`` class.
Maybe in the future, we can also make the render text configurable.

[2018-11-16 02:07] urain39 commented on #770
[code]

[code]

[2018-11-16 02:18] urain39 commented on #770
Actually `AutoSuggest` works well, so i thought that is not a big problem :)

It's some codes of my Project KngetPy
[code]

[2018-11-16 08:46] zakora commented on #789
Thanks for fixing this issue!

Confirmed to work as expected (yellow underlined space) by applying your patch.

[2018-11-16 08:46] #789 closed

[2018-11-17 03:19] urain39 commented on #770
It works on another machine, but i still don't know what's wrong.

[2018-11-17 03:19] #770 closed

[2018-11-17 23:36] rigogsilva opened #790 "How to use mouse input"
I am trying to build a list like the `radiolist_dialog`, but not a full screen version. I also, want to add the ability to click the items on the list.

Do you have an example for that? I can put together a tutorial if you help me out. (tutorial like the sql-cli example you have).

[2018-11-20 10:14] hacksterous opened #791 "Style colors don't work with complete_style=CompleteStyle.READLINE_LIKE?"
yield Completion(text, start_position=-(len(matchWord)), style='fg:green') does not seem to be working when I have

prompt (message,
		completer=completer,
		history=self.history,
		complete_while_typing=True,
		auto_suggest=suggestion,
		complete_style=CompleteStyle.READLINE_LIKE,
		complete_in_thread=True
	)

but works with CompleteStyle.COLUMN

[2018-11-20 21:12] jonathanslenders commented on #790
Hi @rigogsilva,
I'm travelling right now, so not too much time to write it down. But I think the following should work.

One option:
- Look into the full-screen examples, because they are the only examples that show how to build a custom layout. However, use the ``full_screen=False`` parameter of ``Application``.
- The layout can probably be a single ``Window`` which contains a ``FormattedTextCont

[2018-11-20 21:19] jonathanslenders commented on #791
Hi @hacksterous,

This was indeed never implemented, and would be nice to have. I don't know whether I'll have time soon, but a pull request is welcome.

It's the ``_display_completions_like_readline`` function in ``prompt_toolkit/key_binding/bindings/completion.py``. Instead of calling ``app.output.write``, use ``renderer.print_formatted_text``.

[2018-11-20 21:20] jonathanslenders commented on #788
I think the following should do it:
[code]

[2018-11-20 21:23] jonathanslenders commented on #787
Hi @bmerry,

Thanks for pointing out this issue! I haven't had time yet to dig into this.
Cancellation is a difficult thing to get right. This is also one of the reasons I'd like to move to asyncio natively when dropping Python 2 support.

Thanks for the example as well! This is great for reproducing.

[2018-11-21 04:09] rigogsilva commented on #790
@jonathanslenders, do I need some permission to push to a branch?

[code]

[2018-11-21 04:44] rigogsilva commented on #781
Maybe this can help you: https://github.com/prompt-toolkit/python-prompt-toolkit/blob/master/prompt_toolkit/layout/containers.py#L2114

Or this: https://github.com/prompt-toolkit/python-prompt-toolkit/blob/master/prompt_toolkit/layout/menus.py#L131

[2018-11-21 10:39] ibeex commented on #788
@jonathanslenders  this didn't worked I tried putting it in
[code]

but replacing `commands.prompt` and `bottom_toolbar` with functions works.

[2018-11-21 18:50] rigogsilva commented on #790
@jonathanslenders, I figure out the permission issue. I added an MR, but not sure if that is what you meant with the above: #793

Let me know of any improvements. The click button is pretty sensitive. You have to click in a specific location.

[2018-11-24 17:22] makitos666 opened #794 "Multi Threading with a single progress bar"
The documentation is a bit scarce, and I would like to know if you can make a single progress bar with parallel tasks.

I mean, is there any way to do something like: "update_pb (int i)"?
So I can have different threads, knowing in advance the total of iterations that I will do between all the threads and adding 1 to the variable "i" I can handle the bar.

Thanks!

[2018-11-25 20:18] jonathanslenders commented on #794
Hi @makitos666,

Yes, this is possible. Have you seen this example for instance: https://github.com/prompt-toolkit/python-prompt-toolkit/blob/master/examples/progress-bar/many-parallel-tasks.py ?

[2018-11-25 21:24] #794 closed, assigned to nobody

[2018-11-26 19:07] ashleyblackmore opened #796 "tty issues when launching via docker compose"
Hi!

I'm trying to launch a script that uses prompt() from docker compose. With `tty = true` I get:
[code]

With 'tty = false`:

[code]

Do you know where I can get started on fixing this? It seems that the tty available from docker is not sufficient?

Thanks!

[2018-11-30 08:58] meeuw opened #797 "assertion in Completion constructor doesn't propagate to prompt()"
It seems that the assertion at https://github.com/prompt-toolkit/python-prompt-toolkit/blob/7db93560cb1f10c96f4a22816774da63e67e467e/prompt_toolkit/completion/base.py#L37 is handled at https://github.com/prompt-toolkit/python-prompt-toolkit/blob/7db93560cb1f10c96f4a22816774da63e67e467e/prompt_toolkit/eventloop/coroutine.py#L103 but that assertion doesn't propagate back to prompt() and seems to be

[2018-12-01 18:49] rigogsilva opened #798 "Kernel app breaks with prompt-tookit 2.0. Works with 1.0"
This issue seems to be happening for kernel application.

https://github.com/jupyter/jupyter_console/issues/158

Not sure why it breaks the app.

Error:
[code]

[2018-12-01 19:04] rigogsilva commented on #798
Fix.

This is probably being caused by `ipython`.

Uninstalled `ipython`, and `prompt_tookit`, then installed `prompt_toolkit`. Now my application works.

[2018-12-01 19:04] #798 closed

[2018-12-06 13:53] imomaliev opened #801 "Drop python 2"
I see that you had to delete type annotations in one of the latest commits, because they are not supported in python 2, what about dropping support for it? I think it would make it much easier for maintaining this project. Big projects like django already dropped support for python 2

[2018-12-07 06:34] urain39 commented on #801
Maybe, but not now.

[2018-12-08 09:56] jonathanslenders commented on #801
Hi @imomaliev,

Yes, I've been thinking about it, but many prompt_toolkit users still require Python 2. The problem is that command line applications are often installed using the system Python installation, and often this is still Python 2.

At some point, we'll definitely drop Python 2 support. This would indeed make it possible to annotate all functions, but also to rewrite the core using nativ