[2014-09-19 06:39] amjith opened #2 "pypython crashes when Control chars are pressed with auto-completion menu open"
Ways to reproduce it:

[code]

Stacktrace:

[code]

[2014-09-19 07:37] #2 closed, assigned to nobody

[2014-09-24 14:51] gvangool opened #7 "Use jedi for autocompletion"
I think it'd be interesting to investigate using [jedi](https://github.com/davidhalter/jedi) for autocompletion.

[2014-09-24 15:16] #7 closed, assigned to nobody

[2014-09-30 02:52] ghost opened #9 "Crash while typing out a for-loop."
Incorrectly typing a `for` loop will cause an ugly crash before pressing `Enter`.

Example:

[code]

Output:

[code]

Originally I was running with Python 3.4 when I found it. I switched to Python 2.7 just to see if it was compatible with both, and then decided to see if it would crash again.

`KeyboardInterrupt` will regain the prompt, and then it won't crash on the same input. You lose the auto-

[2014-09-30 06:48] joequery opened #10 "no attribute `on_input_timeout`"
I'm making a tiny django package which lets ptipython be used as the Django shell.

https://github.com/joequery/django-ptshell

Everything works pretty well, but I did run into this randomly

[code]

The line mentioned: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/contrib/python_input.py#L559

I don't know how to reproduce this, but I believe removing the pr

[2014-09-30 08:39] #10 closed, assigned to nobody

[2014-09-30 09:37] beltiras opened #11 "Autocomplete does not introspect imported anything"
By running source env/bin/activate then ptipython I do not get the same code completion support iPython provides.  After importing classes from my project I can run any command and get the results I expect, but code completion does not work at all.

[2014-09-30 09:55] Carreau opened #12 "[feature request] use IPython zmq-interface"
First super awesome project.

Looking at ipython integration I suppose it would be possible to use the two-process console that uses zmq in contrib/ipython.py It would have the nice addition of beeing able to use this with all the kernels [supported by IPython](https://github.com/ipython/ipython/wiki/Projects-using-IPython), [bipython](https://github.com/ivanov/bipython) is using a similar approac

[2014-09-30 09:57] Carreau opened #13 "[ptipython] support bang-assign"
IPython allows `a = !ls` to work, ptipython refuses is.

IIRC there is a methods to know if an input is complete in IPython, probably in `IPython/core/inputsplitter.py`.

[2014-09-30 10:02] somepalli opened #14 "AttributeError: 'module' object has no attribute 'unichr'"
I have successfully installed python-toolkit. At first when i run the command i am getting error like following.
`testuser@ubuntu-amd64:~$ ptpython`
`Traceback (most recent call last):`
 `File "/usr/local/bin/ptpython", line 24, in <module>`
  `from prompt_toolkit.contrib.repl import embed`
`File "/usr/local/lib/python2.7/dist-packages/prompt_toolkit/__init__.py", line 32, in <module>`
  `from .la

[2014-09-30 10:31] #14 closed, assigned to nobody

[2014-09-30 10:54] azag0 opened #16 "mosh [mobile shell] compatibility"
When connected via [mosh](http://mosh.mit.edu) the ptpython console is broken and blinking. I guess this might have something to do with the VT100 requirement, so it's not a bug but a design limitation? My expertise is non-existent here.

[2014-09-30 11:12] rcarmo opened #17 "Hylang support?"
Hello there. I was wondering how easy it would be to build in [Hy](http://hylang.org) support, since this would make an absolutely killer REPL for it.

[2014-09-30 12:07] aidos opened #18 "IPython Extensions not loaded"
Because IPython is started using embed the extensions aren't loaded (IPython issue that's still not fixed https://github.com/ipython/ipython/issues/1144). This means thing like autoreload don't work.

Is it possible to swap to using the standard IPython startup using TerminalIPythonApp instead? I don't understand all these embedding layers that are going on so that may not even make any sense.

"I

[2014-09-30 12:07] adamtwiss opened #19 "Problem with functions I create"
To recreate - define a simple function, and try and call it.

[code]
Note the exception occurs after hitting the bracket in "square(" after calling the first time

This is OS X Mavericks with latest standard OS python (e.g. standard/latest Mac)

[code]

[2014-09-30 12:27] #17 closed, assigned to nobody

[2014-09-30 14:13] pfote opened #21 "AttributeError: 'module' object has no attribute 'unichr'"
getting the following traceback when running ptpython:

installed freshly via pip, terminal is a gnome-terminal running zsh, wm is awesome, OS is debian wheezy, let me know if you need more information

[2014-09-30 16:25] zhuligs opened #22 "crash when I input "for i in range(1,""
In [1]: for i in range(1
Traceback (most recent call last):
  File "/usr/local/bin/ptpython", line 71, in <module>
    _run_repl()
  File "/usr/local/bin/ptpython", line 68, in _run_repl
    startup_paths=startup_paths, always_multiline=always_multiline)
  File "/Library/Python/2.7/site-packages/prompt_toolkit/contrib/repl.py", line 139, in embed
    cli.start_repl(startup_paths=startup_paths)
  F

[2014-09-30 16:29] #13 closed, assigned to nobody

[2014-09-30 19:22] defrex opened #25 "Add ptpython support to Django's shell"
This is less an issue, and more a helpful tip that may be worth adding to the README. It's really simple to add ptpython support to Django's `manage.py shell` command. Just add [this gist](https://gist.github.com/defrex/f4bedd533f7ff1a2c0a8) as a manage command in any app in your project.

[code]

[2014-09-30 20:31] ALSchwalm opened #26 "Importing modules from the current directory fails"
If I create a file 'foobar.py' in a directory then run `ptpython`, `import foobar` fails with:

[code]

[2014-09-30 20:38] #25 closed, assigned to nobody

[2014-09-30 20:54] #21 closed, assigned to nobody

[2014-09-30 20:58] #11 closed, assigned to nobody

[2014-09-30 20:59] #22 closed, assigned to nobody

[2014-09-30 21:40] #26 closed, assigned to nobody

[2014-09-30 23:04] kstark opened #28 "ptipython always prompts `In [1]:`"
Example:

[code]

[2014-09-30 23:54] boxed opened #29 "Resizing terminal window on OSX behaves weirdly"
Write a really long line so that line break kicks in, then take the corner of the window and wiggle it. The resizing is partially correct, but multiple errors when resizing accumulate. Lots of extra blank lines are created and other artifacts show up.

[2014-10-01 14:39] markeroon opened #32 "embed REPL in Django app"
Hello, I'm trying to embed a REPL in a Django app, and I've placed

[code]

where I'd normally place pdb.set_trace(). Unfortunately, I'm having the following problem:

[code]

[2014-10-01 14:56] #32 closed, assigned to nobody

[2014-10-01 16:44] #28 closed, assigned to nobody

[2014-10-01 18:25] xhevahir opened #33 "Calling ptpython seems to start ordinary Python REPL"
I thought I'd succeeded in installing, after some brief trouble with issue #21(Unicode), but the ptpython prompt I'm getting looks just like the standard-issue Python triple arrow (only w/o the info about version, time, etc), and I'm not getting code completion, coloring, or anything special.  Is there some variable I might have needed to set somewhere?

[2014-10-01 20:38] brenns10 opened #34 "[feature request] File name completion"
IPython has file name completion, which is useful with %magic commands, and when you're putting filenames into strings.  Is that a possibility for a future version?

PS - this is a great piece of software.  Using IPython on its own feels primitive without it!  Keep up the incredible work!  And thank you!

[2014-10-02 05:00] wolever opened #35 "ctrl-z doesn't work"
It would be nice if ctrl-z would work to background the process.

[2014-10-02 08:50] #35 closed, assigned to nobody

[2014-10-02 16:13] shanusmagnus opened #36 "[feature request? bug?] iPython up-arrow partial string matching doesn't work"
iPython does partial string matching from its history when using the up arrow.  For instance, if you have previously executed:

    import abacus
    import monkeypants
    import mvpa_stuff_ex
    import zebra

and later you type:

    import mv

and then hit up arrow, iPython will match history based on the existing input line and only present you with a possibly-matching option.  This no longer

[2014-10-03 18:37] pgy opened #37 "IndexError while making recursive function"
IndexError was thrown while typing the following:

    ➜  ~  ptpython --vi
    In [1]: def bez(cps, t):
        2.     if len(cps) < 2:
        3.         return cps[0]
        4.     p1 = bez(cps[0:
                            ^--- Exception happened here

Full output:

    ➜  ~  ptpython --vi
    In [1]: def bez(cps, t):
         2.     if len(cps) < 2:
         3.         return cps[0]

[2014-10-03 20:26] #33 closed, assigned to nobody

[2014-10-03 21:12] erikcw opened #38 "Method to switch between vi and emacs keybinds in session"
It would be useful to be able to switch between vi and emacs keybindings without having to restart the session.

[2014-10-05 07:40] anhtran opened #39 "Smart auto-compete"
Love to have something like this:

[code]

I used to see this feature in IntelliJ.

[2014-10-05 14:06] jonathanslenders opened #40 "Add Windows support."

[2014-10-07 10:34] jonathanslenders opened #42 "Feature request: auto correction of input while typing."
E.g. replace "impotr" by "import" after pressing space.
This can be implemented as an event handler of the onTextInsert event hook. It should create an undo point.

[2014-10-10 12:12] vext01 opened #43 "UnicodeDecodeError on OpenBSD"
Hi,

I installed prompt-toolkit from pip on OpenBSD to try out ptipython. It's awesome. Nice work!

There is however an annoying bug. If i start a fresh ptipython and type 'import s' the following happens:

[code]
Packages:

[code]

Locale:

[code]

Could be a bug in Python on OpenBSD of course.

Any ideas?

[2014-10-15 10:13] pgy opened #45 "Newline in multi-line str produces SyntaxError instead of entering muliline edit mode"
With multiline editing turned off newline produces SyntaxError while typing multi-line string.

[code]

The same happens with '''.
Turning `Multiline` on seems to solve the problem:

[code]

[2014-10-15 13:04] jonathanslenders opened #46 "IndexError"
Not sure if this was already fixed. (I'm creating a ticket, just not to forget about this.)

[code]

[2014-10-15 18:40] #45 closed, assigned to nobody

[2014-10-20 14:09] carlos-alberto opened #50 "IPython '?' magic doesn't work"
In IPython ? and ??: Typing ? after a name will give you information about the object attached to that name. The prompt toolkit raises a syntax error for this. Would love to see this implemented.

[2014-10-21 10:13] #50 closed, assigned to nobody

[2014-10-25 05:36] Lin-H opened #51 "Can't run python ptpython on Windows"
My python is 2.7.8,Windows 7 x64. I used pip to install prompt-toolkit,but when I run `python ptpython` it raise a `ImportError` .

[code]

I google and try to fix it, but I got another error `ImportError: No module named termios`.

[2014-10-25 12:35] #51 closed, assigned to nobody

[2014-10-26 10:53] Congee opened #52 "crashes when completing after right bracket )"
Input () and press tab, it will crash. So does [], {}...
Maybe something is wrong with jedi.
The following is ERR message:

[code]

[2014-10-26 13:05] #52 closed, assigned to nobody

[2014-10-26 13:40] Congee opened #53 "completions error : 'generator' object has no attribute '__objclass__'"
`a = (x for x in range(10))`
Then, as you type `a(` , jedi complains as following

[code]

[2014-10-26 13:50] #53 closed, assigned to nobody

[2014-11-04 21:02] mfussenegger opened #56 "detect key-bindings from .inputrc"
Would be nice if an application built using prompt-toolkit behaves the same way as applications based on readline in that they use the input mode that is set in /etc/inputrc or ~/.inputrc.

Or do you think that the logic to detect the right keybinding should be part of the application and not within the prompt-toolkit library?

[2014-11-04 21:03] mfussenegger opened #57 "jedi as optional dependency"
Any chance that jedi is made an optional dependency?

Using prompt-toolkit to build cli's jedi is often not required.

[2014-11-05 19:43] ryneeverett opened #59 "Automatically Leaving Mutiline Mode"
Is there a reason multiline mode isn't exited automatically after a blank line as it is in the built-in repl and ipython? I would think at least making this an option would be desirable.

[2014-11-14 23:58] dankilman opened #61 "ptipython pollutes global"
Initialization of `ptipython` (and `ptpython` as well) leaves many globals.
Running `dir()` in `ipython`:

[code]

As you can see the only non private/internal attributes are `In, Out, exit, get_ipython, quit`

While running `dir()` in `ptipython` gives:

[code]

In this case, I think `IPython, a, always_multiline, autocompletion_sytle, ...` should be at least prefixed with `_` or not be there at

[2014-11-15 10:31] #61 closed, assigned to nobody

[2014-11-17 10:16] lhl opened #62 "Triggering Completer when calling CommandLineInterface.read_input()?"
I'm hacking up a little utility and was looking through the examples, but couldn't figure out if there was a simple way to automatically bring up my Completer when calling CommandLineInterface.read_input() (w/o digging through the guts of the lib)?

Also, is there a way to also assign autocompletion to different keys (ie, to the down key as well perhaps)?

Lastly, I'm doing a rather ugly hack (rea

[2014-11-17 23:35] ThatGeoGuy opened #63 "Strange behaviour with IPython -> Plot window hangs prompt"
This is using python3.4.1, on Windows 7 Professional 64 bit, with the latest IPython, as well as numpy / scipy / matplotlib.

I was just playing around with the experimental windows support, just to test out the features (like autocompletion, ipython integration, etc). Anyways, the first thing I usually do is try out matplotlib, to see if it's working / loading correctly.

    $ ptipython --vi

[2014-11-18 22:52] rockneurotiko opened #65 "Error when writing "yield""
I don't know if it's only me...

I've downloaded and installed from sources, I run ptipython, and start writing "yield", at the same time that I write the last character, I get that error:

[code]

[2014-11-19 19:43] #65 closed, assigned to nobody

[2014-11-19 19:45] #9 closed, assigned to nobody

[2014-11-25 09:40] sgillis opened #66 "Creating class with super"
I tried creating a custom exception:

[code]

Creating this exception works, but trying to raise it gives me:

[code]

[2014-11-27 11:41] carlos-alberto opened #67 "Scoping issues for generators"
When using an imported method within a generator an error is thrown of `NameError: global name 'function' is not defined`.

For example:

[code]

[2014-11-28 22:37] #67 closed, assigned to nobody

[2014-11-28 22:38] #66 closed, assigned to nobody

[2014-12-04 10:03] flying-sheep opened #70 "ptipython raises KeyError: 'extensions'"
Traceback:

[code]

[2014-12-16 09:20] pgy opened #72 "DistributionNotFound exception with jedi version 0.8.1-final0"
The most recent jedi version seems to be [`0.8.1-final0`](https://github.com/davidhalter/jedi/blob/cd648e933bfa89adcb2a92d856abe0b1900c0d90/jedi/__init__.py#L37), causing a `DistributionNotFound` exception during installation with setup.py or launching ptpython.
A possible workaround is to replace `jedi-0.8.1` with `jedi` in setup.py.

[code]

[2014-12-20 10:11] c02y opened #73 "Cannot open ptpython after installation."
I use the

    sudo pip install ptpyton

suggested in your [README.rst](https://github.com/jonathanslenders/python-prompt-toolkit#installation). But after execute in terminal, the output is this:

    Traceback (most recent call last):
      File "/usr/bin/ptpython", line 9, in <module>
        load_entry_point('prompt-toolkit==0.25', 'console_scripts', 'ptpython')()
      File "/usr/lib/python2.7

[2015-01-02 18:54] jonathanslenders opened #78 "Implement Control-Left/Right/Up/Down for Windows."

[2015-01-03 09:50] ionelmc opened #80 "Broken on Windows: ImportError: cannot import name KeyPress"
This happens on Windows 8.1 and Python 2.7.9 (tested from https://github.com/jonathanslenders/python-prompt-toolkit/tree/d87196e3d46e9024117c477579a7fda4cab2be90)
[code]

[2015-01-03 09:52] ionelmc commented on #80
Perhaps some AppVeyor could be used to have CI testing for this on Windows (akin to Travis).

[2015-01-03 10:03] jonathanslenders commented on #80
Thanks for reporting @ionelmc . I'll try to fix this asap!
I'll have a look at AppVeyor.

[2015-01-03 10:09] ionelmc commented on #80
Here's a guide to get you started with AppVeyor: https://packaging.python.org/en/latest/appveyor.html#appveyor-yml

[2015-01-03 16:32] #72 closed

[2015-01-03 21:03] jonathanslenders commented on #80
Hi @ionelmc ,

https://github.com/jonathanslenders/python-prompt-toolkit/commit/67a489f7856daa3b7df9a22578008670278befb9 and https://github.com/jonathanslenders/python-prompt-toolkit/commit/a5aba5d21cff9879792c5ea6e763628725562742  should fix Windows support again!

Thanks for reporting! If I find time, I have a look at Appveyor.

[2015-01-03 21:15] jonathanslenders commented on #78
@amjith:
Implemented in https://github.com/jonathanslenders/python-prompt-toolkit/commit/c61b8dc7d25a7e7e0cd5ddfb044890a3c47861c7

[2015-01-03 21:15] #78 closed

[2015-01-03 21:20] jonathanslenders opened #82 "Set up Appveyor for Windows testing"
See: http://www.appveyor.com/

and: https://github.com/jonathanslenders/python-prompt-toolkit/issues/80

and: https://packaging.python.org/en/latest/appveyor.html#appveyor-yml

[2015-01-03 21:20] jonathanslenders commented on #80
I created an issue for the Appveyor part: https://github.com/jonathanslenders/python-prompt-toolkit/issues/82

[2015-01-03 21:20] #80 closed

[2015-01-03 21:22] jonathanslenders commented on #73
Glad you figured this out!
And thanks for telling me what you did!

[2015-01-03 21:22] #73 closed

[2015-01-03 21:25] amjith commented on #78
:+1: Thank you!

[2015-01-07 05:21] blueyed opened #83 "Does not handle f1-f4 in rxvt-unicode / use terminfo?"
rxvt-unicode has non-standard escape codes for `F1` to `F1`: it uses `\E[11~` to `\E[14~`, instead of `\EOP` to `\EOS`.

This can be seen in `infocmp -1`.

Do you plan to use `terminfo`, instead of the hard coded escape sequences?

(I've came here because I've noticed that the function keys do not work in https://github.com/amjith/pgcli)

[2015-01-07 08:06] jonathanslenders commented on #83
Right now, I had no plans yet to use terminfo (maybe in the future), but I can easily support these sequences. (I don't think they conflict with any other sequences.)
Thanks for reporting! I'll do this asap.

[2015-01-07 08:07] jonathanslenders commented on #83
Ok, I just see your pull request. Thanks!

[2015-01-07 08:08] #83 closed

[2015-01-07 20:26] macobo opened #85 "Next release"
I'm eager to start using ctrl-arrow functionality.

Mind bumping the version and releasing to pypi?

[2015-01-08 12:15] jonathanslenders commented on #85
Hi @macobo . Good to remind me! I should be able to release a new version today or tomorrow.

[2015-01-08 18:31] jonathanslenders commented on #85
HI @macobo, 0.26 has been released on Pypi. But please not that if you had custom key bindings, that this api has been changed. If you encounter any issues, please tell me.

Cheers!

[2015-01-08 18:31] #85 closed

[2015-01-08 20:40] macobo commented on #85
Thanks for the pointers! Got everything upgraded quite quickly.

[2015-01-09 16:05] darikg commented on #63
Hi, thanks for python-prompt-toolkit! Any luck with this issue?

[2015-01-09 16:15] jonathanslenders commented on #63
No, not yet. I had a look at the event loops of IPython, but I remember there was no way to plug my own code in there. I guess this needs changes on both IPython and prompt-toolkit. (prompt-toolkit needs an event loop that supports run_in_executor and call_from_executor as well as monitoring for stdin.)

Currently I'm busy working on the refactoring of the layout system. But maybe I'll have a seco

[2015-01-09 16:25] darikg commented on #63
gotcha, sounds like a headache. thanks!

On Fri, Jan 9, 2015 at 11:15 AM, Jonathan Slenders <notifications@github.com

[2015-01-10 22:12] darikg opened #86 "v0.26 bugs in Windows"
In python 2.7: Need to press meta+enter to execute a line even when multiline mode is off

In python 3.3: Fails with traceback:
[code]

[2015-01-11 15:13] jonathanslenders commented on #86
Thanks for reporting! I have no immediate idea what's going on, but I'll have a look at this as soon as possible.

[2015-01-12 05:43] ChillarAnand commented on #25
In readme, It is worth mentioning  that `django-extensions-1.4.9` or higher is required to use ptpython.

[2015-01-12 09:13] amjith opened #87 "Prompt Search mode doesn't allow backspace"
Right now when I press Ctrl-R to go into the prompt search mode, I'm unable to correct my search term using backspace or Ctrl-W or Ctrl-U.

But all those keys work fine if I use the SearchToolbar mode.

[2015-01-12 11:12] jonathanslenders commented on #87
Fixed in: https://github.com/jonathanslenders/python-prompt-toolkit/commit/e6660b5010bd1e7feacc1e65c6a924090087890d

Does GNU readline support Ctrl-W/U in incremental search?

[2015-01-12 21:58] amjith commented on #87
No, I was wrong.

I will try the patch.

Although readline does support C-E, C-A, C-F, C-B, which basically kicks you out of the search mode and puts the cursor on the matching character and does the appropriate movement (C-A: home, C-E, end etc).

[2015-01-12 23:01] #38 closed

[2015-01-24 18:06] jonathanslenders commented on #86
Hi, I was just trying on Windows, but with Python 3.4 I can't reproduce it.
It seems that the ``windll.kernel32.GetConsoleScreenBufferInfo`` API call fails.

[2015-01-24 18:56] darikg commented on #86
If it helps, I can confirm there's two different issues with python 3.3 and 3.4. In 3.3 I get the error message I listed above, and in 3.4, I get simply "failed to create process." printed to console.

[2015-01-24 18:59] darikg commented on #86
Oddly enough, even though ptpython fails in 3.3, ptipython works (Although it still needs control-enter to execute a line). With 3.4, both ptpython and ptipython print 'failed to create process'

[2015-02-01 19:17] jonathanslenders opened #92 "Make wheel packages."
(We don't publish wheels on Pypi yet.)

[2015-02-01 19:19] jonathanslenders opened #93 "Expose a readline compatible API."
Maybe add a contrib.readline module which could be a non-GPL replacement for the Python GNU readline.

See: https://docs.python.org/2/library/readline.html

And: https://bitbucket.org/pypy/pyrepl

[2015-02-01 19:20] jonathanslenders opened #94 "Make Pygments dependecy optional."
If we don't need lexing/highlighting, then we also don't need anything of pygments.

This is probably important if prompt-toolkit will become the readline implementation of Pypy.

[2015-03-10 12:45] thomasballinger commented on #56
This gets requested a lot for bpython as well. If this is in the toolkit it'd be pretty cool to use that code, and I'd love to contribute to it. (Dredging up this old issue because I'm thinking about starting to write a minimal version myself, but would love to contribute to a common effort if possible.)

[2015-03-10 13:00] mfussenegger commented on #56
We've ended up putting in this little hack here: https://github.com/crate/crash/blob/d8e49c0aec8f1c70c49fe56e7f3e967bde1f44a3/src/crate/crash/command.py#L415

doesn't work for runtime of course but better than nothing =)

[2015-03-10 16:16] jonathanslenders commented on #56
@mfussenegger
Thanks, probably I will add something like that to prompt-toolkit itself.

[2015-03-10 21:50] darikg commented on #86
If you want to hear something completely bananas, ptpython in python 3.3 works *if* you set prompt_toolkit.terminal.win32_input._DEBUG_RENDER_OUTPUT to True

[2015-03-10 22:28] darikg commented on #86
Mapping `\x0d` to Keys.ControlJ instead of ControlM fixes the new line issue

[2015-03-10 23:03] jonathanslenders commented on #86
Okay, that sounds like there are a couple of bugs. Thanks for keeping me up to date. I haven't been able to fix anything lately, but I hope to restart prompt-toolkit development very soon again.

[2015-03-10 23:17] darikg commented on #86
Totally wasn't my intention to try to rush you or anything!! I'm just having fun poking around blindly and keeping notes here

[2015-03-16 20:05] jonathanslenders opened #102 "Eventloop timeout property is ambigue"
It's used for two completely independent things.
- It flushes the vt100 input on the Posix eventloop. (this can be a very short timeout)
- It's used to start loading the signature of the current function in ptpython. (Can be a longer timeout.)

Maybe we should have two different timeouts. But probably it's better to not expose the timeout in the eventloop for the second case. (Or we should have an

[2015-03-28 09:40] jonathanslenders commented on #57
@mfussenegger This has already been done a while ago. Both jedi and docopt are no longer dependencies of prompt-toolkit.

[2015-03-28 09:40] #57 closed

[2015-03-28 14:50] liviobait opened #104 "pip version different from git"
Hello
I installed python-prompt-toolkit with pip on python 2.7.6.1. I suppose is a different version of master github, because the file shortcurts.py use history_filename and not history attribute.
And a this point the example sqlite-cli do not work.
I have another strage issue, SqlLexer do not exist, I have only Sql.

[2015-03-28 15:19] jonathanslenders commented on #104
Hi @liviobait,

I'm aware that the lastest master commit is ahead of the latest Pypi release. The commit on Pypi is this one: https://github.com/jonathanslenders/python-prompt-toolkit/commit/7cab47cc3aaf4b7720f90416b6f206f8ac14d3ff

About SqlLexer, what version of Pygments do you have? Maybe something was changed there?
Thanks for reporting in any case! I appreciate it.

[2015-03-31 16:03] liviobait commented on #104
I have the version of pypi for python 2.7.6.1

[2015-03-31 21:50] jonathanslenders opened #105 "Performance optimizations"
- Don't redraw after every key press when there are pending input characters to be read. (Prefer CPU to be used for input processing instead of rendering.)
- When the async cli.redraw() has been called several times, don't schedule a second redraw, if the first hasn't been started yet.

[2015-04-10 16:12] krisztianfekete opened #106 "Home & End keys"
I have just found out about ptpython and how nice its multi-line support is.

Except, that my expectations of the Home and End keys are different: I expect them to move the cursor to the beginning/end of line respectively.  What happens instead is to move the cursor to the beginning/end of the buffer, which moves the cursor far away from the point I want it to go.

https://github.com/jonathanslend

[2015-04-10 20:08] jonathanslenders commented on #106
Hi @krisztianfekete , thank you for the feedback! That's easy to fix. I will probably do that.

[2015-04-11 14:14] krisztianfekete commented on #106
Hi @jonathanslenders , I see you have already implemented it in 7a4bf4fe1137b9a1bf0fae5c4dc9e43966ab81f7.  Thanks!

[2015-04-12 10:19] stonebig commented on #92
Would it be possible for you to add the necessary pieces for it ?
(so it becomes just a matter of doing python setup.py sdist bdist_wheel on the pc or mac that wants it)

[2015-04-12 15:29] #87 closed

[2015-04-12 15:31] jonathanslenders commented on #42
There is an example now: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/examples/autocorrection.py

[2015-04-12 15:31] #42 closed

[2015-04-12 15:32] #40 closed

[2015-04-12 15:33] jonathanslenders commented on #34
This was already implemented a while ago, I'm closing the ticket.

[2015-04-12 15:33] #34 closed

[2015-04-12 15:34] jonathanslenders commented on #106
Yes, I implemented this yesterday. Hopefully, I'll be able to do a new release on Pypi soon.

[2015-04-12 15:34] #106 closed

[2015-04-21 18:44] jonathanslenders commented on #36
Hi all,

I'm about to implement this "history-substring-matching".
Is that an option that can be enabled/disabled in readline? What is it called exactly?

I think I know how to implement it, and probably it's not even that hard. But I'd like to be as compatible as possible with readline.

Cheers,
Jonathan

[2015-04-26 08:45] jonathanslenders commented on #105
The first part has been done.

[2015-04-26 08:46] jonathanslenders commented on #59
Hi @ryneeverett This has been fixed in the latest release.

[2015-04-26 08:46] #59 closed

[2015-04-26 08:46] jonathanslenders commented on #59
(Sorry for the delay!)

[2015-04-26 11:42] jonathanslenders commented on #92
Done. :)

[2015-04-26 11:42] #92 closed

[2015-04-26 17:03] ryneeverett commented on #59
Sweet.

[2015-04-26 18:50] stonebig commented on #92
thanks.

[2015-04-29 18:48] j-bennet opened #108 "Blinking issue"
Jonathan,

I used your great toolkit and made a stab are creating a CLI to work with docker. This is my project here: https://github.com/j-bennet/dockercli (it's in very early stage so please don't judge too harshly). I'm noticing there's a blink after each read_input and before result output. At first I thought perhaps I'm doing too much work when parsing input, but then, the blinking happens eve

[2015-05-01 19:33] anula opened #109 "ASCII color codes in prompt"
Let's say I want to have colorful prompt. I guess I can achieve it somehow using Pygments's styles, but first idea would be to use ASCII color codes. So if I wanted a red "hello>":
` prompt = '\001\033[0;31m\002hello>'`
And now, indeed, printing prompt like that:
`print(prompt)`
Yields expected result. But call to `get_input`:
`answer = get_input(prompt)`
Prints:
"^A^[[0;31m^Bhello>"

Is that beha

[2015-05-05 06:07] CharString commented on #39
@jonathanslenders I think he meant something else. `urllib.parse` doesn't contain a name `join`, but it does have a name `urljoin`. I think he meant the completer should use `in` instead of `startswith`.

I suppose this is handled by jedi. And I suspect this gives weird behavior on the second <kbd>tab</kbd> press, as the word before the cursor is something different than the user entered himself.

[2015-05-23 03:49] jucacrispim opened #115 "Redraw only one window"
Hi.

I have a layout with two window inside a HSplit. In the bottom window I have an input and in the upper window I'm displaying the output with a TokenListControl. Is there a way to redraw only one window when the user submit some data?

Thanks.

[2015-05-26 06:49] amjith opened #116 "Completions break when user input is longer than a chosen suggestion"
I'm trying a new fuzzy completer for prompt_toolkit and during an experiment I uncovered the following bug.

Try the following example script:

[code]

Save it as auto_fuzzy.py and run it. `python auto_fuzzy.py`.

In the user input type `abcdefaalkjafoij` (or something quite long) and then press `<tab>`. It will crash with the following error message:

[code]

The cause is the user input is longer

[2015-05-26 07:39] jonathanslenders commented on #116
That's a serious bug. Thanks for reporting, @amjith. I'll fix it asap.

[2015-05-27 11:29] jonathanslenders commented on #115
Hi @jucacrispim

I'm sorry for the late reply, I was on holiday.
Are you asking for a feature or an optimization?

Currently the renderer already takes the difference between the current output and the previous output. So, if only the bottom pane has some changes, the output of the upper pane is not sent to the terminal.
However, the ``get_tokens`` function of ``TokenListControl`` is still called

[2015-05-27 14:27] jonathanslenders commented on #108
Hi @j-bennet,

I'm very sorry for the late reply. (So much things have been going on lately.)
Hope you are doing well. I see you're still actively working on your dockercli. Nice!

Does it still happen? I remember someone else telling me that he had some blinking issues, but I was unable to reproduce it on any terminal. Can you tell me which terminal and operating system you are using?

Jonathan

[2015-05-27 16:05] j-bennet commented on #108
@jonathanslenders It was @amjith that told you, happened on his Mac Air. I still see the blink when I simply press "Enter" inside my CLI (it outputs a help message when doing that). I don't see it on quickly typing. I noticed this behavior in Linux Mint 13 with GNOME Terminal + Tmux, and on my Macbook Pro with iTerm.

[2015-05-27 18:41] jucacrispim commented on #115
@jonathanslenders I wrote a simple example that I think explains better what I'm trying to say. https://gist.github.com/jucacrispim/5008b406820e62e7541c

The problem is that everytime I enter some data or just press <enter> all windows are redrawn. In one of my experiments I have tried a 'full screen' cli and I saw this redraw as a blink. Maybe it's related to  the blinking issue?

Trying to figur

[2015-05-27 21:21] jonathanslenders commented on #116
Fixed in: https://github.com/jonathanslenders/python-prompt-toolkit/commit/0b4a2424b1ed3cf4c4975492f34f37d53080ba0d

[2015-05-27 21:21] #116 closed

[2015-05-30 19:05] #105 closed

[2015-05-31 08:40] jonathanslenders commented on #109
Hi @anula,

Sorry for the late reply.
Right now it is possible. Have a look at this example: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/examples/colored-prompt.py

The reason that defining ANSI colors doesn't work is that the library is terminal agnostic. That means, applications using it should work on Windows as well and windows doesn't know about these escape codes.

[2015-05-31 10:23] #46 closed

[2015-05-31 10:23] jonathanslenders commented on #46
Closing this. We upgraded to a new Jedi version.

[2015-05-31 23:41] darikg opened #119 "[help wanted] debugging broken autocomplete in Windows"
Autocomplete has been broken for me in Windows (Windows 7 x64) for a while now, but I've just had time recently to try to investigate. When using `python-prompt-toolkit/examples/autocompletion.py`, pressing tab doesn't show the autocomplete menu, and pressing control-tab actually hangs the prompt.

By throwing logging statements everywhere, I think I've got the problem narrowed down pretty specifi

[2015-06-01 00:11] tschwaller opened #120 "Add a subcommand example"
Add an example how to implement a subcommand, e.g.

(vlan 100)> name "VLAN for NFS traffic"
(vlan 100)> exit

The prompt changes and also the available commands in the subcontext.

[2015-06-01 09:07] fbenmena opened #121 "Some files needs to be updated"
Since some recent changes invloving `KeyBindingManager` the awesome `layout.py` example
doesn't run anymore.

Hope this helps.
Regards

[2015-06-01 18:27] jonathanslenders commented on #121
Thanks for pointing out @fbenmena!

Fixed in: https://github.com/jonathanslenders/python-prompt-toolkit/commit/0c08f2c0c8d8aa8232382787493979ce1086af2c

While going forward, I should have missed that example.
Cheers,
Jonathan

[2015-06-01 18:27] #121 closed

[2015-06-01 18:41] jonathanslenders commented on #120
Hi @tschwaller,

Thanks for the suggestion. I will try to create such an example.

There are several approaches.
One way is to run a new CLI with another prompt and completer.

Another way it to reuse the same, but make both dynamic. The prompt itself can be made dynamic through the ``get_prompt_tokens`` function (See this example: https://github.com/jonathanslenders/python-prompt-toolkit/blob/mas

[2015-06-01 19:11] jonathanslenders commented on #119
Hi @darikg,

Amazing that you got so far debugging the issue. Return code -1 is indeed an issue.
According to this page: https://msdn.microsoft.com/en-us/library/windows/desktop/ms687025%28v=vs.85%29.aspx it's actually not -1, but 0xFFFFFFFF. I guess that's the same.

Now, the weird thing is that on my Windows laptop. (Also Windows 7, 64 bit), for both Python 2 and Python 3. This script seems to w

[2015-06-01 23:32] darikg commented on #119
Thanks @jonathanslenders! Through sheer trial & error, I got it to work, by using the `HANDLE` type:

[code]
(Whether the False was wrapped in a BOOL or not didn't seem to matter.) When you get a chance, could you try the same on your machine?

[2015-06-02 10:13] jonathanslenders commented on #119
Hi thanks @darikg . This makes me happy. I will try this tonight.

What do you get when executing the following code?
[code]
HANDLE is a ``c_void_p`` as well ?

What do you get when executing the following line?
[code]
I get: ```7fffffff False```. It means that I'm 32 bit. Maybe you have 64 bit Python which caused void pointers to have another size.

Jonathan

[2015-06-02 10:22] darikg commented on #119
I think you're right!

[code]

[2015-06-02 16:07] jonathanslenders commented on #119
Hi @darikg,

I was also able to reproduce the issue on Python 3.5, 64bit.
It has been fixed in this commit: https://github.com/jonathanslenders/python-prompt-toolkit/commit/f26ca1ee03fefcd1a992608cec6ac4f9bb499875

A bit more testing and I'll release again.
Thanks a lot with all the help fixing this issue!

Jonathan

[2015-06-02 21:45] lillian27 opened #123 "REPL tutorial fails in Python 2.7"
Code provided for initial step in REPL tutorial fails in Python 2.7 (clean virtualenv, only prompt_toolkit and deps installed):

[code]

    application=create_default_application(message, **kwargs),
  File "/Users/lillian/Documents/Projects/st_p2x/lib/python2.7/site-packages/prompt_toolkit/shortcuts.py", line 239, in create_default_application
    extra_input_processors=extra_input_processors),

[2015-06-02 23:25] darikg commented on #119
That's awesome. It even fixes jonathanslenders/ptpython#30

[2015-06-03 01:19] Tyilo opened #124 "History doesn't work"
Code:

[code]

Entering `foo` and then pressing the up-arrow does nothing. This happens in both Python 2.7.9 and 3.4.2 on OS X 10.10.3.

[2015-06-03 09:22] Tyilo commented on #124
The problem is that the string isn't added to the history with `history.append`. You should probably fix [the tutorial](https://github.com/jonathanslenders/python-prompt-toolkit/tree/master/examples/tutorial).

[2015-06-03 15:06] gvangool commented on #124
@Tyilo the `history.append` is called in [`Buffer.append_to_history`](https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/buffer.py#L870-L882)

[2015-06-03 15:12] Tyilo commented on #124
@gvangool So you're saying that it should work? Because I have to call `history.append` manually.

`FileHistory` works without calling `append` manually.

[2015-06-03 15:15] gvangool commented on #124
I just stepped through it with pdb and I see the call to `append_to_history` and the subsequent call to [`History.append`](https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/history.py#L16). But I also notice that the next run through `get_input` you have an empty history.

[2015-06-03 17:37] jonathanslenders commented on #124
Hi all, this is indeed a bug. Thanks for helping!

The problem is at this line:
https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/history.py#L22
When the history is still empty ``__len__`` returns zero.

Then at this line:
https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/shortcuts.py#L242
we do a fallback to a default History()

[2015-06-03 18:08] jonathanslenders commented on #124
Fixed in: https://github.com/jonathanslenders/python-prompt-toolkit/commit/24d4f8155174830e42b390864b2c70eb7ae61c84

[2015-06-03 18:14] jonathanslenders commented on #123
Hi @blueyed,

Thanks for reporting! The problem was the missing``from __future__ import unicode_literals`` import.
I fixed it in the tutorial.

Jonathan

[2015-06-03 18:14] #123 closed

[2015-06-03 18:42] jonathanslenders commented on #115
Hi @jucacrispim  Can you tell me what operating system you are using, and which version of Python. (also 32 or 64 bit.)

I tried your script lately and it seemed to work. Now I updated it to the latest version of the master branch of prompt_toolkit: https://gist.github.com/jonathanslenders/29d6e19904cd0364455f  and it still works fine.

It could indeed be that it's related to the blinking issue. A

[2015-06-03 18:46] #119 closed

[2015-06-03 18:47] #70 closed

[2015-06-03 19:05] Tyilo commented on #124
Thanks!

[2015-06-03 19:05] #124 closed

[2015-06-03 21:03] Tyilo opened #125 "Stop get_input from another thread"
I want `get_input` to raise an exception, when some global flag `SHOULD_STOP` is set to `True` (by another thread). Is there an easy way of doing this?

I think I would have to rewrite both the posix and win32 eventloop to support this, but that doesn't seem like a very good way.

[2015-06-04 08:56] jonathanslenders commented on #125
Hi @Tyilo,

That is possible and it shouldn't be hard.

Have a look at the implementation of ``get_input`` first: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/shortcuts.py#L253
You will need to copy paste the code inside this function, because you need access to the ``CommandLineInterface`` object called ``cli``.

Then it is possible to set a return value fr

[2015-06-04 14:56] Tyilo commented on #125
Thanks, it seems to work, however it's called `call_from_executor` instead of `call_from_thread`.

[2015-06-04 14:56] #125 closed

[2015-06-04 14:57] jonathanslenders commented on #125
Oh, yes. That was what I meant. Glad it worked!

[2015-06-04 18:57] jucacrispim commented on #115
Hi @jonathanslenders

Python version is 3.4.2
Operating system is Debian GNU/Linux  8 (jessie) 64 bits.

[2015-06-04 19:57] jonathanslenders commented on #115
And which terminal application?

[2015-06-05 03:38] jucacrispim commented on #115
Oh, I'm sorry.

I'm using Konsole (KDE's terminal emulator)

[2015-06-06 13:15] tschwaller commented on #120
Hi Jonathan (@jonathanslenders)

thanks for looking into that! Appreciate it!
The Python configshell might give you some inspiration how others solved that "problem".

https://github.com/agrover/configshell-fb
http://www.risingtidesystems.com/git/?p=configshell.git;a=summary (Original version)

A simple example from me: ;-)
https://tomsreadme.wordpress.com/2013/01/08/example-shell/

I looked at th

[2015-06-07 08:54] jonathanslenders commented on #19
Hi all, closing this ticket because ``ptpython`` was removed from ``prompt-toolkit`` and got its own repository: https://github.com/jonathanslenders/ptpython/ . Further, the ``Jedi`` library for ``ptpython`` has been upgraded and we handle all known exceptions already. Let's create a new ticket if it happens again.

[2015-06-07 08:54] #19 closed

[2015-06-07 08:54] jonathanslenders commented on #37
Hi all, closing this ticket because ``ptpython`` was removed from ``prompt-toolkit`` and got its own repository: https://github.com/jonathanslenders/ptpython/ . Further, the ``Jedi`` library for ``ptpython`` has been upgraded and we handle all known exceptions already. Let's create a new ticket if it happens again.

[2015-06-07 08:54] #37 closed

[2015-06-07 08:55] jonathanslenders commented on #43
Hi all, closing this ticket because ``ptpython`` was removed from ``prompt-toolkit`` and got its own repository: https://github.com/jonathanslenders/ptpython/ . Further, the ``Jedi`` library for ``ptpython`` has been upgraded and we handle all known exceptions already. Let's create a new ticket if it happens again.

[2015-06-07 08:55] #43 closed

[2015-06-07 11:17] jlec opened #126 "Add tests to release tarball"
Could the test be added to the release tarball, so that OS package maintainers could test in the end environment of the distribution?

[2015-06-07 12:33] jonathanslenders commented on #126
Hi @jlec,

We can do that, yes. I just checked and Django for instance is doing it as well.
What is the best approach? Do I have to change something to the ``setup.py``?

One remark though. Right now, the tests are not covering everything. They do save me from time to time, but I need to put some more effort in it to get a better coverage. (I'm not targeting full coverage, but a few parts are very

[2015-06-08 06:13] jlec commented on #126
Hi @jonathanslenders,

You only need to make sure in setup.py that the test don't get installed. There is some exclude list for such things.

We are trying to do test with all packages. This helps us to trigger down incompatibilities with dependencies and in situations where our installations might differ from what upstream tested.

It would be great if you could do the same for ptpython, too.

Th

[2015-06-15 20:17] jonathanslenders opened #127 "Autocompletion menu leaves traces on Windows."
``cmd.exe`` shows vertical lines after the completion menu hides. Probably a bug in cmd.

A possible workaround is to call the repaint API after drawing;

[code]

[2015-06-16 19:51] Aluriak opened #128 "vi mode example assertion error"
When launch Python3 on [vi_mode example](https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/examples/get-input-vi-mode.py), the following stack trace is generated :

    You have Vi keybindings here. Press [Esc] to go to navigation mode.
    Traceback (most recent call last):
      File "p.py", line 8, in <module>
        answer = get_input('Give me some input: ', multiline=Fals

[2015-06-16 20:17] brenns10 opened #129 "Control-T Emacs keybinding swaps wrong characters"
In Emacs, the shortcut `C-t` (`transpose-chars`) does the following things:

- Swap the character under point with the character before it.
- Move point one character to the right.

(The only exception here is when point is at the end of the line, in which case it swaps the *two characters to the left of point*, and keeps point where it is).

So, if you had "a**b**c" in a buffer (bold represents p

[2015-06-16 21:44] jonathanslenders commented on #129
Hi @brenns10,

Thanks a lot for pointing this out!
I wasn't aware of it (that's a shortcut a barely use myself) but it's clearly a bug.

If you like to, feel free to submit a pull request and I'll merge it. (Please fix in ``key_bindings.bindings.basic``.)

Cheers and thanks for the complement,
Jonathan

[2015-06-16 21:48] jonathanslenders commented on #128
Hi @Aluriak,

Thanks for pointing this out. That's a bug.

The patch below could fix it. I will check tomorrow whether I missed something and if not apply it.

[code]

[2015-06-17 08:04] zhoushun123 opened #131 "ptipython raises ArgumentError: argument 1: <type 'exceptions.TypeError'>: wrong type"
**My python environment:**
windows 7 sp1 64bit
Python 2.7.10 (default, May 23 2015, 09:44:00) [MSC v.1500 64 bit (AMD64)]
IPython 3.1.0
prompt-toolkit-0.40
ptpython-0.14

**Traceback:**
[code]

[2015-06-18 20:05] #129 closed

[2015-06-18 20:06] jonathanslenders commented on #128
Fixed: https://github.com/jonathanslenders/python-prompt-toolkit/commit/c7b38d3f54b05f30d13e56f7cce8b3d2cf801463

Thanks!

[2015-06-18 20:06] #128 closed

[2015-06-18 20:07] jonathanslenders commented on #109
It's released on Pypi.
Cheers,
Jonathan

[2015-06-18 20:07] #109 closed

[2015-06-18 20:07] jonathanslenders commented on #109
It's released on Pypi.
Cheers,
Jonathan

[2015-06-20 03:21] manova commented on #36
@jonathanslenders if you implemented it in a fork, I would definitely use it. I'm also willing to help out. What was your plan exactly for implementing it?

[2015-06-20 16:46] jonathanslenders commented on #36
Hi @manova (and everyone),

It is implemented. Have a look at this example: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/examples/up-arrow-partial-string-matching.py
Like for readline, the option is called "history searching".

It's also configurable for ``ptpython`` and ``ptipython``. (From the options menu, or from a configuration file.)

There is only one trade-off. It'

[2015-06-20 16:46] #36 closed

[2015-06-21 06:41] jonathanslenders opened #132 "Set terminal title."
The CLI should be able to set a terminal title.

[2015-06-28 18:44] jonathanslenders commented on #132
This is implemented.

[2015-06-28 18:44] #132 closed

[2015-07-10 11:14] Aluriak opened #135 "create_default_application() got an unexpected keyword argument 'patch_stdout'"
When launching python3 or python2 on the example test [patch_stdout](https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/examples/patch-stdout.py), the error **create_default_application() got an unexpected keyword argument 'patch_stdout'** is raised:

    i=1
    Traceback (most recent call last):
      File "p.py", line 31, in <module>
        main()
      File "p.py", line 25,

[2015-07-13 13:08] jonathanslenders commented on #131
Hi @zhoushun123, I'm sorry for the late reply.
Does this still happen? (With: prompt-toolkit-0.42  ptpython-0.16)

Maybe STD_INPUT_HANDLE should be a c_ulong rather than a HANDLE. Could you try replacing HANDLE with ctypes.c_ulong at the following three lines?
https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/win32_types.py#L5

[2015-07-13 13:09] jonathanslenders commented on #127
This was fixed by drawing charecters one by one: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/terminal/win32_output.py#L213

[2015-07-13 13:09] #127 closed

[2015-07-13 22:39] itamargal opened #136 "ControlQ key binding has no effect"
I'm playing around with the [custom key binding example](https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/examples/custom-key-binding.py). I've added the following key binding to the main loop:

    @key_bindings_manager.registry.add_binding(Keys.ControlQ)
    def quit(event):
        event.cli.set_return_value(None)

When I run the example and press Ctrl-Q, nothing happens. H

[2015-07-15 08:33] zhoushun123 commented on #131
Yes,this still happen with prompt-toolkit-0.42 ptpython-0.16 (with the latest ipython 3.2.1).I made the change in your way,and it works.Will you fix this in the future release?

[2015-07-15 10:00] jonathanslenders commented on #131
Fixed in https://github.com/jonathanslenders/python-prompt-toolkit/commit/8ac0c8936ff815ed7bb48c5e8d81c59cfeddc24b

I will try to do a new release today or tomorrow.

[2015-07-15 10:03] jonathanslenders commented on #136
What happens when you run ``stty -ixon`` in your bash shell before starting your application?

Both Control-S and Control-Q are by default used for flow control in vt100 terminals. As far as I understand, it means that the application running in the terminal will never receive any of these two key strokes. By running ``stty -ixon`` you disable flow control and that should work again.

[2015-07-15 11:24] jonathanslenders commented on #86
Hi @darikg,

Can we close this issue? Windows development progressed a lot, but I'm not sure whether this still happens or not.

[2015-07-15 11:34] jonathanslenders commented on #63
Hi everyone,
ptpython now integrates automatically with the tk eventloop when it detects that the ``tkinter`` package was imported. So, the ``turtle`` package and other tk stuff should work again.
This also means that ``ptipython`` will display plots correctly when the ``TkAgg`` matplotlib backend is used. (That's the default, I think.)

For a better integration with IPython, I refer to this ticke

[2015-07-15 11:34] #63 closed

[2015-07-15 11:48] darikg commented on #86
Yeah close it!

On Wed, Jul 15, 2015 at 7:24 AM, Jonathan Slenders <notifications@github.com

[2015-07-15 11:57] jonathanslenders commented on #135
Hi @Aluriak,
This should be fixed now. It was implemented in this commit: https://github.com/jonathanslenders/python-prompt-toolkit/commit/ce91011f23d33a1ebce8a515df6a3f6d586fdeb3

It should work with the latest Pypi release of today. Feel free to reopen the ticket if it still doesn't work.

Jonathan

[2015-07-15 11:57] #135 closed

[2015-07-15 17:22] ThatGeoGuy commented on #63
Hey @jonathanslenders, thanks for looking into this. I'm impressed and amazed that my bug report has come this far.

Thanks again for the work you've done on this until now. I've begun playing around with ptipython again, and it's much more polished. I'm excited to see future integrations with IPython, so thanks again for your work!

[2015-07-15 21:44] jonathanslenders commented on #63
You're welcome!

[2015-07-16 01:07] zhoushun123 commented on #131
oh yeah,it's been fixed in the lastest prompt-toolkit-0.43 and ptpython-0.18

[2015-07-16 09:56] #131 closed

[2015-07-17 12:33] darikg opened #137 "Colors in Windows"
It looks like win32_output.py maps all colors to the closest color in a 16-color table. ConEmu supports ANSI color codes. Is it possible to detect which console is being used and only fall back to 16-bit color if necessary?

[2015-07-21 19:40] j-bennet opened #138 "Dockercli release and thank you"
Jonathan,
I just wanted to let you know that I released https://github.com/j-bennet/dockercli to pypi, and it's built on Prompt Toolkit. Thank you for this great project! I have no other way to contact you but file a github issue, sorry about that.
Iryna

[2015-07-22 22:29] xiaochuanyu opened #139 "Any way to delay completion popup?"
As stated in title.
I can't figure out how to do this and there are no examples of it.

[2015-07-23 19:58] #138 closed

[2015-07-24 21:14] meeas opened #140 "Multiline Editing (provide default text)"
How do you do multiline editing?  I see the example to do multiline inputs, which I love, but how do you provide default text to edit?  I don't see an argument you can pass to get_input() or CommandLineInterface() when looking through the source.

[2015-07-25 12:18] jonathanslenders commented on #137
That should be possible. ConEmu sets the ``ConEmuANSI`` environment variable when it has ANSI colors enabled. I guess it should be easy to switch to 256 colors in that case. I'll have a look. Thanks for the suggestion!

[2015-07-25 15:37] jonathanslenders commented on #137
It should work now: https://github.com/jonathanslenders/python-prompt-toolkit/commit/17b8a3a08fcd26dcaa9c917dafd32552f8612b2a

However, for some reason ConEmu only supports 256 colors in the "bottom region". So you have to print ``print('\x1b[9999;1H')`` to make it scroll to the bottom first. (I don't like it entirely, but the colors look good.)

[2015-07-25 15:43] jonathanslenders commented on #139
Hi @xiaochuanyu,

Right now, there is no way to do this. At the moment, the timeout given by the eventloop triggers autocompletion. (This is almost instantly.) This timer was actually meant in the first place for flushing the vt100 Escape code.
I'd like to add a second timer for starting the autocompletion.
(However, timers and event loops are complex, I'm going to take my time for this.)

See als

[2015-07-25 16:04] jonathanslenders commented on #137
See: https://github.com/Maximus5/ConEmu/issues/227

[2015-07-29 14:55] scopatz opened #141 "ImportError: cannot import name 'create_cli'"
Some of our [xonsh](https://github.com/scopatz/xonsh) users have noticed that the `prompt_toolkit` is no longer working with recent versions of the code.  In particular, it looks like the `create_cli()` function is now gone.  See scopatz/xonsh#324.  The trace back that we are seeing is:

[code]

Would it be possible to add this function back in, perhaps even as a compatibility layer for deprecated

[2015-07-29 14:55] scopatz commented on #141
Thanks in advance!

[2015-07-30 20:31] jonathanslenders commented on #141
Hi @scopatz,

Yes, in order to separate the I/O backends (like local, SSH, telnet, etc...) from the application logic we had to refactor some things.

The most high-level, easy to call function is the "get_input" function.

See the pull request that I created: https://github.com/scopatz/xonsh/pull/334
This fixes also another issue with the "get_prompt_tokens" function that returned a list where a

[2015-07-30 20:45] jonathanslenders commented on #141
One other import thing is that ``get_prompt_tokens`` is called every time the prompt is rendered, so on every single key press. (The reason for this is that a prompt can be dynamic and change as you type.) Xonsh is calling ``format_prompt_for_prompt_toolkit`` every time, and that is actually slow.

Either, calculate the prompt once, right before calling ``get_input`` and give it a function that re

[2015-07-30 20:50] glennq opened #142 "ImportError: cannot import name windll in OS X"
I'm surprised no one else has reported this issue, but probably `is_windows()` in `utils.py` needs to be changed, as `sys.platform` returns `'darwin'` in OS X

[2015-07-30 20:55] jonathanslenders commented on #142
Thanks, just received this issue: https://github.com/jonathanslenders/ptpython/issues/60

Fixing right now.

[2015-07-30 20:57] scopatz commented on #141
Thanks for the feedback and the PR @jonathanslenders.  @anula will probably be interested in this.

[2015-07-30 21:14] jonathanslenders commented on #142
Thanks a lot for reporting, @glennq !

Fixed in: https://github.com/jonathanslenders/python-prompt-toolkit/commit/aa32f27944c9cd4e370d7e993bb7649a1ad66348 and new release pushed to Pypi.

[2015-07-30 21:14] #142 closed

[2015-08-01 14:51] jonathanslenders opened #143 "cd, pwd and ls commands in ptipython give syntax error when followed by a path"
``%cd /`` works; ``cd /`` doesn't; ``cd`` works as well.

[2015-08-02 07:36] jonathanslenders commented on #137
The latest release always uses ANSI escape codes when ConEmu has been detected. However, unfortunately 256 colors only works in the bottom region.
I close this, because there is nothing more on our side that we can do.

[2015-08-02 07:36] #137 closed

[2015-08-02 14:45] jonathanslenders commented on #140
Hi @meeas,

Currently, it's not yet possible to provide a default text through the shortcuts module. (Thanks for the suggestion, I'll do that.)

However, what is already possible is to create an Application/CommandLineInterface manually, and give it a Buffer with a ``default_document``: https://github.com/jonathanslenders/python-prompt-toolkit/blob/9aa56e741444ff0c2756e531b3a352063b7e99c2/prompt_t

[2015-08-02 15:42] jonathanslenders commented on #141
Also have a look at this example: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/examples/colored-prompt.py

![colored-prompt](https://cloud.githubusercontent.com/assets/216638/9026811/cbe44e12-393d-11e5-85c1-b0dce9e79c4d.png)

[2015-08-02 16:10] scopatz commented on #141
Thanks @jonathanslenders!

[2015-08-03 18:42] jonathanslenders commented on #139
See: https://github.com/dbcli/pgcli/issues/256

[2015-08-03 19:01] jonathanslenders opened #144 "Never trigger autocompletion menu on a "paste"."
This is quite annoying for pgcli.

[2015-08-03 19:03] xiaochuanyu commented on #139
I created dbcli/pgcli#256 and subsequently tried to implement a delayed auto-completion mode for pgcli. I  got stuck trying to figure out a way to trigger completion popups on a timer which is why I'm here.

[2015-08-04 02:16] itsnotvalid commented on #86
Same bug for win64 (windows 8.1) python2.7 prompt_toolkit-0.45 when using mycli-1.2.

[code]

[2015-08-04 20:01] jonathanslenders opened #145 "Remove filter attribute of Window class."
Now we have a ``ConditionalContainer`` that takes care of the filtering.

[2015-08-08 13:46] #136 closed

[2015-08-08 13:47] jonathanslenders commented on #145
Done.

[2015-08-08 13:47] #145 closed

[2015-08-12 03:42] amjith opened #147 "Add left/right arrow to navigate across columns in multi-column completion menu"
Right now I have to press up/down arrow or use Tab key to cycle through the suggestions. But it will be more powerful if we let the user jump between columns using left/right arrow keys.

[2015-08-12 08:22] jonathanslenders commented on #147
See also: https://github.com/jonathanslenders/ptpython/issues/46

This is ambiguous, because left/right already means: "move the cursor". What I guess I will do is support left/right, but only after down has been pressed at least once to select a completion. If no completion has been selected, it will still move the cursor.

[2015-08-12 08:48] jonathanslenders commented on #86
@itsnotvalid Does this still happen? If so, is it reproducible, or just from time to time?
Can you tell me which version of Windows you have and which Python version (also 64 or 32bit)?

[2015-08-12 16:24] amjith commented on #147
Yes that would be ideal behavior.

While you're doing that I'm wondering if you can make the down/up arrows only work after the tab key is pressed? This will allow me to start typing a partial query and then press up arrow to navigate the history that match the partial query and not select something from the menu.

[2015-08-16 17:37] jonathanslenders opened #148 "Integration of finalterm/iterm2 escape sequences for shell integration."
Have a look at following escape sequences: before_prompt, after_prompt, before_output, after_output:

https://groups.google.com/forum/#!msg/iterm2-discuss/URKCBtS0228/rs5Ive4PCAAJ
https://iterm2.com/shell_integration.html
https://github.com/asmeurer/iterm2-tools/blob/master/iterm2_tools/shell_integration.py

See: https://github.com/ipython/ipython/issues/8724

[2015-08-18 09:48] #144 closed

[2015-08-20 17:02] jonathanslenders opened #149 "Have an option to always the reserve bottom lines of the terminal for the completion menu."
For ``prompt_toolkit.shortcuts.create_default_layout``, currently the input scrolls up when the completion menu is displayed. But only if no bottom toolbar is displayed.

The reason is that the printing the bottom toolbar requires the terminal to scroll up. But if there is no visible output below the actual input, we don't send anything to the renderer/output classes to make this happen.

cc: @mel

[2015-08-25 10:38] jonathanslenders commented on #149
Fixed: https://github.com/jonathanslenders/python-prompt-toolkit/commit/031edabbb719d11d70165f82a281aa421427e7df

[2015-08-25 10:38] #149 closed

[2015-08-26 12:28] melund commented on #149
@jonathanslenders . I tried to test this. It no longer scrolls up just as I hit tab, but the problem is still the same. Now scrolling just happens just when a command is executed. It can best be examplained with a video.

[![ScreenShot](https://cloud.githubusercontent.com/assets/1038978/9493195/4a4e4b40-4bfe-11e5-9332-10b131d448fd.png)](https://youtu.be/61tEgbNKTmM)

Btw. When I press tab at the s

[2015-08-26 22:40] ALSchwalm opened #150 "TypeError when running tutorial"
When running `sqlite-cli.py`, it fails with

    Traceback (most recent call last):
      File "sqlite-cli.py", line 55, in <module>
        main(db)
      File "sqlite-cli.py", line 29, in main
        history = History()
    TypeError: Can't instantiate abstract class History with abstract methods __getitem__, __len__, append

I'm running Python 3.4.3

[2015-08-27 23:14] dhesson commented on #150
Fails with the same error for Python 2.7.6 as well

[2015-09-04 17:28] #150 closed

[2015-09-04 17:30] #141 closed

[2015-09-04 17:55] jonathanslenders commented on #115
Hi @jucacrispim,

Sorry for the late reply. I think now I get what you mean. It's not a terminal bug.

The problem is that calling ``cli.run()`` will run the user interface until output is returned. (by pressing enter.) At that point it will write the whole interface to stdout and flush that. In the next iteration of the loop, a new interface is drawn.

What you probably have to do is pass a custo

[2015-09-04 20:02] jonathanslenders commented on #140
Hi @meeas,

Now it's implemented: https://github.com/jonathanslenders/python-prompt-toolkit/commit/18d85d5a236c7b434fddc8c21cfa0fd3113e0fcc
(Not yet on Pypi.)

You can provide a ``default="some text"`` to ``get_input``.

Hope that helps,
Jonathan

[2015-09-06 13:00] jonathanslenders opened #154 "Implement fish-style history completion."
It should be possible to have autocompletion like fish and bpython do:

cc: @amjith

[2015-09-10 16:19] kitterma opened #157 "Remove prompt_toolkit/libs"
Shipping this wcwidth copy doesn't seem necessary.  If it's not present, setuptools will install it from pypi.  For distros (like Debian in my case) we use a packaged copy of wcwidth and not the one included in prompt_toolkit.  I'm not submitted a pull request since it's just deleting the directory.

[2015-09-10 19:04] jonathanslenders commented on #157
That's right. Thanks for pointing out.

Done: https://github.com/jonathanslenders/python-prompt-toolkit/commit/2dcb5c69b871f1788ba750ac6778852ac2ad3460

[2015-09-10 19:04] #157 closed

[2015-09-16 08:50] dbolser-ebi opened #158 "ctrl-w ctrl-w then ctrl-y"
In emacs this will eat the last two words then paste them both. In mycli (which uses python-prompt-toolkit) it eats two words then pasts only the last one eaten.

[2015-09-16 18:01] jonathanslenders commented on #158
Ok, fixed in https://github.com/jonathanslenders/python-prompt-toolkit/commit/bfd9bb82956628a79c78a89c99cee97a118d8440

Thanks for reporting!

[2015-09-16 18:02] #158 closed

[2015-09-16 21:10] jonathanslenders commented on #154
Done.

[2015-09-16 21:10] #154 closed

[2015-09-17 08:50] dbolser-ebi commented on #158
Thanks dude!

On Wed, Sep 16, 2015 at 7:02 PM, Jonathan Slenders <notifications@github.com

[2015-09-21 20:42] jonathanslenders opened #161 "Add documentation for more complex layouts + tutorial."
cc: @matrixise @j-bennet

[2015-09-22 09:03] donnemartin opened #162 "How to best handle passing commands to the shell"
Hi Jonathan,

In the [SAWS](https://github.com/donnemartin/saws) project I have the following issue: https://github.com/donnemartin/saws/issues/17.

For shell execution, `subprocess` does the heavy lifting.  Piping of some commands work well, but not others.

I'm a little hesitant to go down the `pexpect` route for Windows compatibility reasons.  Hoping you might have some tips or could point me i

[2015-09-22 18:29] melund opened #163 "Reserving the bottom lines for completion in xonsh"
Hi

I think my reply got lost in a closed issue... So I am just creating a new issue instead.

@jonathanslenders . I tried to test this, your solution for reserving the lower lines for completion. It no longer scrolls up just as I hit tab, but the problem is still the same. Now scrolling just happens just when a command is executed. It can best be explained with a video.

[![ScreenShot](https://cl

[2015-09-22 19:43] donnemartin commented on #162
Figured it out, it was an error on my end with the pygments output highlighting.

[2015-09-22 19:43] #162 closed

[2015-09-23 07:26] jonathanslenders commented on #162
Glad you found it! Feel free to create new issues for all possible bugs that you find ;)

[2015-09-23 07:30] jonathanslenders commented on #163
Hi @melund,

This is certainly a bug. I think the scrolling only happens on Windows consoles, but it should be fix. I'll try to do it before the next release.

The second thing, that "tab" does both, is also a bug. I'll fix that.

Jonathan

[2015-09-23 16:18] jonathanslenders commented on #163
I think this commit should fix it: https://github.com/jonathanslenders/python-prompt-toolkit/commit/be4169f423270992ccd6477241bcd2c057956559

[2015-09-23 16:31] jonathanslenders commented on #163
The second issue (tab inserts whitespace) is an issue in Xonsh.

In ``xonsh/prompt_toolkit_key_bindings.py`` is a key binding defined for ``Tab`` which inserts the tab characters. This will happen always if there is only whitespace before the cursor at the current line.
This could be intended. (I don't know.)

However, 'tab' does not cause the completions to be shown. They are generated on any cha

[2015-09-23 19:00] jonathanslenders commented on #161
Hi @matrixise @j-bennet,

Have a look at this example:
https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/examples/full-screen-layout.py

It should be a starting point. I'm planning to write more extensive examples in the future.

Jonathan

[2015-09-23 19:07] matrixise commented on #161
Cool, I will read the code and try on my laptop.
Thanks

[2015-09-24 01:05] sac2171 commented on #162
Link for the curious:
https://github.com/donnemartin/saws/commit/0d7f59b197eda562673292959c3bc641de4462e7

[2015-09-25 17:18] scopatz commented on #163
Is there something that we need to do in xonsh for the tab-issue?

[2015-09-25 18:14] jonathanslenders commented on #163
Yes, given the custom key binding, I expect that the tab insert is correct, but the autocompletion menu should not be shown.

So, ``Completer.get_completions`` should not return anything when ``complete_event.text_inserted`` is True (That's when ``complete_event.completion_requested`` is False.) and the character before the cursor is whitespace. (Or a tab.) I can create a pull request for this if

[2015-09-25 18:41] scopatz commented on #163
A PR would be super helpful because I am pretty unfamiliar with the prompt-toolkit part of the code base.

[2015-09-25 18:42] scopatz commented on #163
:)

[2015-09-26 12:15] jonathanslenders opened #166 "Delete key doesn't work in Vi selection mode."

[2015-09-29 11:12] mdraw opened #168 "Mouse support breaks scrolling"
As I mentioned here https://github.com/scopatz/xonsh/pull/393#issuecomment-143664623, enabling the new mouse support makes scroll wheel scrolling impossible.

Code to reproduce:

    from prompt_toolkit.shortcuts import get_input
    get_input(mouse_support=True)

Execute and try using your scroll wheel in the terminal. Does it work on your system?

[2015-09-30 19:31] jonathanslenders commented on #166
Fixed in: https://github.com/jonathanslenders/python-prompt-toolkit/commit/30cd99f9cb50639e3b5576bb1417602ef88aa720

[2015-09-30 19:31] #166 closed

[2015-09-30 19:42] jonathanslenders commented on #168
Hi @mdraw,

It depends. By default, it's impossible to to both capture mouse events and support scrolling. (That would be ambiguous.) However, it's up to the terminal application to decide whether or not forward the scrolling event to the pseudo terminal. E.g. in tmux it's always possible (Press ``Ctrl-B`` followed by ``[``.) In some terminals, scrolling still works when shift or option is pressed

[2015-09-30 22:19] mdraw commented on #168
Thanks for the explanation! Good to know that tmux scrolling with `[` still works, I hadn't tried that.

Looks like this is a trade-off and a matter of personal preference, so I completely agree with you that it's a nice feature as long as it is optional and the potential problems with it are well-documented and easily visible by users.

[2015-09-30 22:19] #168 closed

[2015-10-04 18:45] jonathanslenders commented on #163
I just discovered that there is actually a bug in the ``completion_requested`` value. I will fix that and then make a pull request.

[2015-10-04 18:46] scopatz commented on #163
Thanks @jonathanslenders!

[2015-10-05 01:15] sac2171 opened #169 "Example refactor?"
Most of the examples have a line:
from prompt_toolkit import prompt

Was this interface renamed?
eg:

Traceback (most recent call last):
  File "<input>", line 1, in <module>
ImportError: cannot import name prompt

I'm using the newest toolkit version, aka prompt-toolkit (0.52)

[2015-10-05 06:21] jonathanslenders commented on #169
Hi @sac2171,

That is right. The function was renamed yesterday from ``get_input`` to ``prompt``, but this is not yet released on Pypi. I will probably release today, but in any case, the old name should keep working for a while.

Currently, I'm busy writing extensive Sphinx documentation, and I try to iron out inconsistencies and bad names.

[2015-10-05 20:20] jonathanslenders commented on #169
I released a new version to Pypi.

New documentation is work in progress (There are still many gaps, but we keep improving.)
http://python-prompt-toolkit.readthedocs.org/en/latest/

[2015-10-05 20:40] pombredanne opened #170 "Cannot get expanduser to work with PathCompleter"
Using this minimal snippet:
[code]
I fire the script and start typing `~/` and I get no completion at all...
Typing tab completes on the path of os.cwd alright.
I am getting something wrong to get exxpanduser to work?

I think this is missing a test and possibly something like that about there:
https://github.com/jonathanslenders/python-prompt-toolkit/blob/c7c306bc5ca57beff9a64150eb86b7d75453ab48/

[2015-10-05 20:48] pombredanne commented on #170
User expansion now works with the proposed pull request. Let me add some tests too.

[2015-10-07 19:17] jonathanslenders commented on #170
Hi @pombredanne That pull request has been merged. Can I close this?

[2015-10-07 19:17] #169 closed

[2015-10-07 19:49] pombredanne commented on #170
please to. It has been tested on my side on Mac, Linux and Windows.

[2015-10-07 19:49] #170 closed

[2015-10-07 19:50] pombredanne opened #173 "PathCompleter does not complete on paths with spaces"
Once you have selected a path segment with spaces, completion stops. The issue is about likely quoting and un-quoting the path (with os-specific rules) or about the fact I use a grammar-based completer.

I will come with tests first.

[2015-10-07 20:34] jonathanslenders commented on #173
We have two different completers:

- ``prompt_toolkit.contrib.completers.filesystem.PathCompleter``: This one expects the whole input to be a path. So a space in the input maps to a space in the path. A quote in the input maps to a quote in the path.
- ``prompt_toolkit.contrib.completers.system.SystemCompleter``: This one defines a regular grammar for a shell command. (An approximation.) This one

[2015-10-08 17:29] kdahlhaus commented on #86
Yes - still happens on Windows 7 Pro 64 bit,  Python 2.7.10 32 bit,

  10 ~/prog/ptpython: pip freeze
Pygments==2.0.2
docopt==0.6.2
jedi==0.9.0
prompt-toolkit==0.52
ptpython==0.24
six==1.10.0
wcwidth==0.1.5

 9 ~/prog/ptpython: ptpython
Traceback (most recent call last):
  File "C:\Python27\Lib\runpy.py", line 162, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "C:\Python27

[2015-10-11 12:16] jonathanslenders commented on #140
Closing this. (In the meantime, ``get_input`` has been renamed to ``prompt``. But it still takes the ``default`` argument.) Let me know whether there is something else.

[2015-10-11 12:16] #140 closed

[2015-10-15 20:49] Vvpzz opened #177 "python-prompt-toolkit git version installation fails"
Hello,

trying to install the git version fails with the following input :
bla@cpu:~$ pip3 install git+https://github.com/jonathanslenders/python-prompt-toolkit.git
Downloading/unpacking git+https://github.com/jonathanslenders/python-prompt-toolkit.git
  Cloning https://github.com/jonathanslenders/python-prompt-toolkit.git to /tmp/pip-cg2o9ss0-build
Cleaning up...
Exception:
Traceback (most recent

[2015-10-15 20:51] untitaker commented on #177
Nvm, sorry, it was an issue on my side.

[2015-10-18 22:17] donnemartin opened #178 "Fish style completion autosuggestion accept hotkey?"
The fish style completion is really cool!

I couldn't figure out how to accept the autosuggestion though, I tried the 'standard' fish hotkeys like ->, alt ->, and control-f but none of them did the trick.

Is this available?

[2015-10-18 22:23] donnemartin commented on #178
Nevermind it looks like you have to set `enable_auto_suggest_bindings=True` for the `KeyBindingManager`.

Really slick feature!

[2015-10-18 22:23] #178 closed

[2015-10-31 10:15] jlec opened #180 "Please ship tests to pypi"
Could you please include the tests in the pypi tarball so that downstream maintainers can run the testsuite during installation? thanks

[2015-11-01 05:09] htzh opened #181 "MSYS mintty support"
I use MSYS2/MinGW-Packages on Windows. I am trying to run pyvim and it failed with ```srWindow``` being None. If I make ```is_windows()``` return false it fails with termios not found error.  My system supports xterm emulation through mintty however mingw compiled Python does not support termios as it is a windows native app. Is termios essential to the vt100 mode?  Any idea on how this may be wor

[2015-11-01 06:55] htzh commented on #181
I got ConEmu to work with msys2 bash and pyvim appears to work great. Note that pyvim crashes with the pacman installed conemu but I believe that version has known issues. The binary distribution direct from the conemu site works normally.

I will close this issue now as there is a solution to my problem and it looks conemu may replace mintty one day for msys2 as well.

[2015-11-01 06:55] #181 closed

[2015-11-04 04:16] Carreau opened #182 "Float xcursor/ycursor"
I think I understand the usage of `(x|y)cursor` in Float that are after used [here](https://github.com/jonathanslenders/python-prompt-toolkit/blob/a864f6eff3a24f863e9b0cfae7ded42f5ba90c80/prompt_toolkit/layout/containers.py#L276-L381) in `write_to_screen `, do you think it could be a better/simpler idea to have a singleton `cursor_pos = object()` (or even a specific string `"cursor"`) that could c

[2015-11-06 06:15] danirus commented on #180
@jlec, thank you for catching it, I missed this one.
I'll do it as soon as I'm back to work next week.

[2015-11-06 08:07] jlec commented on #180
Thanks.

[2015-11-07 22:27] svetlyak40wt opened #185 "How to scroll one buffer's content while focus is in another buffer?"
Hi, I have a chat app where chat's stream is rendered into one buffer, and input taken from another
buffer at the bottom of the screen.

I'm wondering if there is a way to scroll big inactive buffer using some shortcuts?

[2015-11-08 18:42] danirus commented on #180
Sorry, I answer the wrong comment.
The decision on this belongs to Jonathan :)
Sorry @jonathanslenders.

[2015-11-08 20:40] jonathanslenders commented on #180
Hi all,

I will do this. If it's urgent, then a pull request is appreciated.

Thanks,
Jonathan

[2015-11-09 21:22] jonathanslenders commented on #185
Hi @svetlyak40wt,

Currently, there is no key binding that does this out of the box. But to give you some directions, the following could work:

Have a look at this file. There are ``scroll_forward`` and ``scroll_backward`` functions. As they are now, they operate on the buffer that has the focus. Replace ``event.cli.current_buffer``, by ``event.cli.buffer['your_buffer_name']`` to make them operat

[2015-11-10 01:10] trap15 opened #187 "Patched stdout does not allow ANSI escape codes"
Due to this line, ANSI escape codes are mangled and cannot be used by an application that also uses the patched stdout functionality. I was going to colorize messages from `logging` in my program with a formatter, but because of this it's not possible. I'm not even sure what the intent was here?

https://github.com/jonathanslenders/python-prompt-toolkit/blame/master/prompt_toolkit/terminal/vt100_o

[2015-11-10 06:16] svetlyak40wt commented on #185
Hi Jonathan!

Your advice is perfect, thank you! Now it works as desired.

[2015-11-10 06:16] #185 closed

[2015-11-11 16:08] jonathanslenders commented on #187
Hi @trap15,

Thanks for reporting this! This sounds like unintentional. I'll fix it.

Jonathan

[2015-11-13 23:33] justmytwospence opened #188 "history-search-backward"
Does prompt_toolkit have an equivalent functionality to readline's `history-search-backward` (and forward as well). This is one readline feature I can't live without (always kinda felt like it should be the default).

[2015-11-14 10:33] jonathanslenders commented on #188
Hi @justmytwospence,

I guess this is what the ``enable_history_search`` option does. Have a look at this example: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/examples/up-arrow-partial-string-matching.py

Maybe also have a look at this, related example: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/examples/auto-suggestion.py

Jonathan

[2015-11-17 09:10] jonathanslenders opened #190 "Implement bracketed paste mode."
See: https://github.com/dbcli/pgcli/issues/389#issuecomment-157313411

http://cirw.in/blog/bracketed-paste
neovim/neovim#937
http://www.xfree86.org/current/ctlseqs.html#Bracketed%20Paste%20Mode
As stated on the last url, to enable this mode you have to send special sequence to the terminal:

P s = 2 0 0 4 → Set bracketed paste mode.

[2015-11-18 18:09] davidszotten opened #192 "cursor shape (e.g. for vim mode)"
hey, thanks for an awesome library!

would it be possible to support cursor shapes, like https://hamberg.no/erlend/posts/2014-03-09-change-vim-cursor-in-iterm.html (or http://vim.wikia.com/wiki/Change_cursor_shape_in_different_modes)

[2015-11-18 19:21] jonathanslenders commented on #192
Hey @davidszotten,

That is probably possible, yes. Although I need to have a look how to implement this cleanly [1] and making sure that most terminals understand it. It's not a priority for me right now, but I'll put it on the to-do list.

Jonathan

[1] The tricky part is that the Vi state (insert/navigation) is currently not available from the CLI/renderer and the state is not able to access th

[2015-11-18 19:21] jonathanslenders commented on #190
Implemented.

[2015-11-18 19:21] #190 closed

[2015-11-22 05:45] svetlyak40wt commented on #187
Subscribed. I was trying to output colored ascii art image previews in my console chat. But it does not work under the prompt-toolkit. Waiting for the fix.

[2015-11-22 19:40] jonathanslenders commented on #187
Hi @svetlyak40wt

I hope to find a bit of time for this during the next week, and hopefully then I can do a new release as well. (The fix is easy, but I have to do some testing.)

Cheers,
Jonathan

[2015-11-29 19:40] jonathanslenders commented on #187
Hi all, I added a "raw" parameter to stdout_proxy:

https://github.com/jonathanslenders/python-prompt-toolkit/commit/1b4e869837ea8e34cee3279939cfc31e8e1d2e4c

A new release will follow soon.

[2015-11-29 21:56] svetlyak40wt commented on #187
Nice!

Jonathan, how to use this stdout proxy, if I only want to output buffer's content into the Window?
This is how I create a window:
[code]
And here is a buffer itself:
[code]
I pass it as ```buffers={'chat_content': chat_content_buffer},``` to the application.

[2015-11-29 22:11] jonathanslenders commented on #187
Hi @svetlyak40wt,

I'm not sure that I understand it correctly. The stdout_proxy is meant to be used as a stdout file object which when written to, will print above the prompt. So, this is for non-fullscreen applications in particular.  You will have the input prompt at the bottom and everything written to the stdout_proxy will be printed above, filling the scrollback buffer of the terminal.

For

[2015-11-29 22:23] svetlyak40wt commented on #187
I'm making a full screen app, with chats list on the left, main window and a separate text input at the bottom. Very much like Slack.

Chat's content is received from the network and rendered into the Buffer. I just concatenate all messages into a one big text and do ```chat_content_buffer.reset(Document(text))``` each time when new message is received or posted.

And I want to output a colored an

[2015-11-29 22:47] jonathanslenders commented on #187
Ok, this makes sense. But stdout_proxy however is not meant for this case.

About the ansii image. (That's ansi ascii art, I suppose.) The prompt_toolkit render engine is platform independent, and because of that, internally it doesn't work with ANSI escape sequences. (That doesn't work on Windows.)  Because of that, I choose to represent text as a list of (Token, text) tuples, where Token is usua

[2015-11-29 23:33] svetlyak40wt commented on #187
I'm using slightly modified code from https://github.com/hit9/img2txt. It takes image data and returns a string like this:
[code]

What is the best way to output this data in a fullscreen app using prompt toolkit?
I suppose, the only way is to generate a huge color theme including all combinations of foreground and background colors, and transform image data into a (Token, text) pairs. Is there a

[2015-11-30 15:31] jonathanslenders commented on #187
In the very latest version, the color scheme does not have to be a Pygments color scheme. It should be a Style class, like this:
https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/styles.py#L56
It should implement ``get_attrs_for_token``. So, it can be dynamic. The Tokens also don't have to be Pygments tokens, just any tuple is a valid token.

Now, honestly, I sho

[2015-12-02 12:44] jakubjedelsky opened #194 "[question] Backwards-incompatible changes"
Hi,

I would like to create a rpm package for Fedora/EPEL as a dependency for some other packages, but it will be quite difficult because of a lot of backwards-incompatible changes. It's well documented (thanks for it), but don't you want to deliver more bugfixes/improvements without these incompatibilities? It's very hard and uncomfortable to use newer version when some eg. class is just renamed.

[2015-12-02 20:06] jonathanslenders commented on #194
Hi @jakubjedelsky,

This is possible, yes. But there is a reason I choose not to do it right now.

The prompt_toolkit library is still very young (I think it started about two years ago). In many ways, the design has been changed over time, in order to make it as good as possible. Currently, I consider some of APIs unstable, because new use cases are starting to emerge and we want to be as flexibl

[2015-12-02 21:13] jakubjedelsky commented on #194
Hi Jonathan,

thanks for reply. I understand you, but your library is already used by a few projects and these can't be used together right now. I checked projects mentioned in [readme](https://github.com/jonathanslenders/python-prompt-toolkit#projects-using-prompt-toolkit) and found, that I need 5 different versions of prompt_toolkit to use it (doesn't matter if pip or rpm/deb).

Well, I'll try t

[2015-12-02 23:11] scopatz opened #195 "customize amount of reserved space"
Hi! It seems like using prompt-toolkit with xonsh reserves 8 lines at the bottom minimum. See https://github.com/jonathanslenders/python-prompt-toolkit/blob/9e96e1bf815b07edb5c266bf2ba9ae1d6e350746/prompt_toolkit/shortcuts.py#L232-L238 This is far too large to be usable for me.  Is there any way that this could be customizable in some way? I'd *really* appreciate it...

See the xonsh list for more

[2015-12-03 08:28] kitterma commented on #194
Speaking as one of the prompt-toolkit maintainers for Debian (where we packaged it because applications that were already packaged started using it), I share this concern.  I started looking at updating to the newest release in Debian and got depressed at the number of incompatibilities I needed to evaluate for impact on other packages.

In previous versions you've maintained the old names while a

[2015-12-03 11:31] jonathanslenders commented on #194
Hi @kitterma,
Thanks for sharing this concern! I will take this seriously.
Jonathan

[2015-12-04 16:07] scopatz commented on #195
ping, any ideas?

[2015-12-05 16:29] jonathanslenders commented on #195
Hi @scopatz,

Yes, that should be possible. I will make it configurable.
(Sorry for the delay, I'm just coming back after being abroad for a week.)

[2015-12-05 19:48] scopatz commented on #195
Thanks @jonathanslenders! Sorry about being impatient :). I am starting to use ptk in xonsh myself regularly and so my proclivities are coming to the fore.

[2015-12-07 16:46] scopatz opened #197 "Conda package available on conda-forge"
As per conda-forge/staged-recipes#31, a prompt_toolkit conda package is available via conda-forge.  To install, please use.

[code]

Might be nice if this made it into the docs somehow. Thanks!

[2015-12-07 19:57] jonathanslenders commented on #197
Added to the readme: https://github.com/jonathanslenders/python-prompt-toolkit/commit/1d1ebc0bd6d06f89de282ed87c6f4a75ab9d679c

There is also this pull request: https://github.com/jonathanslenders/python-prompt-toolkit/pull/196
Should I merge that or not? I have no idea whether or not other Python packages add the conda build recipes to their repository. (I'm not sure it makes sense to have build

[2015-12-07 20:08] scopatz commented on #197
Thanks @jonathanslenders!

For what it is worth, a lot of packages (and least in the scientific python ecosystem) have started including the conda recipes in the source repo as a way for people to build the conda package from the source code itself, rather than some external place.  For what it is worth, I also think that @melud's PR looks good.

[2015-12-10 21:06] jonathanslenders commented on #195
Just a short message to say that I have not forgotten about this. By the end of this month I will have two weeks off and that should give me some time to do more development again.

[2015-12-10 22:45] scopatz commented on #195
Thanks @jonathanslenders!

[2015-12-20 07:38] bmer commented on #123
Hi @jonathanslenders -- this also needs to be changed in the "Getting Started" section in README.rst

[2015-12-20 07:40] bmer commented on #86
I get the bug with the simplest example:

[code]
On Windows 10, with the latest Anaconda (Python 2.7) installed (I installed `python-prompt-toolkit` through the anaconda.org repository link).

[2015-12-20 14:03] lebe-dev commented on #86
Windows 10 64bit
Python 3.4.3 x86

[2015-12-21 12:47] stonebig opened #201 "readme link to "http://gooseberrycreative.com/cmder/" is 404"

[2015-12-22 03:46] scopatz opened #202 "No way to asynchronously load history with prompt()"
I am opening this PR in light of scopatz/xonsh#578.  Basically, if history takes a long time to load, it is beneficial to do so in a background thread and return the prompt as soon as possible.  However, because there is no access to the buffer object and [the buffer copies the history](https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/buffer.py#L268), there is n

[2015-12-22 10:05] jonathanslenders commented on #202
Thanks for this request. It definitely makes sense. I will have a look at how to approach it. Asynchronous should be possible.

But how is it possible that it takes so much time? The history should be huge! I mean,... processing a million lines of history should be possible in a fraction of a second. (I think.)

[2015-12-22 17:43] scopatz commented on #202
Well, xonsh has a [rich history object](http://xonsh.org/tutorial_hist.html) that stores each session in its own file. Assembling and aggregating input history is a more length computation.  Its kinda like if history was stored in a database somewhere. It might take longer to communicate with the server than you want to wait for the prompt to show up.

[2015-12-22 19:20] redshodan commented on #195
+1 on making it configurable. This might be out of scope of this ehancement request, but would it be possible to have the completion menu be displayed above the prompt line in a sort of "pop-up" menu style? I'd rather not lose any space at all to it. I'm sure that would be a bit more work than just making the reserved space configurable. :)

[2015-12-23 10:36] jonathanslenders commented on #195
I'd very much like to show it always above the prompt. However that's very difficult, because we have to redraw the text underneath at the point where we hide the menu. Usually we cannot be sure what was displayed there, because the output could come from anywhere. It is also not possible to ask the terminal to report the visible text.

However, one (very complex) solution (which only works on pos

[2015-12-23 17:15] redshodan commented on #195
I had kind of assumed PT was already doing something like that. One option might be looking at the MOSH code. They fully emulate a unicode vt1XY (forget which exact one) terminal so they can do various tricks. Their docs have comments about running into various TTY bugs that they had to fix. That's all C code, and I don't know if its acceptible to pull in, or worth doing the effort to replicate it

[2015-12-25 04:34] blark opened #203 "Completer example"
It would be really nice to have a basic and well documented completer example. I hacked something together from the other apps around based on prompt toolkit, it's here: https://gist.github.com/blark/46d6befc51909c7db4e0 But this only completes a list of words.

What I'm really interested in is context dependent recommendations... changing the recommendation based on the last word typed. I could p

[2015-12-30 10:31] scopatz commented on #195
I have started to try to work around this in xonsh, see the [`ptk-prompt` branch](https://github.com/scopatz/xonsh/tree/ptk-prompt). However, even though I figure out how to change the amount of reserved space, the tab completion menu won't pop-up if the amount of reserved space is too low (say min=0 or 1).  Is there any way to do this? Or alternatively, is there any way for the menu to appear abo

[2015-12-30 21:16] jonathanslenders commented on #195
The space for the menu is now configurable: https://github.com/jonathanslenders/python-prompt-toolkit/commit/f3aeb272956110aacf0a1db1426118b3cb9f2ffd
(Still needs to be released, but I'll probably push a new release in January, after some testing.)

Prompt_toolkit does not simulate a  vt100 terminal, but a future version could probably do that on Posix platforms. I'm investigating that.

[2015-12-30 21:36] scopatz commented on #195
Thanks @jonathanslenders!

Forgive my ignorance, but I am not sure how that will help. Is this related to the positioning issues?

[2015-12-30 21:56] jonathanslenders commented on #195
Yes. If we are able to fully simulate a vt100 terminal, then we can build a more complex layout that covers the full screen (but without going to the alternate screen buffer). Something like this.
[code]
The input area is the command line, like it looks right now. But everything above is a "transparent" vt100 emulator. In linux/unix, we can create a custom pty (by calling openpty). Then we could a

[2015-12-31 00:26] scopatz commented on #195
Ahh thanks for the detailed explanation @jonathanslenders. As far as xonsh is concerned, no need to go through such herculean efforts. We generally want things to work the same on all platforms so a lack of windows availability for this would not help us so much :).

Frankly, this kind of thing seems to be what ncurses / urwid is for.

[2015-12-31 00:29] scopatz commented on #195
Also, I am happy to close this, if you are.

[2015-12-31 05:37] scopatz commented on #195
For what it is worth, I figured out how to get prompt-toolkit to resize the reserved space on a tab-event. I'll open a new issue for this, though.

[2015-12-31 05:43] scopatz opened #204 "Dynamically resizing windows requires private interface, please make public"
In scopatz/xonsh#592, we want the amount of reserved space at the bottom of the prompt to be zero unless a tab event generates a menu of completion options. This can be done by swapping out the `_height` attribute of a `Window` instance.  `_height` is a function that returns a `LayoutDimension`. This works great.  The only thing that has me worried is that this is private interface.  We do this sw

[2015-12-31 05:44] scopatz commented on #204
This is the relevant part of the code: https://github.com/scopatz/xonsh/pull/592/files#diff-6071025be8bfb464ee8e6476e1dd69b7R46

[2015-12-31 05:52] scopatz commented on #202
So this can be accomplished by calling `Buffer.reset()` method in the asynchronous loader, as see in scopatz/xonsh#593 [on this line](https://github.com/scopatz/xonsh/pull/593/files#diff-97766854f37c68cd75347652fb11e8c4R68).

The problem is getting access to the buffer in the first place, which is stored on the application which is itself on the cli.  The approach xonsh takes is to make significan

[2015-12-31 09:33] scopatz opened #205 "version not available at run time"
it would be nice to have a `prompt_toolkit.__version__` variable.

[2015-12-31 11:22] jonathanslenders commented on #205
I'll make it available. Thanks for noticing!

[2015-12-31 11:30] jonathanslenders commented on #204
Hi @scopatz,

I'm not sure what the reasoning was. Probably it can be called ``get_width/get_height`` and made public.

But I guess the intention was that it should not be modified. (However, it doesn't hurt if you do.) I would encourage people to pass in a ``get_width/get_height`` method to ``Window.__init__``, if a window size has to change according to conditions. That callable receives a "cli"

[2015-12-31 11:33] jonathanslenders commented on #202
I will think about this. Not sure right now. From ``prompt_toolkit.shortcuts.prompt``, I could probably make the CLI available through a callback.

[2015-12-31 12:31] jonathanslenders commented on #203
I'll put it on my to-do list. Thank for the request!

[2015-12-31 12:32] #197 closed

[2015-12-31 18:13] scopatz commented on #204
Thanks @jonathanslenders!

[2016-01-01 19:45] blark commented on #203
Thank you so much. I think I figured it it, I updated my gist (https://gist.github.com/blark/46d6befc51909c7db4e0) it now does context-dependent completions, but I'm probably doing it poorly. I would love to hear your feedback... Or if I'm not doing it poorly I can add it as an example and send a pull request :)

[2016-01-02 08:44] evanunderscore opened #206 "Completion doesn't insert common prefix"
When running `examples/autocompletion.py`, if I attempt to complete an animal starting with 't', the options are 'turkey' and 'turtle'. In this instance, I would expect 'tur' to be filled in before I start tabbing through the options.

It's unclear to me what the intended behavior of this is. There appears to be code to do this in interface.py (`insert_common_part`), and it looks like this variabl

[2016-01-02 12:44] jonathanslenders opened #207 "Implement named yank buffers (For Vi mode.)"
See this issue: https://github.com/jonathanslenders/pyvim/issues/38

Quoting @lunemec:

Named buffers are not working: shortcuts "3y  - yank selected into buffer number 3 .. instead of numbers it can contain also letters "ay (yank buffer a). You paste this with "3p or "ap.
[code]

[2016-01-02 19:28] jonathanslenders commented on #205
Done: https://github.com/jonathanslenders/python-prompt-toolkit/commit/986a6c3a9f48cdc714e683a36b82fcc5123b1fe7

[2016-01-02 19:28] #205 closed

[2016-01-02 19:29] scopatz commented on #205
Thanks again!

[2016-01-03 17:35] esheldon opened #208 "`control-[` does not invoke escape"
The `control-[` sequence does not seem to map to escape, as it normally does.

The motivation for this is to minimize movement of the hands from the home
row.  I map caps-lock to control and then use `control-[` instead of hitting
escape to switch vi mode.

I think this is standard behavior, at least it is supported in all the
terminal apps I normally use.

Note I was actually testing ptpython whe

[2016-01-03 17:58] esheldon commented on #208
never mind, bug on my end

[2016-01-03 17:58] #208 closed

[2016-01-03 18:39] jonathanslenders commented on #208
Don't worry. Glad you found it!

[2016-01-06 23:17] jonathanslenders commented on #207
Implemented in: https://github.com/jonathanslenders/python-prompt-toolkit/commit/e60cd1f2b78b37643885ccead07e4449a8701808
(Maybe not yet complete.)

This also needs some more testing.

[2016-01-06 23:30] scopatz opened #209 "Multiline prompt"
I couldn't figure this out from the docs or the source code, so there may not currently be a way to do this. Right now there doesn't seem to be a way to have prompt-toolkit issue prompts on any line but the first.  For example, in xonsh, we see the current behaviour with scopatz/xonsh#601

[code]

However, what I would like to see is something like the following:

[code]

I think that this is more

[2016-01-10 22:41] scopatz opened #213 "Cursor misaligned in multiline mode when terminal width less than prompt len"
The cursor in multiline mode starts doing weird things if the prompt text is too large for the terminal size.  For example, for a small terminal, just cd'ing into a directory will place the cursor at the end of the second line as seen by `<C>` below.

[code]

Then if you start typing, it will overwrite the first line:

[code]

Resizing the terminal so that the prompt fits on one line, fixes the pr

[2016-01-10 22:43] scopatz commented on #213
I believe that @adqm and @gforsyth first noticed this issue.

[2016-01-13 22:42] mixmastamyk opened #214 "Terminal colors not reset"
Hi, awesome toolkit !!!!

Having a problem on Windows though, in just the hello world app + a while loop.  The prompt text gets set to bold.  After a few keystrokes everything gets set to bold.  Exiting does not clear the bold setting either.  So the whole command prompt window has had its settings changed permanently.

To get things back to normal, I need to run the "color" command in the command

[2016-01-13 23:11] jonathanslenders commented on #214
Hi @mixmastamyk,
This looks indeed like a bug. I'll try to investigate and fix before the next release.
Jonathan

[2016-01-15 23:37] jonathanslenders commented on #209
Hi @scopatz,

This has been implemented in one of the last commits today.
Have a look at this example: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/examples/get-multiline-input.py#L6

Please let me know if this doesn't work for you.

[2016-01-15 23:50] jonathanslenders commented on #214
Hi @mixmastamyk,
Could you send me some example code? I have trouble reproducing this issue.

[2016-01-15 23:52] jonathanslenders commented on #195
Ok, I'm closing this one. Don't hesitate to open a new issue for other things.

[2016-01-15 23:52] #195 closed

[2016-01-16 11:44] evanunderscore commented on #214
I've noticed that the examples (specifically, I ran autocompletion.py with no modification) leave my console text bright white instead of the usual grey. I'm using Windows 10, Python 2.7.11.

[2016-01-17 02:38] mixmastamyk commented on #214
Hi, is the info from evanunderscore good enough?  I don't believe I did anything but run hello world under a while loop, though it has been a few days.

[2016-01-17 13:12] evanunderscore commented on #206
I just took another look at this. The problem seems to be that pushing `t` immediately brings up the completions menu, so the first tab starts cycling through it. If I push another letter then backspace, the completion box goes away, and pushing tab fills in the common prefix as expected (but again shows the completion box immediately, counter to the description in the module docstring).

[2016-01-18 21:00] scopatz commented on #195
Thanks again @jonathanslenders!

[2016-01-18 21:15] scopatz commented on #209
Thanks a million @jonathanslenders, this seems like it should work.  Any idea when this will make it into a release? I am hesitant to add code to xonsh master that hasn't been released by prompt-toolkit.

[2016-01-18 22:02] jonathanslenders commented on #209
Hi @scopatz,

I will first try to create pull requests for all prompt-toolkit projects that are still using older versions to upgrade to the latest prompt-toolkit. (These are only a few.) Then I'll see whether the IPython guys have any special requirements. And then I'll do a new release. (Just trying to avoid releasing too quick and often.)

Jonathan

[2016-01-18 22:03] jonathanslenders commented on #188
Closing this. Please reopen if you have other questions.

[2016-01-18 22:03] #188 closed

[2016-01-18 22:05] scopatz commented on #209
Sure thing! Is there a mailing list or anything where these get announced on?  They just sort of seem to happen unless you are watching the repo (which I am not).

[2016-01-18 22:15] jonathanslenders commented on #209
No, right now we don't have a mailing list yet. (I will think about it, but often my mailbox is flooded enough that I easily forget to answer e-mails.)

[2016-01-18 22:17] scopatz commented on #209
yeah.... I really hate email myself.  That is one of the reasons why I don't want to watch this repo.  It would be *that* many more emails.

[2016-01-19 00:01] kitterma commented on #209
For all the users of prompt-tookit that are in Debian, mycli, pgcli, and softlayer-python, they should work fine with the current release (due to the backward compatibility changes of mine you merged) - unless you added more changes that will break backward compatibility.  For those at least there's no need to do anything to have them update (and softlayer-python requires you to sign a CLA if you'

[2016-01-19 14:20] takluyver opened #220 "Error on startup in git bash on Windows"
I see this error setting up prompt_toolkit inside git-bash on Windows. It appears that git-bash can handle at least some ansi escape sequences (I just tried changing colour manually), so maybe if we detect this, we can try treating it like a Unix terminal. It may not handle enough of the escapes, though.

I'm happy enough saying we don't support git-bash - the current version of IPython doesn't re

[2016-01-20 18:09] jonathanslenders commented on #220
Hi Thomas,

Git-windows is a special environment, because it usen Mingw/Cygwin to emulate the Posix API. That means that it's not a real Windows console. The application itself emulates a vt100 terminal.

It is possible to run native Windows applications in it, but they won't see a real console. python.exe for instance also blocks on start-up. Running the Windows build of Python in here means that

[2016-01-20 18:14] takluyver commented on #220
Thanks! I've come across winpty before from the other side - we have a JS terminal emulator in the notebook web interface, and people wanted it to work on Windows - but paled at the installation instructions.

So I think we'll say git bash is unsupported, and let the braver souls experiment with cygwin if they choose to.

[2016-01-20 18:14] #220 closed

[2016-01-20 18:39] jonathanslenders commented on #201
This was fixed in: https://github.com/jonathanslenders/python-prompt-toolkit/commit/22bf6b6dd36f2e369c4a8d1e451161085446e673

[2016-01-20 18:39] #201 closed

[2016-01-20 18:40] jonathanslenders commented on #177
I'm closing this, because we have done a new release to Pypi in the meantime. Feel free to reopen if this is still an issue.

[2016-01-20 18:40] #177 closed

[2016-01-22 18:18] jonathanslenders opened #221 "Reverse colors for selection."
Give ``style_from_dict`` an option to reverse the colors for a selection.

Probably, to be the most flexible. We want a ``Highlighter`` (the ``SelectionHighlighter``) to not just replace a token to a fixed value, like ``Token.SelectedText``, but instead prefix the existing token with the given one:  ``Token.SelectedText.Name.Whatever``.

[2016-01-22 19:05] jonathanslenders opened #222 "Refactor layout implementation for handling big inputs. (>thousand of input lines.)"
Right now, the BufferControl becomes slow when the input exceeds a few thousand lines. The reason for this is that on every key press, a whole virtual window (``Screen``) is rebuild, that contains all the lines of the document, wrapped and processed (by input processors). This is slow and unnecessary. We only display a small portion of this screen, so it doesn't make sense wasting CPU highlighting

[2016-01-22 22:27] mixmastamyk commented on #214
Here is a screenshot:
![screenshot](https://cloud.githubusercontent.com/assets/767039/12524749/2aab0d38-c114-11e5-9543-9f445261ba6a.png)

[2016-01-22 22:38] mixmastamyk opened #223 "enable_history_search conflicts with completion"
Hi, when I enable this feature, it works, but then my completer stops working.  I'd like to use both of them:

    enable_history_search=True,

I'm using the completer from:

    /examples/regular-language.py

If you happen to read this, is there an example to do a non-regular language? ;)

[2016-01-22 22:43] mixmastamyk commented on #223
Btw, latest pptk on Windows 7 and Linux (Wily).

[2016-01-22 22:45] mixmastamyk opened #224 "mouse_support prevents scrollwheel from working on Linux"
Awesome toolkit !!!

Can't use the scrollwheel on my mouse after setting this on Linux:

    mouse_support=True

Latest pptk on Ubuntu Wily.

[2016-01-24 13:36] jonathanslenders commented on #214
Thank you for the screenshots, that is very helpful!
Currently I'm still unable to reproduce it. My Windows machine is Windows 7. ``ver`` returns the same Version info as yours. But for some reason I don't get anything in bold.
I'll try to get a Windows 10 machine asap to do some testing there.

[2016-01-24 15:51] jonathanslenders commented on #214
The cause could be that "15" is not the right default color. We call the following line when leaving the prompt:

https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/terminal/win32_output.py#L166

Would it work if that 15 is replaced by 7? (That is low intensity white.)

[2016-01-24 21:26] jonathanslenders opened #225 "Use "from six.moves import range" everywhere."

[2016-01-25 07:03] evanunderscore commented on #214
That would solve the issue for me.

Alternatively you could save off the colors on startup and restore them to whatever they were on exit, but that's probably more trouble than it's worth.

[2016-01-25 16:50] mixmastamyk commented on #214
Hmm, saving and restoring is probably the correct solution.  The reason is that some people change the color of their command-prompt permanently from grey on black, and if you hard-code the color then it will leave the console in an odd state at exit.

I think ansi codes have the concept of default color, but if win-api doesn't then the above sounds reasonable.

[2016-01-25 16:52] mixmastamyk commented on #214
Forgot to mention that yes, grey is better than white in the common case, if you are pressed for time.

[2016-01-25 17:05] nagya11 commented on #214
Hmm, saving and restoring is probably the ???

[2016-01-25 19:11] jonathanslenders commented on #214
Let's go for saving and restoring, that is clearly better. :-)

[2016-01-26 00:33] evanunderscore commented on #214
It looks like colorama takes the save and restore approach: https://github.com/tartley/colorama/blob/master/colorama/winterm.py

[2016-01-27 16:47] jonathanslenders commented on #224
Hi @mixmastamyk,
This depends on the terminal. Could you try holding the shift key while scrolling? It could be that the terminal doesn't send scroll events to the application running in the terminal if shift was pressed.

Jonathan

[2016-01-27 16:52] jonathanslenders commented on #214
Thanks for the link to colorama! I'm going to take that approach.

[2016-01-27 18:54] mixmastamyk commented on #224
Hmm, nope, shift does allow pasting etc, but scroll-wheel is not working with or without the shift key.  It is mate (gnome2) terminal, btw.

I've disabled the feature for now since the benefits are not huge and the drawbacks significant.  Perhaps it is just the nature of mouse support, if I had a menu or something I might re-enable.

[2016-01-27 21:40] jonathanslenders commented on #214
Hi everyone,

The following change should probably fix this issue: https://github.com/jonathanslenders/python-prompt-toolkit/commit/36114a366b8aedfc94cc5626830a0836b00d78b4

Could you please see whether it works now?
Jonathan

[2016-01-28 05:16] mixmastamyk commented on #214
Yes, I'll try tomorrow--getting late tonight unfortunately.

[2016-01-28 08:04] evanunderscore commented on #214
Working for me. Thanks!

[2016-01-28 18:36] mixmastamyk commented on #214
Yes, fixes the main issue, leaving the console in a different state. Thank you.

There are some small nitpicks remaining. I'm not sure they matter much, but here goes.  On Linux the default prompt is bold (white), while the input text typed is normal (grey).  But on Windows, both the prompt and the text input are bold (white).

Also the fallback is still color 15, but I believe the command prompt

[2016-01-28 19:48] jonathanslenders commented on #214
Ok, thanks for the feedback! I'll keep this issue open, until those small bugs are fixed as well.

(For some reason, I have 15 as default. But I don't remember I ever changed anything.)

[2016-01-30 13:07] stweller opened #230 "Slight documentation error"
In the example about creating a custom style (section "Colors") on readthedocs the import for "Token" is missing. Not super important but it is nice if the code snippets are copy-and-pasteable into a python file and just work.

[2016-01-30 13:08] stweller commented on #230
Oh, and PygmentsLexer and HtmlLexer are also missing.

[2016-01-30 13:21] jonathanslenders commented on #230
Ok, thanks for pointing out! Feel free to create a pull request for this. If not, I'll fix it later on.

[2016-01-30 13:28] stweller commented on #230
I just found another similar error while going through the docs and playing around. I will collect everything I find and create a PR later.

[2016-01-30 14:55] 38elements opened #232 "Use style_from_pygments"
`PygmentsStyle` is [deprecated](https://github.com/jonathanslenders/python-prompt-toolkit/blob/d4a73d0e13fdc97480ee780e4d90743825bbebc8/prompt_toolkit/styles/from_pygments.py#L55).

`PygmentsStyle` exists in the following file.

[examples/bottom-toolbar.py](https://github.com/jonathanslenders/python-prompt-toolkit/blob/c7e7160ceb7a682771f2132478a30e6256d707b6/examples/bottom-toolbar.py#L11)
[examp

[2016-01-31 12:58] jonathanslenders commented on #232
Thank you!

[2016-02-08 15:17] fbenmena opened #234 "suggestion about alternative input/output layout"
In most examples, the REPL loop works in a single window.  Each input is immediately
followed by the output of the concerned result.  The prompt_toolkit may provide a way
in which the input and the output appear in different buffers.  A typical approach may
follow the layout provided in the 'full-screen-layout' example.  For instance on the left
pane, one may have the input while the buffer on the

[2016-02-08 20:26] jonathanslenders commented on #234
Hi @fbenmena,

This is possible, but not very easy. It requires a custom layout, and the event loop needs to run during the lifetime of the whole application. (To make sure everything stays responsive.)
Other people have asked for something similar, so now I consider making a simple example.

However, I have a few other priorities first, but I'll keep this in mind.
(In the future, it should defini

[2016-02-09 00:15] abarnert commented on #224
I don't think this has anything to do with which terminal you're using. I see the same thing with gnome-terminal on linux, iTerm2 on Mac, and rxvt on linux talking to X server on Mac--the terminal only seems to get mouse-2 and mouse-3 events; everything else gets eaten by prompt-toolkit.

It would be really nice if I could use mouse clicks to move the cursor in ptpython, while still being able to

[2016-02-09 08:53] fbenmena commented on #234
Hi Jonathan,

Keep in mind that I consider your work as a awesome piece of
software.  I'm confident about some missing features or some
code refactoring coming on their time.  It's very pleasant for
me, as a novice developer, to follow the line spotted with
your commits.

Keep the good work and take care,
Farès

----- Mail original -----
De: "Jonathan Slenders" <notifications@github.com>
À: "jonat

[2016-02-09 17:14] riverar opened #235 "prompt, with completer, causes line state Wonkiness on Windows 10 when scroll buffer isn't empty"
Isn't completely clear if this is a prompt issue or not, but here's the repro:

1. Fire up command prompt, ensure it's using the new conhost (Use legacy console not selected).
2. Insert a bunch of stuff into the scroll buffer and ensure window scrolls a bit down before continuing
3. Using the toolkit API, prompt for input with a completer attached
4. Specify input
5. Note line state starts to get

[2016-02-09 18:45] jonathanslenders commented on #235
Thank you @riverar. The sample code is very helpful!
I'll try to reproduce/debug/fix asap.
(Sometimes, the windows console is tricky to get right, but we'll manage it.)

[2016-02-09 19:24] jonathanslenders opened #236 "Add mouse support for Window margins."
E.g. implement mouse clicks for scrollbars.

[2016-02-12 05:29] scopatz opened #237 "right prompt"
This is a feature request that we got over at scopatz/xonsh#674 that I thought I would pass along.  Apparently, zsh and others have an "RPROMPT" or right prompt ability.  I realize that this may be out of scope, but we'd certainly use it in xonsh if PTK supported it.  Maybe @arkhan can add more?

[2016-02-12 09:49] jonathanslenders commented on #237
Hi @scopatz, @arkhan,

Prompt-toolkit doesn't support this RPROMPT yet, but we can definitely implement that. It's an interesting feature.

I just tried RPROMPT in zsh, and it seems that it is hidden when the text flows over it. Is that what you would expect?

We can probably implement that in the default layout from prompt_toolkit.shortcuts by adding a right aligned float. One that is only displa

[2016-02-12 16:51] scopatz commented on #237
Hi @jonathanslenders RPROPMT is totally new to me.  The first I have heard of it has been from @arkhan.  I agree that the implementation is way easier if you allow it to be overwritten when the input becomes too long. Is this what you were expecting @arkhan?

[2016-02-12 17:07] arkhan commented on #237
if the idea is to have separate prompt, left and right

[2016-02-13 12:34] jonathanslenders opened #239 "Support bracketed paste on ConEmu."
See: https://github.com/jonathanslenders/python-prompt-toolkit/pull/227

Right now, this is disabled, but ConEmu supports it.

[2016-02-15 20:54] jonathanslenders opened #241 "Draw more efficiently on Windows consoles."
Right now, the output on a Windows console is slow, compared to what is possible. This is caused because we draw only one character at a time: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/terminal/win32_output.py#L254

A better way could be to use the ``WriteConsoleOutput`` win32 call which can write a lot of output in one go. This seems to be how Far manage

[2016-02-15 21:25] jonathanslenders commented on #237
Hi all, rprompt has been added to prompt-toolkit. It's commited to the master branch.
Can you have a look at this commit https://github.com/jonathanslenders/python-prompt-toolkit/commit/a666010fc4bfa302e5f34cab868a48869ba6bc6d and see whether that is what you expect?

[2016-02-15 21:33] arkhan commented on #237
cool, but how to instegrate in xonsh...?

[2016-02-15 21:47] jonathanslenders commented on #232
Fixed in: https://github.com/jonathanslenders/python-prompt-toolkit/commit/60fed1105392cd4ac4588406b19e8b1f52c1ea21  (I'm not sure whether or not we still need style_from_pygments, just ``style_from_dict`` looks enough for about every situation. ``style_from_pygments`` is only for the case where you'd like to merge a Pygments dictionary and custom styling.)

[2016-02-15 21:48] jonathanslenders commented on #230
This was merged from that pull request, so I guess we can close it. (Feel free to reopen if not.)

[2016-02-15 21:48] #230 closed

[2016-02-15 22:21] scopatz commented on #237
Thanks @jonathanslenders!  @arkhan this is something that will need to be changed in `xonsh.ptk.shell` Please feel free to open up a PR to xonsh for this, otherwise it will have to wait for someone else to get to it.  Thanks!

[2016-02-15 22:29] 38elements commented on #232
Thank you.

[2016-02-15 22:29] #232 closed

[2016-02-19 19:27] gforsyth opened #245 "bug in autosuggest text in multiline"
`git bisect` points to 1a55699 as the culprit for this.  A minor display issue that I ran across in `xonsh`

I'm on `xonsh` master for both of these.
With `prompt_toolkit 0.57` this is the autosuggest display:

![pt57xonshmaster](https://cloud.githubusercontent.com/assets/3596999/13186489/7824b2ec-d714-11e5-8e32-b0fc0af68954.png)

After 1a55699 the autosuggest text is mirrored at the end of the fi

[2016-02-20 12:38] jonathanslenders commented on #245
Hi @gforsyth, Thank you for pointing out this bug. I'll fix it asap.
Jonathan

[2016-02-20 12:43] jonathanslenders commented on #245
Hi @gforsyth, it should be fixed in https://github.com/jonathanslenders/python-prompt-toolkit/commit/c8ef2b9b3e19b10741a525e770f6562279234336
Could you try again. Thanks!

[2016-02-20 16:06] gforsyth commented on #245
Hey @jonathanslenders, that did it!  Thanks!

[2016-02-20 16:06] #245 closed

[2016-02-21 18:03] scopatz commented on #237
@jonathanslenders I have now implemented what I believe are the correct hooks in scopatz/xonsh#696

[2016-02-21 18:03] scopatz commented on #237
Thanks again!

[2016-02-21 23:00] arkhan commented on #237
+1

[2016-02-23 00:12] jonathanslenders commented on #237
Ok, closing this. A new release should follow one of these days.

[2016-02-23 00:12] #237 closed

[2016-02-23 02:38] scopatz commented on #163
I believe that this has been addressed. Feel like we can close @melund?

[2016-02-23 02:44] scopatz opened #247 "get_prompt_tokens() too frequently called"
I can't tell whether this is a feature (to work around) or a bug, but it seems as though - with xonsh at least - that the `get_prompt_tokens()` function that we pass in is being called at each and every key press. This is pretty much *not* what we want since we do things like check the branch of a repository in the prompt.  Is there any way to make prompt-toolkit call this function only once witho

[2016-02-23 06:30] melund commented on #163
I do..

[2016-02-23 06:30] #163 closed

[2016-02-23 22:17] jonathanslenders commented on #247
Hi @scopatz,

This is definitely as expected. I'm going to document this better. There are many situations where the prompt can actually change on every key press. (Imagine that the current key bindings are displayed there, or something else that can change on every key stroke.)

A simple workaround could be this:

[code]

[2016-02-23 22:42] jonathanslenders opened #249 "0.58 released."
Version 0.58 has been released.
This release implements the continuation tokens. (among other things.)
Have a look at the changelog: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/CHANGELOG

If you have time, I appreciate if you could have a try and report new issues.

@scopatz @amjith @Carreau @takluyver @donnemartin @j-bennet

Thanks a lot,
Jonathan

[2016-02-23 22:52] amjith commented on #249
What are continuation tokens?

[2016-02-23 23:01] jonathanslenders commented on #249
For a multiline prompt, you can specify what needs to be displayed in the left margin. Typically some dots, like in a Python shell. See: http://python-prompt-toolkit.readthedocs.org/en/latest/pages/building_prompts.html#multiline-input
or this example: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/examples/get-multiline-input.py

A right prompt is another new thing: http://

[2016-02-23 23:17] takluyver commented on #249
Thanks!

[2016-02-23 23:24] scopatz commented on #247
Hi @jonathanslenders - OK, good to know.  This is what I meant by having a closure that contains the data :).  For what it is worth, I think that some more documentation could help.

I think xonsh is in a funny position because computing our prompts can be arbitrarily expensive.  In my simple testing on a high end desktop there were 4 - 5 orders of magnitude separating the timings of the closure v

[2016-02-23 23:24] #247 closed

[2016-02-23 23:28] scopatz commented on #249
Thanks a ton @jonathanslenders! I'll take a look in the next couple of days.  We already have reports that the right prompt works as expected from @gilforsyth scopatz/xonsh#696

[2016-02-24 06:09] scopatz commented on #249
Also, @jonathanslenders, was there are reason for removing pygments from the `install_requires`? This happened to break xonsh CI, as noticed by @gforsyth.  Is pygments not actually required?  And if not, what do you do for coloring if it is not present?

[2016-02-24 08:39] jonathanslenders commented on #249
Pygments became an optional dependency. At some point, about 95% of the terminal rendering was reimpemented in prompt-toolkit. We now have this because we support 16colors, 256 colors and true color, as well as Windows console rendering. Further, we have support for underline, blink and reverse, which Pygments does not have. A light version of ``pygments.token`` has been implemented in ``prompt_to

[2016-02-24 20:26] jonathanslenders commented on #222
This is implemented now.

[2016-02-24 20:26] #222 closed

[2016-02-25 17:42] memeplex opened #250 "Drop in readline replacement"
I'm opening this mainly for discussion.

You mention that ppt is not only but also intended as a readline replacement. There are a lot of applications out there that currently depend on readline abi and api, which could certainly benefit from ppt if it could pretend to be readline. The current state of affairs is somewhat disappointing, as we have to wait for the pure ppt version of every tool und

[2016-02-25 19:57] jonathanslenders commented on #250
Hi @memeplex,

Yes, it's not yet a drop-in replacement. However, there is a pull request to make it compatible with the Python readline API. Note that this is unfinished. It is still on my list of things to do, but never had the highest priority, and there were always more import things to be done. The main goal of that pull request is that prompt-toolkit can be used as the readline implementation

[2016-02-25 20:03] memeplex commented on #250
Notice that it could be a client-server architecture instead of a embedding one, althought I think latency could be noticeable in the first case.

[2016-02-26 03:04] Carreau opened #252 "Autosuggestion, add optimistic (no)update ?"
I got a lag when the autosuggestion take times to build the list of suggestion,
assuming vertically is time, and `|` is my cursor:

[code]

You can easily reproduce that with :

[code]

My guess is that it should be possible to optimistically keep the previous suggestion if the new type letter is the same than the first one of the (previous) suggestions or something similar, or better, if current

[2016-02-26 14:53] gforsyth opened #254 "Long multiline inputs are getting their tops shaved off"
This was first noticed by @melund in scopatz/xonsh#703

in `xonsh` master using the `prompt_toolkit` shell (version 0.58) lines that exceed the prompt width wrap (as expected) but then on execution the top 1 or 2 lines disappears

![](https://cloud.githubusercontent.com/assets/1038978/13353473/f6578fec-dc94-11e5-8fe7-681972bb5104.png)

![](https://cloud.githubusercontent.com/assets/1038978/1335352

[2016-02-26 15:43] jonathanslenders commented on #254
Thanks for reporting @gforsyth,
This is clearly a bug. I'll fix it asap (probably not before Sunday, unfortunately), but then I'll do a new release.

[2016-02-26 18:56] jonathanslenders commented on #254
Hi @gforsyth,

This commit should probably fix it: https://github.com/jonathanslenders/python-prompt-toolkit/commit/0c3b0c7a721bf33c8e92bf6b351cb8879924f0b2

Can you have a try? (with the latest master version.)
I will also do a bit more testing, and if everything is fine, then I will push a new release for this.
Jonathan

[2016-02-26 19:38] gforsyth commented on #254
Hey @jonathanslenders -- that has fixed the lines being shaved, but seems to have introduced a different bug (or I just noticed this after the fact).  If I reduce the width of my terminal window such that it covers even 1 character of the `$PROMPT` title, the instance crashes with this traceback

[code]

[2016-02-26 20:33] jonathanslenders commented on #254
That's a different bug. Fixed in: https://github.com/jonathanslenders/python-prompt-toolkit/commit/39b34aa6279e3f146b58927e4d0c5bb36bdf1565

Sorry about this! Can you please test again? If everything is fine now, I will push a new release.

[2016-02-26 21:00] gforsyth commented on #254
Hey @jonathanslenders, thanks!  Everything is working now on my end.

[2016-02-26 21:00] gforsyth commented on #254
Resolved in 0c3b0c7

[2016-02-26 21:00] #254 closed

[2016-02-27 10:10] jonathanslenders commented on #254
0.99 has been pushed to Pypi.

Still having some issues pushing the Python 3 wheels. (These are slightly bigger and bad internet connection at the moment. But I'll try again.)

[2016-02-29 01:23] Carreau opened #257 "ControlH & backspace clash ?"
Ok, so this is likely me who does something weird.

I've the following in a playground:

[code]

Where hlayout is an HSplit, (and same for CtrlV that make a VSplit)

it **seem** that **sometime** when I press backspace when typing a text in one of the buffers, the `makeh` callback is triggered. Of course, murphy's law, I can't reproduce it when I want, or it's likely that this is not backspace its

[2016-02-29 04:31] Carreau opened #258 "Allow VSplit (HSplit), to get a height (width) keyword"
I want to write something like

[code]

Or vice versa. write now it does not seem to be possible without an extra overriding of the `get_prefered_width|height`.

Does that make sens ?

I think I have roughly an idea on how to implement that.

[2016-02-29 18:45] jonathanslenders commented on #257
Hi Matthias,
For a vt100 terminal (probably, any unix terminal) Control-H and backspace are actually the same key. There is no way for the application to know what the user actually pressed. It's like Tab and Control-I are also the same key.

About ``eager``, normally you don't need that. (It should not become a habbit to use that for every key binding.) It only makes sense if you want to replace

[2016-02-29 18:58] Carreau commented on #257
OK, thanks ! I didn't new that. The weird thing then is that sometime it does not seem to conflict, it just do not erase the char in the buffer. I might just be confused, Thanks !

Closing.

[2016-02-29 18:58] #257 closed

[2016-02-29 21:05] jonathanslenders commented on #252
I think this makes sense. I'll have a look later this week.

[2016-02-29 21:10] Carreau commented on #252
No hurry, it seem also pretty easy for a newcomer to investigate the codebase. :-P

[2016-02-29 21:12] jonathanslenders commented on #258
If we do this, then we should probably allow both VSplit and HSplit to accept a with and a height.
A VSplit can be nested in a VSplit as well, and a HSplit can also be nested in a HSplit.

If you don't mind, maybe I'll do it.
(If we do this, I'd like to have as much consistency as possible between HSplit/VSplit and Window classes. And right now, a Window class already takes a with/height as well a

[2016-02-29 21:41] Carreau commented on #258
Sure no problem, I'm still looking at the codebase and learning, I'm mostly reporting the pain I'm feeling and the limitations I hit.

[2016-03-01 17:51] Carreau opened #260 "Speedup AutoSuggestFromHistory"
`AutoSuggestFromHistory` has a `for string in reversed(list(history))`

is is **likely** possible to not convert to a list and reverse iterate is history has `getitem` & `length`

I would expect history to have an **efficient** way to reverse iterate, that should make autosuggestion much faster (and less memory consuming), on shells with large history.

[2016-03-03 20:27] Carreau opened #262 "Question on ConditionalContainers"
Hey,

I am playing with filters/HSplit/VSplit

I roughly have a
[code]

I was expecting the `ConditionalContainer` to get a height of 0 when "hidden", which apparently is not the case. The current behavior make sens with respect to the doc, and and see its use with floats.
But would it make sens to have the dimension set to zero when hidden ?

(I'm basically creating a list of 1 line editable buff

[2016-03-03 21:16] jonathanslenders commented on #262
Actually, it should have a height of zero, when it's hidden.

When hidden (When the filter returns False), it returns ``LayoutDimension.exact(0)``
https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/layout/containers.py#L1507

[code]

I just did a test, and it works for me. Could you maybe test again and email me the code if that's possible?

[2016-03-03 21:53] Carreau commented on #262
Hum, ok I'll retry, and make a smaller example.
I'm likely not familiar enough with how to do thing.

[here](https://gist.github.com/Carreau/9e7805354413231cf690) is what I have for now.

[2016-03-03 22:06] Carreau commented on #262
I'm stupid, nevermind.

[2016-03-03 22:06] #262 closed

[2016-03-06 19:52] inducer opened #263 "DeprecationWarning in Py3"
[code]

[2016-03-06 20:59] jonathanslenders commented on #263
Thanks for reminding me @inducer. I knew about this, but usually, this error is not shown, and somehow I forgot to actually do something about it.
I'll mark this issue a bug (while actually it isn't), to be sure I'll replace this by ``inspect.signature()`` on Py3 for the next release, because it should be done.

[2016-03-10 12:24] melund opened #264 "Right prompt not aligned to the top"
The right prompt is not aligned with normal prompt. See the picture:

![image](https://cloud.githubusercontent.com/assets/1038978/13669383/68875c68-e6c3-11e5-8ce8-c63942f3d4b9.png)

[2016-03-10 22:56] jonathanslenders opened #265 "Handle Escape in reverse search."
https://github.com/ipython/ipython/issues/9309#issuecomment-194479419

[2016-03-13 18:30] jonathanslenders commented on #264
Fixed in: https://github.com/jonathanslenders/python-prompt-toolkit/commit/478d8c7d8c66a71469a7be05af7339f6a2f5f541

[2016-03-14 07:23] melund commented on #264
I can confirm that it fixes it...

[2016-03-14 07:23] #264 closed

[2016-03-15 07:17] jonathanslenders commented on #264
A new release has been published to Pypi. Thanks for reporting!

[2016-03-15 19:19] ajstein opened #267 "Strange Redirection Problem with Xonsh Interactive Login Shell in mlterm"
I cannot tell if this is something strange I have done with my mlterm configuration, which is minimal, or my new xonsh configuration.  I usually use emacs as a term multiplexer these days, and mlterm was a hold-over for complex script languages I read and sometimes use.  I am unable to delete a file when prompted, it immediatetly throws an error when prompted for user input.

[code]

For the last

[2016-03-16 06:58] ajstein commented on #267
Sorry you can disregard. I foolishly copy pasted into this bug tracker when I intended for xonsh. Sorry.

[2016-03-16 06:58] #267 closed

[2016-03-16 16:43] jonathanslenders commented on #267
No problem!

[2016-03-18 16:55] jonathanslenders commented on #263
This was fixed in: https://github.com/jonathanslenders/python-prompt-toolkit/commit/6c78c010bf7f554a4da8dea98cdd573df8e6fa04

[2016-03-18 16:55] #263 closed

[2016-03-20 15:30] jonathanslenders commented on #265
We can't do this by default. Handling escape in reverse search would mean that Alt-Enter doesn't won't work anymore. (Alt-enter in reverse search should execute the current match right away.)

It's more important to have alt-enter work than to have Esc as an alias for Control-G and Control-C.

[2016-03-20 15:30] #265 closed

[2016-03-23 10:17] donnemartin opened #269 "xonsh link goes to "This Domain Name Has Expired""
I'll send a PR for a fix.

[2016-03-24 19:51] #269 closed

[2016-03-29 19:40] jonathanslenders opened #271 "Document.find_start_of_previous_word and Document.find_previous_word_beginning are identical."
@yyt16384 writes:

See: https://github.com/jonathanslenders/python-prompt-toolkit/pull/253

Yes, we should make sure that the naming is consistent and only one remains.
(We can still create an alias in order to avoid breaking code.)

[2016-03-29 20:39] jonathanslenders opened #272 "Create a new state ``waiting_for_motion`` or ``operator_pending_mode`` in ViState."
See: https://github.com/jonathanslenders/python-prompt-toolkit/pull/253

Probably, we can make give a ``CommandLineInterface`` object a vi_state instance and remove all references to ``get_vi_state``. In the end, the ``get_vi_state`` function doesn't make much sense. It was introduced because we wanted to avoid having stateful key bindings, and vi_state used to be a variable in the ``load_vi_bindi

[2016-04-04 07:18] Lazar-T opened #273 "ptipython raises KeyError: 'extensions'"
Having issues trying to run `ptipython`, here's traceback:

[code]

* `Ubuntu`: 14.04
* `Ipython`: 1.2.1
* `CPython`: 2.7.6
* `Ptpython`: Not sure how to look this up. When I run: `pip install --upgrade ptpython`, it gets: `Requirement already up-to-date: ptpython in /usr/local/lib/python2.7/dist-packages
Cleaning up...`

This is similiar issue to this one: [link](https://github.com/jonathanslende

[2016-04-04 19:58] jonathanslenders commented on #273
Hi @Lazar-T,
Thanks for reporting this bug! I'll have a look at it very soon.
Jonathan

[2016-04-07 06:35] jonathanslenders opened #274 "Handle decomposed unicode characters."
- rendering of zero width characters.
- correct cursor movements. (+ backspace implementation.)

See: https://github.com/ipython/ipython/pull/9378

[2016-04-07 06:35] jonathanslenders commented on #274
See also: https://github.com/ipython/ipython/issues/9376#issuecomment-206464016

[2016-04-07 06:48] jonathanslenders commented on #274
The first part has been implemented in: https://github.com/jonathanslenders/python-prompt-toolkit/commit/f311c7524a318ba2bf264bc2024388706e0485e8

Cursor movement still needs to be done. Right now it's still possible to position the cursor in the middle of the decomposed character.

[2016-04-14 13:38] eliangcs opened #276 "Completer and lexer based on a context-free grammar?"
It is a good idea to generate a completer and a lexer based on a single grammar. I see you have a grammar-based completer and lexer for regular languages in `prompt_toolkit/contrib/regular_languages/`. But what if I expect my user input is a context-free language? I'm not an expert in this area, so I don't even know if this is doable. Can you provide some guidance if I'm going to implement this?

[2016-04-14 15:56] jonathanslenders commented on #276
That's a good question.
The short answer is that it's probably not a good idea.

It would be complex to generate a completer from the grammar of a context-free grammar. A completer has to deal with incomplete inputs. Parsing that while being tolerant for syntax errors and still making enough sense of it in order to provide a meaningful completion is hard. On the other hand, just looking what is ri

[2016-04-14 20:39] eliangcs commented on #276
Thank you for your detailed explanation.

So are you suggesting, instead of unify lexer and completer with a grammar, it would be more efficient if I just write the lexer and completer specific for the language of my user input?

[2016-04-14 21:04] jonathanslenders commented on #276
Exactly, most of the time, that's going to be the most practical.

[2016-04-14 21:06] eliangcs commented on #276
Then I'll do that. Thanks a lot!

[2016-04-14 21:06] #276 closed

[2016-04-26 14:22] deeplook opened #277 "Example for updating toolbars periodically?"
I'm new to python-prompt-toolkit, but can see many exciting use cases! As a first I want to build some simple toolbar-like thing, showing a sparkline of a data series, see:

- https://github.com/kablamo/git-spark
- http://python-prompt-toolkit.readthedocs.org/en/stable/pages/building_prompts.html#adding-a-bottom-toolbar

Now the last example updates the toolbar only after a key press, but I'd like

[2016-04-26 20:32] jonathanslenders commented on #277
Hi @deeplook,

Have a look at this example:
https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/examples/clock-input.py
This updates the clock in the prompt every second. The key is to call ``cli.request_redraw()`` when the UI needs to be updated. The same thing can be done for the bottom toolbar.

Jonathan

[2016-04-26 21:43] deeplook commented on #277
Thanks, I'm trying to wrap my head around it (not quite seeing how to add a toolbar to the Application layout, yet).

Another immediate encoding issue I have is that adding anything like real Unicode chars, say '€', in this line will result slightly garbled on screen, despite the import line `from __future__ import unicode_literals`:

https://github.com/jonathanslenders/python-prompt-toolkit/blob/

[2016-04-28 17:45] amitu opened #278 "can't come out of full-screen-layout.py example on osx"
Ctrl-C nor Ctrl-Q or Ctrl-Shift-Q had any effect.

Also after killing the process from another window, Ctrl-C/Ctrl-D was not getting passed to shell from where I launched the process.

[2016-04-29 06:22] jonathanslenders commented on #278
Hi @amitu ,

ControlQ and ControlS are reserved key bindings in many terminals.
Try to execute ``stty -ixon`` before running the example. This should disable flow control.

Probably I should have used another key binding to demonstrate.

It is possible that some key sequences don't work anymore after killing the process. Prompt-toolkit turns the terminal into raw mode, and because it's killed it c

[2016-04-29 13:41] amitu commented on #278
@jonathanslenders thanks.

[2016-05-02 20:55] jonathanslenders commented on #221
Implemented. Selection can now be styled in any possible way. (Reversed or fixed fg/bg.)

[2016-05-02 20:55] #221 closed

[2016-05-02 21:02] jonathanslenders commented on #225
Done.

[2016-05-02 21:02] #225 closed

[2016-05-02 21:06] jonathanslenders commented on #16
It looks that by now, in the mosh version that I have. (1.2.5), it works fine, so I'm closing this issue.
Please reopen if you still experience any issues.
Jonathan

[2016-05-02 21:06] #16 closed

[2016-05-02 21:12] jonathanslenders commented on #207
Implemented.

[2016-05-02 21:12] #207 closed

[2016-05-05 10:05] obeleh opened #281 "How do I create a menu?"
I've got so far as the code below but the cursor is not moving. Am I heading in the wrong direction?

[code]

[2016-05-05 10:46] jonathanslenders commented on #281
Hi @obeleh,

``TokenListControl`` is not meant to contain a scrollable region of text. It can do that, but it involves a lot of manual work, like keeping track of the cursor position, and defining manual key bindings. Most of the time, I use it when in the UI I need a static control displaying some info, not much or very custom user interaction is desired.

Probably, what you are looking for is a

[2016-05-05 10:57] obeleh commented on #281
Ah thanks :)
How would I highlight the current line?

[2016-05-05 11:33] jonathanslenders commented on #281
The latest prompt-toolkit (from Github; not on Pypi yet) has a ``cursorline`` attribute for the ``Window``.
https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/layout/containers.py#L877

By default, it underlines the current line, but you can style it as you want, by passing in a custom style.

[2016-05-05 11:51] #278 closed

[2016-05-05 11:54] jonathanslenders commented on #277
What terminal and Python version are you using? On my system it works without issues.

[2016-05-10 11:32] deeplook commented on #277
The issue with Unicode chars has disappeared after moving to version 1.0. Thanks!

Now I only need to get the auto-redrawing right. I'd be glad to contribute this code below as an example. Instead of random numbers it could show something more meaningful like CPU load using the `psutil` package.

[code]

[2016-05-10 21:06] certik opened #284 "Scrollbar does not react on mouse"
I tested the code from https://github.com/jonathanslenders/python-prompt-toolkit/issues/281#issuecomment-217122767, i.e.:
[code]
and it shows a scrollbar on the right, but even though `mouse_support` is enabled, no matter how I click or drag on the scrollbar, nothing happens.

Mouse support itself works, e.g. in `examples/mouse-support.py`.

[2016-05-10 21:15] certik opened #285 "Direction of prompt-toolkit"
The README says "prompt_toolkit could be a replacement for GNU readline, but it can be much more than that.". It seems to me that it is now also a replacement for `curses`.

I was wondering, what direction you want to go. I have written up the background here:

https://github.com/inducer/pudb/issues/181

Do you think that `prompt-toolkit` would be a good foundation to get a full featured text UI,

[2016-05-11 21:16] jonathanslenders commented on #284
@certik,

Mouse support for scroll bars has indeed not yet been implemented.
Dragging won't be for very soon, but adding click support is not difficult.
Keeping this issue open as a feature request.

Jonathan

[2016-05-11 21:35] jonathanslenders commented on #277
Hi @deeplook,

I'm working on a patch for prompt-toolkit to make this significantly easier. Hopefully, I can finish and push this later this week. I'll keep you posted.

Jonathan

[2016-05-11 22:52] certik commented on #284
#236 is for the mouse clicks, and this issue is also for the dragging.

[2016-05-12 07:22] deeplook commented on #277
@jonathanslenders, thanks! I was using Mac OS X with the built-in terminal or iterm2 and Python 2.7 in this case.

[2016-05-12 11:28] takluyver opened #287 "CommandLineInterface doesn't accept its default eventloop parameter"
Hi Jonathan. In the [CommandLineInterface constructor](https://github.com/jonathanslenders/python-prompt-toolkit/blob/740d468a468dd6f17cb8ada6f6abfaf5637900d9/prompt_toolkit/interface.py#L65), the `eventloop` parameter has a default of None, but it then immediately checks `isinstance(eventloop, EventLoop)`, so you can't instantiate it without passing eventloop in. This is biting us for jupyter_con

[2016-05-12 12:12] jonathanslenders commented on #287
This was removed on purpose because an `EventLoop` instance needs to be closed explicitely. (It allocates a unix pipe which could leak otherwise.)
So, you probably want to wrap it in a try/finally, like in this example: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/examples/full-screen-layout.py#L176

I will remove the ``=None``, because the default doesn't make any sense.

[2016-05-12 12:37] takluyver commented on #287
Thanks, I've added code to explicitly close it.

[2016-05-16 23:45] jflebeau opened #289 "interactive shell not working (python 3.5.1, osx/windows)"
I tried the interactive shell example from asyncio-prompt.py on both windows (10) and os x and it's not working in both cases (reported error is different).

[2016-05-17 10:52] obeleh opened #290 "custom key bindings"
How can I make custom key bindings like "Shift-F11" ? I tried
- `@manager.registry.add_binding('Shift', 'F11', eager=True)`
- `@manager.registry.add_binding(Key('<Shift-F11>'), eager=True)`
- `@manager.registry.add_binding(Key('<Shift>'), Key('<F11>'), eager=True)`

How do I make "shift"-key combinations?
My gut says no but I want to ask the question to be sure: Would it be possible to suppress th

[2016-05-17 21:05] jonathanslenders commented on #290
Hi @obeleh,

The underlying terminal protocol does not define something like ``Shift-F11``. However, I think that most terminal applications send this combination as ``F23``. Could you try binding a handler to ``F23``?

https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/keys.py#L99

[2016-05-17 21:05] jonathanslenders commented on #289
Hi @jflebeau,

Could you show me the reported error?
Thanks!

[2016-05-17 21:05] #287 closed

[2016-05-18 20:15] asmeurer commented on #148
See also https://iterm2-tools.readthedocs.io/en/latest/shell_integration.html

[2016-05-18 20:20] asmeurer commented on #148
It would be neat if prompt_toolkit supported this directly. Then I wouldn't have to have separate implementations for IPython and xonsh.  It's also complicated for IPython, where I have to use some special hooks to get the "before output" sequences to display after the user input but before any output is shown. For xonsh, I would have to [add some hooks](https://github.com/scopatz/xonsh/issues/374

[2016-05-18 23:20] nmvega commented on #25
Wow, funny how I just ran into this wonderful functionality.

Being a huge fan of ptpython, I wanted to replace the iPython behavior in "./manage.py shell" with ptpython behavior because that has vim(1) and other functionality that I like.

So to figure out how I might get that to work, I ran "./manage.py shell_plus" for the first time (as opposed to just "./manage.py shell") and, boom,... where I

[2016-05-19 10:01] tony opened #294 "PathCompleter file_filter should ignore directories"
Making a PR in pyvim to ignore files, but ``__pycache__/`` wouldn't get passed through file_filter callback.

https://github.com/jonathanslenders/python-prompt-toolkit/blob/c597adc/prompt_toolkit/contrib/completers/filesystem.py#L84

[2016-05-19 17:40] Carreau opened #296 "Cursor disappears on forward-delete"
Gif is better to explain.

![cursordisapear](https://cloud.githubusercontent.com/assets/335567/15403424/ba735a74-1dad-11e6-8987-65a2d52e14c1.gif)

In words, when using forward delete (fn-backspace for example), the cursor disappear until it is moved.

[2016-05-19 17:53] Carreau commented on #148
May possible to make a specific Token type, like `Tokan.raw` that would forward the sequences unchanged ? So that you might not have to special case `before_prompt`, `after_prompt`, `before_output`, `after_output` and user could inject them whenever the like ?

[2016-05-19 18:19] jonathanslenders commented on #296
This is weird. What terminal application are you using?
gnome-terminal and xterm don't seem to have the issue.

[2016-05-19 18:55] jonathanslenders commented on #148
It's more complex then this.

The hard thing is that render engine will position everything from such a token list in a 2 dimensional grid. (after doing some transformations, scrolling text, etc..) Output is then rendered by taking the previous in-memory grid and doing a "diff" operation with the new grid. With only a few cursor movements and writing a few characters, it is able to render the outp

[2016-05-19 19:08] Carreau opened #297 "reverse serach suggestion"
So when using reverse search, you can either exit while validating (Enter), but you have no way of exiting with just what you have type.

May I suggest to bind `<esc>` to dismiss search buffer, and set content of the current buffer to the value of search buffer before dismissal ?

[2016-05-19 19:26] #294 closed

[2016-05-19 19:48] jonathanslenders commented on #277
Hi @deeplook

Have a look at this example. (Requires the latest github version)
https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/examples/clock-input.py

[2016-05-19 21:14] deeplook commented on #277
Hi @jonathanslenders!
Looks wonderful! Will test more early next week in combination with my https://pypi.python.org/pypi/sparklines. So far it seems that I'm not expected to use escape codes like those introduced by `termcolor`. But for now: thanks so much!

[2016-05-19 21:17] jonathanslenders commented on #277
You're welcome.
If you want more color. Use different Tokens, and give them a style. termcolor-like escape sequences don't work. (They are also not platform independent.)

[2016-05-19 21:20] asmeurer commented on #148
That's no different than readline requiring you to wrap invisible characters with `\001` and `\002`.

[2016-05-19 21:21] asmeurer commented on #148
CCing @gnachman on the iTerm2 questions.

[2016-05-19 21:39] jonathanslenders commented on #148
Ok, the analogy with ``\001`` and ``\002`` makes sense. Any place where I can find more information about those two readline escapes?

[2016-05-19 22:29] asmeurer commented on #148
I don't remember finding a particularly great reference back when I was trying to figure out what they were. I think I ended up reading the source code to figure it out, but basically, anything invisible bytes (like control characters, which won't render when displayed) should be wrapped in the bytes `\001` and `\002`, so that readline can count the number of visible characters correctly. If you f

[2016-05-19 23:22] gnachman commented on #148
FinalTerm supported it too, but alas it is no more. I hope after 3.0 exits beta that other terminals will add support for this feature, but that remains to be seen.

The bash script sends an "end-of-output" code with no preceding "start-of-output" code after you enter your query at the `(reverse-i-search)` prompt. This is called an "abort", and removes the mark and erases all recorded state about

[2016-05-19 23:30] Carreau commented on #148
I found this reference:

http://superuser.com/questions/301353/escape-non-printing-characters-in-a-function-for-a-bash-prompt

That i'll reproduce here for convenience:
---
The readline library accepts `\001` and `\002` (ASCII SOH and STX) as non-printable text delimiters. These also work in any application that uses readline.

From `lib/readline/display.c:243` in bash source code:
[code]
The bash

[2016-05-19 23:42] Carreau commented on #296
iTerm2, OS X, Build 2.9.20160510

[2016-05-19 23:43] Carreau commented on #296
Ouh, i just realised it's a date: 2016-05-10. And it's the latest non-nightly.

[2016-05-20 00:13] gnachman commented on #148
Official docs for FinalTerm's escape sequences as used in iTerm2's shell integration.

https://iterm2.com/finalterm.html

Comments are welcome here or in an issue (iterm2.com/bugs)

[2016-05-20 20:45] scopatz opened #298 "load_vi_mode() takes an excessive amount of time, even when vi mode isn't used."
Hi @jonathanslenders et al., I just wanted to let you know that after profiling xonsh startup times a bit, I have found that one of the major culprits is the `load_vi_mode()` function.  This figure shows the breakdown for the shell initialization function, which calls the KeyManager initializer:
http://vmprof.com/#/56e022bb8e1d53cffec42ff1b8d230b6?id=2,0,0&view=flames

Worst of all, there doesn't

[2016-05-20 20:55] jonathanslenders commented on #298
Thanks for pointing out! I was aware that loading the Vi bindings took a bit more time, but didn't realize that it was this much. I'm sure it should not be hard to optimize, I'll have a look during the coming days.

[2016-05-20 20:59] scopatz commented on #298
Thanks @jonathanslenders!

[2016-05-20 21:03] scopatz commented on #298
Note that this was made using vmprof, and so it might not be an exact representation of execution time.

[2016-05-20 21:08] jonathanslenders commented on #298
It's probably quite accurate. The slowness seems to come mostly from the generation of key bindings for the named registers. That on itself is fine, but the I think the many layers of functions wrapping function in key_binding/bindings/utils.py is too much and not necessary. I'll try to simplify it.

[2016-05-22 12:58] jonathanslenders commented on #298
Hi @scopatz,

Could you try and measure again with the latest commit of prompt-toolkit?
I did a rewrite of the input processor. So, now it's possible to have key bindings, consisting of several keys, with ``Keys.Any`` anywhere in the sequence. Because of this, we have only one key binding for operations on named register, instead of for each possible register.
See this commit: https://github.com/j

[2016-05-22 14:03] #277 closed

[2016-05-22 14:04] jonathanslenders commented on #272
Implemented a while ago.

[2016-05-22 14:04] #272 closed

[2016-05-22 14:48] jonathanslenders commented on #148
Please have a look at this pull request. https://github.com/jonathanslenders/python-prompt-toolkit/pull/299 (check out the branch and test in iterm2.)

https://github.com/jonathanslenders/python-prompt-toolkit/blob/zero-width-escapes/examples/finalterm-shell-integration.py

For me, it seems to work, but not 100% sure whether I'm not missing something.
Also, I need to do some performance testing.

[2016-05-22 22:15] scopatz commented on #298
Hi @jonathanslenders - this is looking much better thanks!  You can see the latest profile here: http://vmprof.com/#/1ac6191b0c3283c2315b38529aee5193?id=2,0,0&view=flames  (note that the original link was for 41.47% of the total runtime, while this one is for only 23.2%)

This seems to cut xonsh's ptk startup time to be within 5% - 10% larger than when using readline.

Interestingly though, `load_

[2016-05-23 20:21] jonathanslenders commented on #298
Don't close it yet. I will see whether it's feasible to improve this even more. I think it should be possible.

[2016-05-24 17:33] jonathanslenders commented on #298
One more fix: https://github.com/jonathanslenders/python-prompt-toolkit/commit/e2bb3434a51c1b70e87ccff9284198efdd944f9e

Could you please measure again? After this, I have probably have one more improvement.

[2016-05-25 11:53] tony opened #300 "Convert tests to pytest"
Continued from https://github.com/jonathanslenders/pyvim/pull/35

I just did two recent large-scale conversions from py.test to unittest. Going to try a PR

[2016-05-25 19:27] tony opened #302 "Tools to profile performance / branchmark"
yo

We need a benchmark suite for python-prompt-toolkit and downstream users.

Once we're at the pyvim level it gets kind of tricky to figure where the bottlenecks come from.

As an interim stop gap, I've jotted down some notes that gets you surprisingly deep live trace of calls. https://github.com/jonathanslenders/python-prompt-toolkit/wiki/Profiling

<img width="791" alt="screen shot 2016-05-25

[2016-05-25 19:43] jonathanslenders commented on #302
Thanks. Actually, I've been profiling a lot during the last year. The built-in profile module from Python and runsnake have helped me a lot. I'll have a look at this tool later on, but I think that most of the bottlenecks are already as optimized as possible.

[2016-05-25 20:58] iogf opened #303 "A wrapper around prompt-toolkit to emulate tkinter api design"
Hello. I have been working on modal editor on top of tkinter
that shares with vim some similarities.

https://github.com/iogf/vy

It actually runs in a GUI, i'm planning to create a wrapper around ncurses that simulates tkinter API, so i could run vy on top of it by just changing some imports. what do you say of using your prompt-toolkit lib to build that wrapper?

[2016-05-25 22:26] scopatz commented on #298
Hi @jonathanslenders - sorry about the delay. Here are the results I am seeing now:

e2bb343: http://vmprof.com/#/ad493ed7c30eeee8cf1e5facba871625?id=2,0,1&view=flames

f827949: http://vmprof.com/#/60ff6b401a5973eaf12356327c2fffe4?id=2,0,1&view=flames

It looks like f827949 is better than the other.  I would recommend keeping both since every microsecond counts here :)

[2016-05-25 23:19] tony commented on #300
Done 310b3f7

[2016-05-25 23:19] #300 closed

[2016-05-29 11:05] tony opened #305 "Data grid / table"
With a fix set of columns / dynamic number of rows, is there any proof of concepts out there for handling a tabular data?

[2016-05-29 11:22] tony opened #306 "Keep getting the same window data when constructing windows dynamically"
I am trying to rewrite the viewer for [what-studio/profiling](https://github.com/what-studio/profiling) in ppt @ https://github.com/what-studio/profiling/compare/master...tony:ppt-cleaned

I've managed to port some of the basic stuff from urwid, however, I've hit a stumbling block on how layout / window state work.

<img width="765" alt="screen shot 2016-05-29 at 6 07 58 am" src="https://cloud.git

[2016-05-29 13:21] tony commented on #306
Ok, I'm starting to realize the approach of generating a windows to show the data may be wrong.  I will keep at it and report back.

I'm closing this for now.

[2016-05-29 13:21] #306 closed

[2016-05-29 18:04] Carreau opened #307 "Matching Token Styling"
I just saw your comment in https://github.com/jonathanslenders/ptpython/issues/120#issuecomment-222372929

There seem to be missmatch of highlighting with two inermost  parenthesis (blink grey/red),
while other blink red/red, on OSX iterm2, not on TerminalApp, and not when there is something between the inermost parens.

it **is** perfectly fine, and I suspect it is an interaction with iTerm2, jus

[2016-05-29 18:04] jonathanslenders commented on #306
Hi @tony,

I did not had the time yet to analyse the above code that you shared. But I'd like to say that improving the experience of developing full screen terminal UIs is somewhere at the top of my list.

While technically, prompt-toolkit is very capable to create nice looking UIs, there is room for improvement. The Pyvim and Pymux projects + some other experiments with widgets have given me a g

[2016-05-29 18:05] Carreau commented on #307
Note, its even more visible if I deactivate blinking. I'm wondering is there is not a specific extra Styling for a pair of parenthesis that open/close immediately.

[2016-05-29 18:11] jonathanslenders commented on #305
No, sorry. Right now, there is no proof of concept of this... I keep this issue open as a reminder for when I'm going to create more examples.

[2016-05-29 18:16] Carreau commented on #307
Scratch that :That's likely an iterm2 thing it manifest only on some themes

![blink-2](https://cloud.githubusercontent.com/assets/335567/15635256/c6e8e178-258e-11e6-87a9-7bb245aa1552.gif)

[2016-05-30 11:30] donnemartin opened #308 "v1.0.0 hangs autocompleting haxor-news view command on running Windows"
Hi Jonathan,

I ran into this issue updating `prompt-toolkit` to v1.0.0 on `haxor-news` v0.4.0:

### Build

`haxor-news` v0.4.0, running `prompt-toolkit` v1.0.0:

https://github.com/donnemartin/haxor-news/releases/tag/0.4.0

### Environment

Windows 10 (on VirtualBox 5.0.20)
Python 3.5.1

### Steps to reproduce

     $ haxor-news  # start the shell
     $ hn view 1  # works the first time
     $ h

[2016-05-30 21:01] jonathanslenders commented on #308
Thanks for reporting. I'll look into this asap. (A few hours ago, I tried to reproduce it, but actually, I was unable.)

[2016-05-31 01:39] donnemartin commented on #308
Thanks Jonathan.  One other thing I forgot to mention, not sure if it makes a difference: I'm running Windows 10 on VirtualBox (edited issue description above).  I'll try again tomorrow and try to create a gif of a screen capture of what I'm seeing.

[2016-05-31 18:56] Carreau opened #309 "[question] get_continuation_tokens(cli, width), pass linenumber ?"
Hey this is a purely hypothetical question, but:

What if someone want to know the current line number in the continuation token and/or other parameter ?
(like on which line is the cursor),
Is that possible ? How one would do that (I guess you can find out using the `cli` argument?  Would it make sens to pass this information directly ?

I have no immediate use case,  but I was thinking on the lon

[2016-05-31 18:58] Carreau commented on #309
Sidenote, these also seem to be no difference between a continuation prompt for a real multiline input, and a continuation prompt due to soft wrapping.

[2016-06-01 02:53] donnemartin commented on #308
Here's a video of what I'm seeing on `v1.0.0`.  No issues with `v0.52`.

https://www.dropbox.com/s/du8v67rzaw4l99e/haxor-news-bug.mov?dl=0

[2016-06-01 06:02] jonathanslenders commented on #309
Hi Matthias,

This is correct. The functions in ``prompt_toolkit.shortcuts`` don't expose this information (yet).
However, the information is available underneath (See: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/layout/margins.py#L40) So, probably, I should expose that as a parameter. I will have a look at this, and how to do it in a backwards-compatible w

[2016-06-01 19:02] jonathanslenders commented on #308
Trying to reproduce: I can reproduce it, but at some point, I got the exception below:

[code]

[2016-06-01 20:07] jonathanslenders commented on #308
Hi @donnemartin,

The bug is actually at this line:
https://github.com/donnemartin/haxor-news/blob/master/haxor_news/haxor.py#L205

``prompt_toolkit.document.Document`` is supposed to be immutable. One reason for this is that it makes the caching significantly easier and a lot more performant. (If the same ``Document`` object is created, then we have the same lines, and everything in there can be

[2016-06-01 21:00] jonathanslenders commented on #308
Here I made ``Document`` completely read-only: this should have given a more meaningful error instead of a enternal completion loop: https://github.com/jonathanslenders/python-prompt-toolkit/commit/fe8f1c78cd01c6fe8aeb3980d824de6da5d56f19

[2016-06-02 02:12] donnemartin commented on #308
Thanks for the quick investigation @jonathanslenders!  I'll try to check this out tomorrow and report back.

[2016-06-02 23:48] #209 closed

[2016-06-02 23:53] scopatz opened #310 "Missing Starting Newlines in Prompt"
Hello all, xonsh has noticed some weird behaviour with prompts that start with newlines not being rendered appropriately in all cases, specifically if there aren't other newlines and whitespace. For example a simple case that fails is:

[code]

xonsh renders this as `[(Token, '\n>>>')]` when passing it to ptk.

This was first reported by @tgoodlet in scopatz/xonsh#1052, where you can see more exam

[2016-06-03 02:54] donnemartin commented on #308
@jonathanslenders that did the trick, thank you!

Hmm, curious if you see this error for all posts or just a few?  And if it's not all posts, please let me know which one so I can try to get a fix.  I'm not able to reproduce it on my end, I think it should have been fixed by https://github.com/donnemartin/haxor-news/issues/36.

[2016-06-06 19:06] jonathanslenders commented on #310
Hi @scopatz,

Thanks for reporting, that should be a bug, and could indeed be caused by that function. (thanks for giving the pointers.) I'll dive into this.

b.t.w: nice talk at Pycon US!

[2016-06-06 20:17] jonathanslenders commented on #310
It was more challenging than expected, but finally solved: https://github.com/jonathanslenders/python-prompt-toolkit/commit/8258a98c1ce59c8c845c7b4b32b91b9204d2b596
Could you have a try?

[2016-06-07 00:31] scopatz commented on #310
That seems to work great for me, @jonathanslenders! Thanks a ton.

Thanks!  Folks were really impressed with ptk :)

[2016-06-07 00:31] #310 closed

[2016-06-08 16:35] Carreau opened #313 "Extra security for bracketed past ?"
Hi @jonathanslenders,

I was wondering if bracketed past was there mostly for security reasons or not.
And if so I was wondering, would it be also possible/desirable, when you past something we could/should have an overlay highlighter that mark non-ascii caracters with specific token with a different visual style.
Thus decreasing chances of pastjacking.

Idea to refine, and that of course we don't

[2016-06-08 18:09] jonathanslenders commented on #313
Hi Matthias,

Bracketed paste is not really a security feature. It exists mainly for the following two reasons:
- Detect which fragments are pasted and preserve the indentation of the pasted text when the input is multiline. The result is that the pasted text also won't cause any execution if it contains a newline. (Which could be considered a security feature.)
- Speedup of the input parser. In t

[2016-06-09 19:06] itielshwartz opened #314 "Simplify Validation and Auto Completion binding"
Hi,

i have started using python-prompt-toolkit for some cli project i'm working on.
 I find myself repeating the same pattern:

[code]

thought about two options to make life simpler:

- Create a class to validate and auto-complete ( i think it's less clear).

- Create basic Validator which has only a list in the constructor, and msg as an Optional (if not default msg would "Choose from <allowed_

[2016-06-10 18:53] jorisvandenbossche opened #316 "master breaks up/down arrows on Windows"
I was testing master for https://github.com/ipython/ipython/issues/9600, and I notice that with one of the latest commits, the up/down arrows don't work anymore (couple of hours ago this was not yet the case).

Traceback of pressing up arrow (and it exits afterwards):

[code]

[2016-06-10 18:55] jonathanslenders commented on #316
Thanks for reporting this! I think I need to add ``from __future__ import unicode_literals`` at the top of ``prompt_toolkit.terminal.win32_input.py``.

[2016-06-10 19:02] jonathanslenders commented on #303
Interesting project. For now, just be aware that the prompt-toolkit API for full screen applications is not stable, and will probably change in the coming years. It's good and powerful, but maybe not yet ready for what you want. However, have a look at pyvim. I made that as a demonstration of what will be possible and is already possible with prompt-toolkit.

[2016-06-10 19:06] Carreau commented on #316
Well, you can also remove support for Python 2 :-D

[2016-06-10 19:18] jonathanslenders commented on #316
It's easy enough to fix :)  https://github.com/jonathanslenders/python-prompt-toolkit/commit/1f344012a4629a7ef54ddbf885bd36b68bec248c

I reproduced the issue on Windows 7, Python 2.7, and now it works. I close this issue. Feel free to reopen if this doesn't fix it.

[2016-06-10 19:18] #316 closed

[2016-06-10 19:47] jorisvandenbossche commented on #316
I can confirm it is fixed!

[2016-06-11 07:18] stonebig opened #317 "ptipython is not working ok with ipython5.0b3"
see
 https://github.com/ipython/ipython/issues/9548

![ptipython_ipython5b3](https://cloud.githubusercontent.com/assets/4312421/15983864/7fd87c68-2fb5-11e6-98ae-dcb3e77f82ce.PNG)

[2016-06-11 10:08] jonathanslenders commented on #317
Thanks for creating the issue here!

[2016-06-12 17:43] jonathanslenders commented on #317
Probably this should fix it: https://github.com/jonathanslenders/ptpython/pull/125

[2016-06-12 18:06] stonebig commented on #317
it works indeed !
![ptipython_ipython5b3_ok](https://cloud.githubusercontent.com/assets/4312421/15992944/1b0534be-30d9-11e6-8a56-a86fa796bbcb.PNG)

[2016-06-13 20:52] melund opened #320 "Not all completions are shown"
We have seen a problem with xonsh where the completer would not show all completions and left out quoted path names with spaces in the name.

https://github.com/xonsh/xonsh/issues/1201#issuecomment-225485796

Since the  xonsh completer does find all the right paths we were thinking that this may be an issue with prompt-toolkit. I remember that this used to work.

[2016-06-14 21:09] #317 closed

[2016-06-14 21:11] jonathanslenders commented on #320
Hi @melund,

Thanks a lot for reporting this bug! The following commit should fix it: https://github.com/jonathanslenders/python-prompt-toolkit/commit/5f073ff3f91ffb9e7db0a54d57403a86e0035064

Could you please test again with the latest master branch of prompt-toolkit?

Thanks,
Jonathan

[2016-06-15 12:56] melund commented on #320
It didn't seem to have any effect:

![image](https://cloud.githubusercontent.com/assets/1038978/16080471/515c47fa-3309-11e6-8646-215e3926c97e.png)

![image](https://cloud.githubusercontent.com/assets/1038978/16080483/5de8289a-3309-11e6-8573-812988460011.png)

[2016-06-15 19:02] adqm commented on #320
@jonathanslenders, @melund: is ptk expecting all of the completions to start with the same prefix?  If so, we can fix this on xonsh's end by adding quotes to _all_ completions if we add them to any.

[2016-06-15 19:11] melund commented on #320
Ahhh. That is it. A quick hack to `completers/path.py` confirmed that this is indeed the case.

[2016-06-15 19:18] melund commented on #320
I will try to make a fix if it is OK with you :)

[2016-06-15 19:39] melund commented on #320
Ok. I made a fix for this in xonsh. https://github.com/xonsh/xonsh/pull/1244

@jonathanslenders ... I am sorry for the noise if it was our problem all along.

[2016-06-15 20:58] jonathanslenders commented on #320
@adqm: Completions don't have to start with the same prefix.

Today I released a new version of prompt-toolkit 1.0.1 with the above fix. (There was also one issue related to this on our side.) Let me know whether there are still some issues or whether it's fixed now.

[2016-06-15 21:37] gforsyth commented on #320
hey @jonathanslenders -- thanks as always for all the help!

on current master I'm still seeing the following behavior:

I have a directory as follows:
[code]

The set of completions that `xonsh` generates for this is `{"'3 and 4/'", '1/', '2/'}` but the completions displayed are `./`, `../`, `1/`, `2/` only.

[2016-06-15 21:47] gforsyth commented on #320
Ack.  Sorry for the noise, @jonathanslenders -- @melund just fixed this on our end.

[2016-06-15 21:48] adqm commented on #320
FTR, though, it seems like the fix in ptk did make a difference as well (the fix on our end is specific to completing lines starting with `cd` or `rmdir`, whereas this fixed completions for other commands).

[2016-06-16 01:51] donnemartin opened #321 "Question about InputProcessor feed_key change to feed"
Hi Jonathan,

In SAWS and aws-shell, we use `InputProcessor.feed_key` to test the hotkeys:

https://github.com/awslabs/aws-shell/blob/master/tests/integration/test_keys.py#L32

With the newly released `python-prompt-toolkit 1.0.1`, it seems `feed_key` was changed to `feed`:

[code]

After changing `feed_key` to `feed`, the following errors occur in `aws-shell`.  It seems as though the `feed` call

[2016-06-16 06:30] jonathanslenders commented on #321
Hi Donne,

Sorry for breaking this. I hope everything else is fine!

There was a small change I had to make in order to make it possible for key bindings to feed new keys themselves. The example I had was somebody that wanted to add a binding for "jj" and make it an alias for "escape" Calling the ``feed()`` function from inside a key binding was impossible before, because it involved calling the `

[2016-06-16 10:38] donnemartin commented on #321
Thanks for the quick reply and the background info Jonathan!  This fixes the tests.

[2016-06-16 10:38] #321 closed

[2016-06-16 20:46] jonathanslenders commented on #320
@adqm: Thanks for sharing!

[2016-06-16 20:46] #320 closed

[2016-06-16 21:15] jonathanslenders opened #323 "Rethink control-space (Emacs selection mode)"
Apparently, control-space should not enter selection mode, but "active mark mode".

See: https://github.com/ipython/ipython/issues/9574

[2016-06-16 21:59] njsmith commented on #323
After a few seconds of further investigation:
* It looks like I slightly misremembered the terminology that emacs uses -- for them hitting control-space "activates" the mark, and this is called `transient-mark-mode`. Very consistent :-)
* Transient mark mode does two things:
  * It causes the space between the mark and the cursor ("point") to be highlighted
  * Some commands like search-replace th

[2016-06-16 22:17] njsmith opened #324 "selection mode highlighting is very confusing in my terminal"
This is with gnome-terminal on Linux, using ipython.

Suppose I have this text:
[code]
I place my cursor on top of the underscore, and hit control-space, and then move my cursor around to perform various experiments:

What I see after moving my cursor to the left a bit (using `[x]` to indicate that `x` is displayed in reverse-font):
[code]
What this means: the text `k: _` is selected, and will be

[2016-06-24 20:18] greschd opened #327 "Incorrect line wrapping when content does not fit the window"
When running ``xonsh`` (http://xon.sh) with the ``python-prompt-toolkit`` shell type, the current path does not wrap if it does not fit the window:

![screenshot](https://cloud.githubusercontent.com/assets/5692808/16349141/494b950c-3a57-11e6-8e70-7e4eac2600bc.png)

When typing commands, the output is not visible, but appears to be "off screen".

I brought the issue up with the ``xonsh`` developers

[2016-06-27 06:54] cwt opened #329 "pymux can't start with prompt_toolkit-1.0.3"
I install pymux with command "pip install pymux", which it will download the latest version of prompt_toolkit (1.0.3), which it can't start.

I have to downgrade prompt_toolkit back to 1.0.0 in order to make pymux working again.

Please see me screen cast here: https://asciinema.org/a/50238

[2016-06-27 19:48] jonathanslenders commented on #329
Hi @cwt,

Thanks for notifying me! I just released a new version of pymux. (0.11) Could you try to reinstall pymux? ``pip install -U pymux``?

Thanks!

[2016-06-27 19:51] jonathanslenders commented on #327
Thanks for reporting this issue, @greschd!
I'll have a look at the issue.

[2016-06-28 02:09] cwt commented on #329
Yeah! it's working now. Thanks.

[2016-06-28 02:09] #329 closed

[2016-06-29 15:26] jonathanslenders opened #332 "Pycharm terminal sends unknown mouse escape sequences"
[<64;126;-3M[<64;126;-4M[<65;126;-5M[<65;126;-4M[<65;126;-3M[<65;126;-2M[<65;126;-3M[<65;126;-2M[<65;126;-1M

[2016-07-08 14:58] xen0l opened #334 "v1.0.3 is missing in Github releases"
Version 1.0.3 is not available for downloads under releases on github. Could you fix it? It seems that it's enough to create tag.

[2016-07-08 18:09] evandrone opened #335 "Add example for converting from readline-based key bindings to Prompt Toolkit"
The [keybinding example](https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/examples/custom-key-binding.py) shows how to do some fancy things with key bindings (CtrlT to print "hello world"), so it's clear how to execute an arbitrary callable for a given key combination (or at least, for key combinations defined in from `prompt_toolkit.keys.Keys`), but if I just want to customiz

[2016-07-11 14:40] qingyunha opened #338 "duplicate lines in docstrings of layout/__init__.py"
layout/\_\_init\_\_.py:21

[code]

[2016-07-11 20:30] jonathanslenders commented on #338
Fixed: https://github.com/jonathanslenders/python-prompt-toolkit/commit/950d9b0e81395febff2d02bbb4cb328255835151

Thank you!

[2016-07-11 20:30] #338 closed

[2016-07-11 20:32] jonathanslenders commented on #334
This should be fixed now. Thanks for noticing!

[2016-07-11 20:32] #334 closed

[2016-07-12 07:10] melund opened #340 "Force ANSI escape sequences on windows"
The preview version of windows 10 has added support for ANSI escapes sequences. Still only 16 colors, but 256 are coming.

Are there a way to force prompt_toolkit to use VT100 and ansi escapes instead of the API calls when running on windows?

[2016-07-12 12:20] melund opened #341 "Ctrl-z should background processes on windows."
One loose control of the shell when foregrounding application on windows.
[code]
The only way to recover is to kill the process.

Since suspending processes doesn't work on windows, I suggest that ctrl-z should instead just background it and give the console back to the user.

[2016-07-12 17:14] jonathanslenders commented on #341
Hi @melund,

What do you mean by "background process"?
Is there any Windows application doing this?

Right now, it is ignored on Windows: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/interface.py#L744

Jonathan

[2016-07-12 17:23] jonathanslenders commented on #340
Hi @melund,

Is there a reason you want to avoid any API calls at all?

Because there is no escape sequence for getting the terminal size, and it also doesn't support the CPR escape sequence. Would it be ok for you to mix them?

Right now, there is an output class ConEmuOutput that does exactly this: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/terminal/cone

[2016-07-12 17:53] melund commented on #341
He he. I posted on the wrong project. It was a xonsh issue :) Bad habbit of quickly posting the issue not to forget. And   the prompt_toolkit  github page was open in a tab. Sorry for the confusion..

[2016-07-12 17:53] #341 closed

[2016-07-12 18:29] jonathanslenders commented on #341
No problem!

[2016-07-13 18:45] melund commented on #340
Well. If I want to use the application through a SSH connection or similar. Otherwise, I dont see the problem with the API calls. I basically wanted to know if there was a way I could test the capabilities of ansi support in windows 10 Conhost.

Does the API calls slow down prompt_toolkit? It seems that xonsh with prompt_toolkit is quite a bit slower on windows compared to linux.

I don't see why

[2016-07-13 19:40] bobburnham opened #342 "Styling an editing buffer?"
This is a very cool toolkit. I would like to make a very simple full-screen application to view code and going through the examples I have been able to style small Token objects like this:

[code]

Is there a way to style the main window, i.e. the DEFAULT_BUFFER? I have been looking through the pyvim and pymux code, but have not been able to figure it out just yet.

Thank you.

[2016-07-13 20:50] jonathanslenders commented on #340
For now, I wouldn't use the ConEmuOutput class, unless it's for testing. I'm not confident enough to say that it won't give any other issues.

Regarding #333, this could speed up the start-up time, but won't change anything at runtime. To improve the rendering time, I created this issue: https://github.com/jonathanslenders/python-prompt-toolkit/issues/241

[2016-07-14 17:06] pkgw opened #343 "Implement readline's `yank-last-arg`"
The implementation of readline's `yank-last-arg` command [is currently a TODO](https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/key_binding/bindings/emacs.py#L298). It would be good for it to actually get implemented!

[2016-07-15 17:24] haridsv opened #345 "Esc+- followed by backspace generates AssertionError"
While using iPython 5, I got the below exception when I pressed Esc+- (which showed "Repeat: -1") and then pressed backspace:

[code]

[2016-07-15 17:25] haridsv commented on #345
I am assuming this is not an iPython bug, but otherwise please let me know and I will close this and open one with iPython.

[2016-07-15 19:38] jonathanslenders commented on #345
This is definitely a prompt-toolkit bug! Thanks a lot for reporting, this has to be fixed asap.

[2016-07-15 19:55] lovesh opened #346 "Is it possible to update grammar or lexer of an already running prompt"
This is a question.
I have created an application like this
[code]

This works fine but now depending on a user's command (say a new plugin is loaded using a prompt command), i want to update the `lexer` as well as `completer` of the `app`. I tried updating the completer of the application by reseting the grammar of the buffer as
`app.buffer.grammar = newGrammarCompleter`
but this does not work. A

[2016-07-15 20:25] jonathanslenders commented on #346
Hi @lovesh,

Are you sure that you didn't assign to ``buffer.completer`` instead of ``buffer.grammar``. It should be ``completer``. However, in general, prompt-toolkit tries to work more in a functional way. That means that we consider objects immutable, and try to avoid assignments. So, instead of this:
[code]
we can also create a ``completer`` object that acts as a proxy to another completer and

[2016-07-15 20:52] jonathanslenders commented on #345
This has been fixed: https://github.com/jonathanslenders/python-prompt-toolkit/commit/bd5a2dbe2e539a826aebe661a73ada0531ff36ea

However, the behaviour is apparently not yet exactly the same like readline. This needs to be improved.

[2016-07-15 20:55] jonathanslenders commented on #335
Hi @evandrone,

This was not obvious indeed. Your question inspired me to improve the key bindings.  Now there is a new file called ``prompt_toolkit.key_binding.bindings.named_commands``: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/key_binding/bindings/named_commands.py

This is a start; it can be improved; but the idea is that we separate the implementatio

[2016-07-15 21:02] evandrone commented on #335
That's really excellent, Jonathan. Thanks!  I'd started poking at `key_bindings.bindings.emacs` with something similar in mind, but your solution is more complete and much appreciated. Cheers.

[2016-07-15 22:42] lovesh commented on #346
@jonathanslenders Hey, you are right, it had to be `app.buffer.completer = newGrammarCompleter `. Thanks. But the prompt still shows like it does not recognize the command, looks like i needs to update the lexer too

[2016-07-16 07:14] haridsv opened #347 "Negative argument to C-k should kill text backwards"
The normal behavior of `C-k` is to kill text to the end of the line. But with a -ve argument, it changes to kill text to the beginning of the line ([see](https://www.gnu.org/software/bash/manual/html_node/Readline-Arguments.html)). Right now, it behaves just like `C-k`.

NOTE: I have a patch that is working and will send it in shortly.

[2016-07-16 07:14] haridsv commented on #345
Yes, this change fixed the issue.

As for not behaving exactly like readline, I just read that `M-- C-k` should kill text back to the start of the line, so I just filed issue #347.

[2016-07-16 21:10] tsvenson opened #349 "AssertionError from full screen tutorial code"
I'm trying to follow the full screen application tutorial on http://python-prompt-toolkit.readthedocs.io/en/stable/pages/full_screen_apps.html, but get the following error on just the first code example:
[code]

List of venv-modules:
[code]

This is on Ubuntu 14.04 LTS

[2016-07-17 19:38] jonathanslenders commented on #349
Hi @tsvenson,

The error message should be improved, and there is indeed a bug in the documentation.
the 'eventloop' argument became required. I already made some changes: https://github.com/jonathanslenders/python-prompt-toolkit/commit/98161ba5650dc3d294c9ba7bb906bda4d09957ac

But this page of documentation needs to be rewritten. Documentation for creating full screen applications is also lacking

[2016-07-17 19:56] tsvenson commented on #349
Thanks for quick reply Jonathan, and the pointer to the commit including the info I need to get forward on my project.

If you are interested, I can help with the work on improving the full screen application documentation. I'm new to Python, but the project I am working on will utilizing a console based UI as a backend for system administration amongst other things. Thus, I am able to give you a

[2016-07-18 10:33] lovesh commented on #346
I had to replace the `lexer` as `app.layout.children[1].children[1].content.content.lexer = newGrammarLexer`.

[2016-07-18 21:20] zhfuzzy opened #350 "Fullscreen Application Examples"
Hi jonathan,

Thanks for the wonderful library! Currently I'm trying to build some console-based UI which should goes like this

[code]

But right now I have got no idea on how to:
- embed a real termial to a fullscreen application
- embed a custom prompt to a fullscreen application
in to this full screen prompt_tool kit app.

I've play around with the `example/full-screen-layout.py` and other exa

[2016-07-19 14:54] reckoner opened #352 "Possible to add Control+0, Control+1, etc. as keys?"
Is it possible to add the `Control+0` or other `Control` plus number keys as bindings?

[2016-07-20 07:06] zhfuzzy commented on #352
As long as I've tried in xterm and some xterm-compatible terminals, the `Control+NUM` sequense are not all get passed to the program running in the terminal.
I used this [sample code](https://gist.github.com/zhfuzzy/39827f7f77139bf4d776ff28f1e672f8) for testing, you may have a try.
The reason, though, is unclear for me, since I didn't find any clue in the [escape sequence](http://www.ccs.neu.edu/r

[2016-07-21 05:19] #346 closed

[2016-07-21 14:43] jonathanslenders opened #353 "Completion always expands to full configured space_for_menu size."
See: https://github.com/ipython/ipython/issues/9786

[2016-07-21 16:12] dsclose opened #354 ""filedescriptor out of range in select()" error in _ready_for_reading"
On a machine with more than 1024 open file-descriptors, the _ready_for_reading function (eventloop/posix.py) will always raise a "ValueError: filedescriptor out of range in select()".

This is because of the use of the select.select function to poll file-descriptors. A hard-limit of 1024 on any file-descriptor passed to select.select is built into Python at compile-time using the FD_SETSIZE value.

[2016-07-21 19:55] jonathanslenders commented on #354
Thanks for creating this issue! I really had no idea this would happen.

Probably, I can fall back to epoll or poll if ``ValueError`` is raised. Which one is better?

[2016-07-21 20:00] takluyver commented on #354
AIUI, the main difference is in which platforms each function exists on. `select` is pretty universal, `poll` is widespread but not universal, `epoll` is Linux specific and `kqueue` is BSD specific. More info here:
https://docs.python.org/3/library/select.html

On Python 3, the [selectors](https://docs.python.org/3/library/selectors.html) module provides a high-level interface which will automatic

[2016-07-21 20:02] jonathanslenders commented on #352
As far as I know, this is not possible on a Vt100 terminal.
Some control-keys will actually generate some input, but they seem to be aliases only for other control keys.

On, my keyboard for instance some control-number combinations result in: backspace, control-backslash, control-], control-^ and control-_.  Some control-number combinations don't do anything at all.

[2016-07-21 20:08] jonathanslenders commented on #56
I started moving many of the Emacs key bindings into a separate file, attaching them to the readline names: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/key_binding/bindings/named_commands.py
Many readline commands are still missing, but I guess we have now half of them by name.

The next step is to parse .inputrc, then use ``prompt_toolkit.terminal.vt100_in

[2016-07-21 20:22] jonathanslenders commented on #350
Hi @zhfuzzy,

Thanks for the interesting question!

This is possible, however not trivial. In order to embed a terminal, there's a lot to do, and I don't want to suggest that the way to do it, is to reproduce code from pymux, because that will be difficult to maintain, especially without a deep understanding of how pseudoterminals and many posix concepts work. (I made it too complex, unfortunately

[2016-07-21 20:25] jonathanslenders commented on #349
Hi @tsvenson,

Thanks for proposing this! I really apprecatiate it, documentation is very important.

However, some of the APIs will change, so don't wast too much of your time right now, documenting full screen applications. See: https://github.com/jonathanslenders/python-prompt-toolkit/issues/350
On the other hand, if you're willing to improve the documentation about "prompts", go ahead. That's

[2016-07-21 20:28] jonathanslenders commented on #161
See also: https://github.com/jonathanslenders/python-prompt-toolkit/issues/350

(Right now, it's still difficult to create very custom full screen applications. Like in: much more difficult than I'd like it to be. But due to high demand, this becomes a priority for me. Expect in about 6-12 months to have an improved API for full screen applications.)

[2016-07-21 20:33] j-bennet commented on #161
Thanks @jonathanslenders, can't wait for that!

[2016-07-21 20:43] #347 closed

[2016-07-21 20:59] zhfuzzy commented on #350
I understand that `prompt_toolkit`, by it's name, is not meant to be used as a fullscreen terminal framework, so thanks for the effort you made in extending it.

I'm trying to understand `pseudo-terminals` and some `prompt_toolkit`'s internal by cutting pymux codebase into small pieces and stepping through the code base, but still, if there are any articles and experiment code you used in the earl

[2016-07-21 20:59] #350 closed

[2016-07-22 00:41] memeplex opened #355 "Support terminal output color indexes"
Currently `_color_to_code` implements sophisticated support for vt100 terminal colors:

1. Ansi names.
2. 16 colors.
3. 256 colors.
4. True color.

What is missing is the possibility to directly pass the code. This is important since some people (like me, using base16 themes) customize the first 16 colors to their heart contents. I believe it's a very simple change: if color is an int simply retur

[2016-07-22 00:48] memeplex commented on #355
This is sad: my motivating use case was to fix ipython 5 colors, but now I realize pygments require a specific color format that bans the int codification. Maybe it's better to just rely on true color support.

[2016-07-22 03:45] memeplex commented on #355
I ended up with a hackish solution which consists in updating the color caches with my own code.

I think you may offer a more formal interface to do that, something like set_exact_colors(list of (index, color)), so that `__missing__` can look there first and only then try to be smart about approximating colors.

[2016-07-22 10:13] jonathanslenders commented on #355
Hi @memeplex,

What about using the ANSI colors? The idea is that they map exactly to those 16 colors. @Carreau made a patch to Pygments (not yet released) to support ANSI colors as well. But prompt-toolkit applications have it already, because they use the compatible style implementation of prompt-toolkit itself.

The style should look like this:
[code]

https://github.com/jonathanslenders/python

[2016-07-22 12:20] memeplex commented on #355
I had thought about using the ansi colors but:

1. They dont map to the 0-15 space according to https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/terminal/vt100_output.py. Maybe I'm missing something here.

2. They didn't play well with my version of pygments.

[2016-07-22 12:49] jonathanslenders commented on #355
They should map 0-15. Remember that the (foreground) colors are in the 30–37 range and the high intensity colors are in the 90–97 range. See this page for more information: https://en.wikipedia.org/wiki/ANSI_escape_code#Colors

[2016-07-22 12:54] memeplex commented on #355
Ok, then I will wait for the pygments patch and there is no need to do anything else. Thanks!

[2016-07-22 16:18] memeplex commented on #355
I'm reopening this because I realize simple ansi colors won't cover my use case (create a base16 theme for prompt_toolkit + pygments + ipython): base16-shell sets colors 16 to 23. More in general, the idea of having a user color map as I described above seems pretty easy to implement and it gives a very flexible hook for power users.

[2016-07-22 16:28] Carreau commented on #355
I would need to understand a bit more how windows does things, the point of the ansi color code is that the terminal **itself** choose the theme:

![color](https://cloud.githubusercontent.com/assets/335567/17063852/383eecd0-4fee-11e6-8c28-52b42d244a9f.gif)

[Look at the `(rootenv)` text that change live.]

So you **should** be able to create a ainsi theme, and set your terminal to be in general ba

[2016-07-22 16:33] memeplex commented on #355
Some people sets a palette for their terminal using X resources or escape sequences. This palette is not restricted to 16 colors, so the ansii names are not general enough. The 6x6x6 color cube is a nice, plug&play, solution but: 1. It's only an approximation, 2. If you have set your own palette above color 0F, then you have screwed up the color cube (for good).

[2016-07-22 17:17] memeplex commented on #355
This is the base16-shell default-dark palette:

![2016-07-22-141530_760x330_scrot](https://cloud.githubusercontent.com/assets/2845433/17065179/c89d29c2-5016-11e6-9851-797e2a65585e.png)

This is what I'm doing:

[code]

[2016-07-22 20:18] tsvenson commented on #349
Hi @jonathanslenders,

Very much like the plan outlined in #350 as those API changes will be incredible good improvements for the project I just started on.

Since, after research and comparison, I've opted to make Prompt Toolkit a core dependency my goal is to really learn it. However, I am new to Python and also rusty from a decade pretty much away from coding, even though it is beginning to com

[2016-07-22 22:43] anntzer opened #356 "vi-mode digraphs could search for the "swapped" digraph"
From the Vim docs:

{char2}{char1}.  This helps when you don't remember which character comes
first.

This would be nice to have here too.  (It actually took me a while to figure out that PTK does support digraphs and that I memorized quite a few of them in the wrong order... :-))

[2016-07-22 22:47] anntzer opened #357 "Additional text objects (vi-mode)"
These are not standard but could be useful too:

https://github.com/vim-scripts/argtextobj.vim

https://github.com/michaeljsmith/vim-indent-object

[2016-07-23 12:35] jonathanslenders commented on #345
#347 has been fixed, so I close this one. Feel free to open again, if I'm missing something!

[2016-07-23 12:35] #345 closed

[2016-07-23 16:11] jonathanslenders commented on #356
Hi @anntzer,

Thank you for pointing this out! It has been implemented in the following commit: https://github.com/jonathanslenders/python-prompt-toolkit/commit/572198f15616935247f2d01275f05af3a1efd1f1

Cheers,
Jonathan

[2016-07-23 16:11] #356 closed

[2016-07-24 11:28] jonathanslenders opened #358 "Stop replacing \r with \n"
See: https://github.com/jonathanslenders/pymux/issues/49

[2016-07-24 11:29] haridsv commented on #343
How about creating a patch based on [this gist](https://gist.github.com/haridsv/7b8ea0a6861582b1bc0b6997f075b980) ? I doesn't currently cycle back to the beginning, but it should be easy to modify it. It is also not identical to the readline's behavior, specifically on how readline recalls arguments from `(n-1)th` item if you are currently at `nth` item, but honestly, I prefer always starting from

[2016-07-24 11:35] haridsv commented on #358
Thank you, @jonathanslenders! Note that you would also need to clear additional flags while switching to raw mode, e.g.,:

[code]

I confirmed that the current setup is not enough as the terminal driver would have already done the switch by the time we would see the key.

[2016-07-24 11:51] jonathanslenders commented on #358
Thank you! I didn't know about this.

[2016-07-24 11:56] haridsv opened #359 "Unable to enter a single-digit -ve argument"
In readline, to enter a -ve argument, you start with `<Esc>` followed by `-`, which immediately defaults to `-1` as the argument (`(arg: -1)`), but as soon as you enter a digit, say `5`, the argument changes to `-5` (`(arg: -5)`). The same sequence in prompt-toolkit results in an argument of `-15` with no way to enter `-5` as argument.

[2016-07-24 11:57] haridsv commented on #343
The gist also takes care of `yank-nth-arg`, though I noticed that the issue #359 makes it less useful.

[2016-07-24 12:00] haridsv commented on #358
Here is what the [termios man page](http://linux.die.net/man/3/termios) says about these flags:

[code]

[2016-07-24 12:55] haridsv commented on #359
Actually, readline's behaves is a little more complex when used with `Alt`. After starting a -ve argument, if you continue entering digits with the combination of `Alt`, they immediately get appended (like the current behavior in prompt-toolkit). I.e., `Alt-` followed by `Alt-5` will result in `-15`. Even `Alt--5` without releasing `Alt` in between `-` and `5` results in `-15`, but if you release

[2016-07-24 13:02] haridsv commented on #359
Actually, there is more to this, if we really want to emulate closely with readline. In readline, once you start entering an argument, you no longer have to keep `Alt` pressed, so it basically enters into a different mode (like a search mode) that continues consuming digits. This can however be addressed as a separate feature and is also backwards incompatible, in case some prompt-toolkit applicat

[2016-07-24 13:20] haridsv opened #361 "Negative argument needs to be supported for cursor movement commands"
Readline supports reversing the direction of the cursor movement with a -ve argument. I.e., `<Esc>-f` with `-2` as argument is same as `<Esc>-b` with `2` as the argument. The same seems to also work for others, like left and right arrow keys.

[2016-07-24 20:28] therden opened #362 "Hyphen or underscore in library name?"
There seems to be some confusion about the name of this library:  specifically, whether a hyphen or an underscore separates 'prompt' and 'toolkit'.

- The README.rst file in the repo sometimes uses one and sometimes the other form.  For example, the pip install instructions found there use the hyphenated form of the name.

- In contrast, except for the URL itself (which uses a hyphen), the readthe

[2016-07-26 18:23] chris-b1 opened #363 "Option to disable bell?"
Thanks for the great library.  I'm using ConEmu on Windows, and one thing that's a little annoying upgrading to IPython 5.0 is the bell sound that is triggered if I hit backspace on a an empty line - just quickly skimming the code - I'm assuming it's triggered here?

https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/key_binding/bindings/named_commands.py#L181

I